/* Breadcrumbs */

ul.breadcrumb {
	margin: 0;
	margin-bottom: 2em;
	padding: 1em 2em;
	list-style: none;
	background: var(--breadcrumbs-background);
	border: var(--breadcrumbs-border);
	border-radius: var(--border-radius);

	li {
		display: inline-block;
		&::before {
			content: "/\00a0";
			padding: 0 5px;
			color: var(--breadcrumbs-text-color);
		}
		a {
			color: inherit;
		}
	}
}
