/* Buttons & Button Groups */

.btn(@type) {
	background: ~"var(--button-@{type}-background)";
	color: ~"var(--button-@{type}-text-color)";
	text-decoration: none;
	font-weight: 500;
	&:hover:not(.active):not(.disabled):not([disabled]) {
		background: ~"var(--button-@{type}-background-hover)";
	}
	&.active {
		background: ~"var(--button-@{type}-background-active)";
		border: ~"var(--button-@{type}-border)";
	}
}

.btn {
	cursor: pointer;
	display: inline-block;
	padding:  0.75em 1.5em;
	text-decoration:  none;
	font-weight: normal;
	border-radius: var(--border-radius);
	//box-shadow: 0 1px 0px rgba(0, 0, 0, .25);
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border: none;

	touch-action: manipulation;
	user-select: none;

	&.btn-default { .btn("default"); }
	&.btn-success { .btn("success"); }
	&.btn-danger { .btn("danger"); }

	&.btn-hover-outline {
		background: transparent;
		color: inherit;
		text-decoration: none;
		border: 1px solid transparent;
		&:hover {
			border: var(--default-border);
		}
	}

	&.btn-app {
		border-inline-start: 5px solid var(--app-color);
	}

	&.btn-icon {
		padding-left: 1em;
		padding-right: 1em;
		.fa {
			margin-inline-end: 0;
		}
	}

	&.btn-sm { font-size: .75em; padding: .25em 1em; }
	&.btn-lg { font-size: 1.2em; }

	&.active, &:active { box-shadow: inset 2px 2px 0px 0 rgba(0, 0, 0, .05); }
	&.disabled, &[disabled] { opacity: 0.5; cursor: not-allowed; }
	[data-type="toggle"] { display: none; }

	+ .btn {
		margin-inline-start: .5em;
	}
}

.btn-block {
	width: 100%;
	.btn + .btn {
		margin-inline-start: 0;
		margin-top: .5em;
	}
}

.btn-group {
	position: relative;
	display: inline-flex;
	border-radius: var(--border-radius);
	.btn {
		flex: 1 0 auto;
		margin-inline-start: -1px;
	}
	&:not(.btn-group-vertical) > .btn:not(:first-child) {
		border-inline-start: var(--default-border);
	}
	>.btn:first-child:not(:last-child):not([data-toggle="dropdown"]) {
		border-start-end-radius: 0;
		border-end-end-radius: 0;
	}
	>.btn:not(:first-child):not(:last-child):not([data-toggle="dropdown"]) {
		border-radius: 0;
	}
	>.btn:last-child:not(:first-child), >[data-toggle="dropdown"]:not(:first-child) {
		border-start-start-radius: 0;
		border-end-start-radius: 0;
	}
}

.btn-group-vertical {
	.btn {
		display: block;
		border-radius: 0;
		font-size: inherit;
		margin-top: -1px;
		&:first-child {
			border-start-start-radius: var(--border-radius);
			border-start-end-radius: var(--border-radius);
		}
		&:last-child {
			border-end-start-radius: var(--border-radius);
			border-end-end-radius: var(--border-radius);
		}
	}
}
