/* Panels - Bootstrap Compatible */

.card {
  margin-bottom: var(--gutter-size);
  background-color: var(--card-background-color);
  //border: 1px solid var(--card-border-color);
  border-radius: var(--border-radius);
  box-shadow: 0 1px .25rem var(--shadow-color);

  .card-header, .card-body, .card-footer {
    padding: 2em;
    padding-top: 0;
  }

  .card-header:first-child, .card-body:first-child, .card-footer:first-child {
    padding-top: 2em;
  }

  .card-header {
    color: var(--card-header-text-color);
    background-color: var(--card-header-background-color);
    border-bottom: 0px solid var(--card-border-color);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    line-height: 100%;
    .card-title {
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

  .card-body {
  }

  .card-footer {
    background-color: var(--default-background-color);
    border-top: 1px solid var(--card-border-color);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    box-shadow: inset 0px 10px 15px -15px rgba(0, 0, 0, .25);
  }
}

.card-app {
  position: relative;
  > .card-header {
    .icon-wrapper {
      font-size: 24px;
    }
  }

  .card-action {
    position: absolute;
    top: var(--gutter-size);
    right: var(--gutter-size);
    z-index: 999;
  }

  .card-filter {
    display: flex;
    gap: ~"calc(var(--gutter-size) / 2)";
    padding: var(--gutter-size);
    padding-top: 0;
    > * {
      &.expandable {
        flex-grow: 1;
      }
    }
  }

  .card-footer:blank {
    display: none;
  }
}

.featherlight .card-app .card-action {
  position: initial !important;
  top: auto;
  right: auto;
}
