/* Cards */

.card {
	margin-bottom: var(--gutter-size);
	background-color: var(--card-background-color);
	//border: 1px solid var(--card-border-color);
	border-radius: var(--border-radius);
	color: var(--card-text-color);

	.card-header, .card-filter, .card-body, .card-footer {
		padding: 1em 2em;
	}

	> *[class*="card-"]:first-child {
		padding-top: 2em;
		padding-bottom: 1em;
	}
	> *[class*="card-"]:last-child {
		padding-bottom: 2em;
	}
	> *[class*="card-footer"]:last-child {
		padding-top: 2em;
	}

	.card-header {
		color: var(--card-header-text-color);
		background-color: var(--card-header-background-color);
		border-bottom: 0px solid var(--card-border-color);
		border-radius: var(--border-radius) var(--border-radius) 0 0;
		.card-title,
		.panel-title {
			font-weight: bold;
			font-size: 1.5rem;
		}
	}

	.card-body {
		background-color: var(--card-body-background-color);
	}

	.card-footer {
		background-color: var(--card-footer-background-color);
		border-end-end-radius: var(--border-radius);
		border-end-start-radius: var(--border-radius);
		box-shadow: inset 0px 10px 15px -15px rgba(0, 0, 0, .25);
	}
}

.card-app {
	position: relative;

	> .card-header {
		.icon-wrapper {
			font-size: 24px;
		}
	}

	.card-action {
		position: absolute;
		top: var(--gutter-size);
		right: var(--gutter-size);
		display: flex;
		gap: .5em;
	}

	.card-filter {
		display: flex;
		gap: var(--gutter-size);
		> * {
			&.expandable {
				flex-grow: 1;
			}
		}
	}

	.data-table {
		margin: 0;
	}

	.card-footer {
		> *:last-child {
			margin-bottom: 0;
		}
		&:blank {
			display: none;
		}
	}

	#actions {
		width: fit-content;
		margin-right: auto;
	}
}

[dir="rtl"] .card .card-action {
	left: var(--gutter-size);
	right: auto;
}

.featherlight .card-app {
	.app-icon {
		display: none;
	}
	.card-action {
		//position: initial !important;
		//top: auto;
		//right: auto;
	}
}
