/* Input Fields & Input Groups - Bootstrap Compatible */

.input-field() {
  padding: ~"calc(var(--input-padding-y) + 1px)" ~"calc(var(--input-padding-x) + 1px)";
  position: relative;
  color: var(--input-text-color);
  background: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  //box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, .10);
  border-radius: var(--border-radius);
}

fieldset {
  padding: calc(var(--gutter-size) / 2) var(--gutter-size);
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  > legend {
    font-size: 1.25em;
    padding: .25em .5em;
  }
  &:disabled {
    opacity: 0.5;
  }
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
}

input[type="number"] {
  text-align: right;
}

.form-group {
  margin-bottom: 1em;
  &.required label::after {
    content: ' *';
    color: #f00;
  }
  > label:not(.form-check) {
    display: block;
    font-size: .9em;
  }
}

.form-check {
  display: block;
  user-select: none;
  line-height: 250%;

  input {
    display: inline-block;
    position: relative;
    -webkit-appearance: none;
    margin-inline-end: .25em;
    background: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    vertical-align: text-bottom;
    height: 1.25em;
    width: 1.25em;

    &:checked {
      background-color: #0066bb;
    }
    &:hover {
      box-shadow: 0 0 0 0.25rem #ccc;
    }
    &:disabled {
      opacity: .5;
    }
  }

  input[type="checkbox"] {
    border-radius: var(--border-radius);
    &:checked {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/></svg>");
    }
  }

  input[type="radio"] {
    border-radius: 50%;
    &:checked {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='%23fff'/></svg>");
    }
  }
}

.form-check:hover  input[type="checkbox"],
.table tr:hover .form-check input[type="checkbox"],
.form-check:hover  input[type="radio"],
.table tr:hover .form-check input[type="radio"] {
  box-shadow: 0 0 0 .25rem #ccc;
}

.form-input {
  .input-field();
  display: block;
  width: 100%;
  color: var(--input-text-color);
  vertical-align: middle;
  overflow-y: auto;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  //transition: all 50ms;
  &[type="color"] {
    height: 37px;
  }
  &[type="file"] {
    font-size: .75em;
  }
  &[disabled] {
    background: #f3f3f3;
    opacity: 0.5;
  }
  &[readonly] {
    color: #999;
  }
}

.form-select {
  .input-field();
  display: block;
  width: 100%;
  padding-inline-end: 2.5em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1em center;
  background-size: 16px 12px;
  cursor: default;

  option {
    background: var(--input-background-color);
  }

  user-select: none;
  appearance: none;
}

.form-switch {
  width: 2em;
  height: 1em;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-4 -4 8 8"><circle r="3" fill="rgba%280, 0, 0, 0.25%29"/></svg>');
  background-position: left center;
  border-radius: 2em;
  margin-top: .25em;
  vertical-align: top;
  background-color: var(--whitespace-color);
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, .25);
  appearance: none;
  -webkit-print-color-adjust: exact;
  transition: background-color .15s ease-in-out,background-position .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:active {
    filter: brightness(90%);
  }
  &:checked {
    background-position: right center;
    background-color: #666;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-4 -4 8 8"><circle r="3" fill="%23fff"/></svg>');
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem #ccc;
  }
  &:disabled {
    opacity: .5;
  }
}

.input-group {
  .input-field();
  display: flex;
  padding: 0;
  overflow: hidden;

  .form-input, .input-group {
    display: inline-block;
    flex: 1 1 auto;
    box-shadow: none;
    border-radius: 0;
    border: none;
    + .form-select {
      width: auto;
    }
  }
  .form-select {
    display: inline-block;
    flex: 1 1 auto;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;
    border-top: none;
    border-bottom: none;
    &[disabled] {
      opacity: .5;
    }
  }
  .input-group-text {
    flex: 0 1 auto;
    padding: var(--input-padding-y) var(--input-padding-x);
    background-color: var(--input-addon-background-color);
    border-left: 1px solid var(--input-border-color);
    border-right: 1px solid var(--input-border-color);
    color: var(--input-text-color);
    align-self: stretch;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
  }
  .input-group-icon {
    flex: 0 1 auto;
    padding: .5em 1em;
    margin-inline-end: -12px;
  }
  .btn {
    margin: -1px; // Compensate for input border
  }
  //> *:first-child:is(.btn, .form-select, .form-input) {
  > *:first-child {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }
  //> *:last-child:is(.btn, .form-select, .form-input) {
  > *:last-child {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
  *:first-child:is(.form-input),
  *:first-child:is(.form-select),
  *:first-child:is(.input-group-text),
  *:first-child:is(.input-group) {
    border-left: none;
  }
  *:last-child:is(.form-input),
  *:last-child:is(.form-select),
  *:last-child:is(.input-group-text),
  *:last-child:is(.input-group) {
    border-right: none;
  }

  .form-input + .form-input,
  .form-input + .form-select,
  .form-input + .input-group,
  .form-select + .form-input,
  .form-select + .form-select,
  .form-select + .input-group,
  .input-group + .form-input,
  .input-group + .form-select,
  .input-group + .input-group {
    border-left: 1x solid var(--input-border-color) !important;
  }
}

.form-group > .form-input + .form-input,
.form-group > .form-input + .form-select,
.form-group > .form-input + .input-group,
.form-group > .form-select + .form-input,
.form-group > .form-select + .form-select,
.form-group > .form-select + .input-group,
.form-group > .input-group + .form-input,
.form-group > .input-group + .form-select,
.form-group > .input-group + .input-group {
  margin-top: -1px; // Compensate for border
}

.table .form-check {
  line-height: 100%;
}
.table-striped .form-input,
.table-striped .form-select {
  background-color: var(--whitespace-color);
}

fieldset[disabled] > :not(legend),
:input[disabled],
.form-input[disabled],
.form-select[disabled] {
  opacity: .5;
}

[data-toggle="buttons"] input[type="checkbox"],
[data-toggle="buttons"] input[type="radio"] {
  display: none;
}
