@import "framework/media.less";

body {
  @media(min-width: @media-breakpoint-md) {
    background: linear-gradient(90deg, rgba(255,255,255,0) calc(50% - 20px), #eee 50%, #fff 50%);
    //background: linear-gradient(90deg, #fff 0%, #ccc 50%, rgba(255,255,255,0) calc(50% - 20px));
  }
}

#content {
  padding: .5rem 1rem;
  @media(min-width: @media-breakpoint-sm) {
    padding: 1rem;
  }
}

.loader-wrapper {
  position: fixed;
  top: 50%;
  left: 10%;
  right: 10%;
  text-align: center;
  margin-top: -128px;
  opacity: 0.1;
  z-index: 999999;
}

#header {
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 250px auto;
  .contact-info {
    align-self: center;
    text-align: right;
    line-height: 150%;
    @media(min-width: @media-breakpoint-sm) {
      font-size: 1.25em;
    }
    .title {
      font-weight: bold;
      margin: 0;
    }
  }
}

#box-checkout {
  padding: 2em 0;
}

#box-checkout-cart {
  .thumbnail {
    max-width: 64px;
  }
  tr td {
    vertical-align: middle;
    &:first-child a {
      display: inline-block;
    }
    &:last-child {
      text-align: right;
    }
  }
  .error {
    color: #f00;
  }
  .subtotal {
    font-size: 1.5em;
  }
}

#box-checkout-customer {
  .title {
    margin-top: 0;
  }
  fieldset {
    border: none;
    padding: 0;
  }
  button[type=submit]:not([disabled]) {
    font-weight: bold;
    color: rgba(255,0,0,1);
    animation: flasher 1s linear infinite;
  }
}

#box-checkout-shipping, #box-checkout-payment {

  .option {
    display: block;
    position: relative;
    padding: .25em;
    border: 1px solid var(--default-border-color);
    border-bottom: none;
    user-select: none;
    overflow: hidden;

    .error {
      color: #c00;
    }
    .content {
      max-height: 0;
      overflow-x: hidden;
      overflow-y: hidden;
      text-align: left;
      transition: all 0.25s ease;
    }
  }

  .option-wrapper:first-child .option {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
  .option-wrapper:last-child .option {
    border-bottom: 1px solid var(--default-border-color);
    border-radius: 0 0 var(--border-radius) var(--border-radius)
  }

  input[name$="_option[id]"] {
    &:checked + .option {
      border-color: orange;
      .name {
        font-weight: bold;
      }
      .content {
        max-height: 200px;
        overflow-y: auto;
      }
     &::after {
        position: absolute;
        top: 15px;
        right: -25px;
        transform: rotate(45deg);
        background: orange;
        width: 100px;
        font-size: .8em;
        text-align: center;
        color: #000;
      }
    }
    &:not(:disabled):not(:checked) + .option {
      cursor: pointer;
    }
    &:disabled + .option {
      opacity: .75;
    }
  }

  @media(min-width: @media-breakpoint-sm) {
    .option {
      padding: .5em;
    }
  }
}

.summary.wrapper {
  height: 100%;
}
#box-checkout-summary {
  .alert {
    padding: var(--input-padding-y) var(--input-padding-x);
    text-align: center;
    line-height: 24px;
  }
  input[type=checkbox][required]:not(:checked) {
    animation: flasher 1s linear infinite;
  }
  @media(min-width: @media-breakpoint-md) {
    position: sticky;
    top: 3.5em;
  }
}
