@import "framework/media.less";

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

/* Variables */

:root {
  --border-radius: .5rem;
  --gutter-size: 1rem;
  --link-text-color: #5292b1;
  --whitespace-color: #fff;
  --shadow-color: rgba(0, 0, 0, .15);

  --listing-border-color: #ccc;

  --site-background-color: #f2f2f7;
  --header-background-color: #fff;

  --sidebar-width: 320px;

  --default-text-font: 'Fira Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  --default-text-color: #444;
  --default-text-size: 15px;
  --default-line-height: 1.5;
  --default-title-color: #333;
  --default-title-border-color: #f0f0f0;
  --default-border-color: #e5e7eb;

  --top-navigation-background-color: #5a5a95;
  --top-navigation-text-color: #fff;

  --navigation-background-color: #fbfbffcc;
  --navigation-text-color: #333;

  --card-background-color: #fff;
  --card-text-color: var(--default-text-color);
  --card-border-color: var(--default-border-color);
  --card-header-background-color: transparent;
  --card-header-text-color: var(--card-text-color);
  --card-body-background-color: transparent;
  --card-footer-backgorund-color: #f2f3f6;

  --primary-background-color: #3b4763;
  --primary-background-color-hover: #4aaac7;
  --primary-background-color-active: #3596b3;
  --primary-text-color: #fff;

  --button-default-background-color: #e1e1e1;
  --button-default-background-color-hover: #e4e4e4;
  --button-default-background-color-active: #ccc;
  --button-default-border-color: #cfcfcf;
  --button-default-border-color-hover: #cfcfcf;
  --button-default-border-color-active: transparent;
  --button-default-text-color: #444;

  --button-success-background-color: #91C231;
  --button-success-background-color-hover: #90c920;
  --button-success-background-color-active: #81b123;
  --button-success-border-color: #91C231;
  --button-success-text-color: #fff;

  --button-danger-background-color: #d9534f;
  --button-danger-background-color-hover: #d04a46;
  --button-danger-background-color-active: #db5d59;
  --button-danger-border-color: rgba(0,0,0,0.1);
  --button-danger-text-color: #fff;

  --default-notice-background-color: #f0f0f0;
  --default-notice-text-color: #333;

  --primary-notice-background-color: #5bc0de;
  --primary-notice-text-color: #000;

  --success-notice-background-color: #d6eca6;
  --success-notice-text-color: #567d00;

  --warning-notice-background-color: #ffcc66;
  --warning-notice-text-color: #aa0000;

  --danger-notice-background-color: #fcc;
  --danger-notice-text-color: #c44;

  --breadcrumbs-background-color: #fff;
  --breadcrumbs-background-color-hover: #efefef;
  --breadcrumbs-text-color: #000;
  --breadcrumbs-border-color: #e7e7e7;

  --input-background-color: #fff;
  --input-border-color: #ebebee;
  --input-padding-x: 1em;
  --input-padding-y: .5em;
  --input-text-color: #444;

  --pills-background-color: #fff;
  --pills-background-color-hover: #ebebee;
  --pills-background-color-active: #c7c7cf;
  --pills-border-color: var(--default-border-color);
  --pills-border-color-hover: #d3d3d3;
  --pills-border-color-active: #bbbbbb;
  --pills-text-color: #333;
  --pills-text-color-active: var(--pills-text-color);

  --tabs-background-color: #e5e5ea;
  --tabs-background-color-active: #fff;
  --tabs-text-color: #333;
  --tabs-text-color-active: var(--tabs-text-color);

  --table-striped-row-background-odd: #f9f9f9;
  --table-striped-row-background-even: #fff;
  --table-row-hover-background: #ececec;

  --pagination-background-color: var(--default-background-color);
  --pagination-text-color: var(--default-text-color);
  --pagination-border-color: var(--default-border-color);
  --pagination-active-background-color: var(--primary-background-color);
  --pagination-active-text-color: #fff;
  --pagination-hover-background-color: var(--primary-background-color);
  --pagination-hover-text-color: #fff;

  --footer-background-color: #e4e4ed;
  --footer-title-color: #333;
  --footer-text-color: #333;

  --copyright-background-color: #a4a4b9;
  --copyright-text-color: var(--footer-text-color);

  --cookie-notice-background-color: #334c;
  --cookie-notice-text-color: #fff;
}

.box.box-default, .card {
  --input-background-color: #f9f9f9;
}

@media (min-width: @media-breakpoint-sm) {
  :root {
    --gutter-size: 1.25rem;
  }
}
@media (min-width: @media-breakpoint-md) {
  :root {
    --gutter-size: 1.5rem;
  }
}
@media (min-width: @media-breakpoint-lg) {
  :root {
    --gutter-size: 2rem;
  }
}
