# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*.{css,html,js,json,less,php,scss,xml}]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.{css,js,less,php,scss}]
insert_final_newline = true
