## EditorConfig: https://EditorConfig.org
# - Atom Plugin: https://github.com/sindresorhus/atom-editorconfig
# - Notepad++ Plugin: https://github.com/editorconfig/editorconfig-notepad-plus-plus
# - Sublime Plugin: https://github.com/sindresorhus/editorconfig-sublime
# - Visual Studio Code Plugin: https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig

root = true

[*.{cjs,css,htaccess,html,js,jsx,json,less,md,mjs,php,scss,sh,sql,svg,ts,tsx,xml},Dockerfile,pre-commit]
charset = utf-8
indent_style = tab
indent_size = 2
trim_trailing_whitespace = true

[*.{yaml,yml}]
charset = utf-8
indent_style = space
indent_size = 2

[*.{cjs,htaccess,js,jsx,less,md,mjs,php,sh,scss,sql,ts,tsx},Dockerfile]
insert_final_newline = true

[*.{csv,json,svg,yml,yaml,xml}]
insert_final_newline = false
