## EditorConfig: https://EditorConfig.org
# - Atom Plugin: https://github.com/sindresorhus/atom-editorconfig
# - Notepad++ Plugin: https://github.com/editorconfig/editorconfig-notepad-plus-plus
# - Sublime Plugin: https://github.com/sindresorhus/editorconfig-sublime
# - Visual Studio Code Plugin: https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig

root = true

[*.{css,html,js,json,less,md,php,scss,sql,xml}]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.{css,js,less,md,scss,sql}]
insert_final_newline = true
