[data-toggle*="momentum-scroll"] {
  overflow-x: auto;
  overflow-y: visible;
  touch-action: pan-x;
  grid-auto-flow: column;
  user-select: none;
  -webkit-overflow-scrolling: touch;

  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
  cursor: grab;

  &::-webkit-scrollbar {
    height: 7.5px;
    * {
      background: transparent;
    }
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.25) !important;
    border-radius: 6px;
  }

  a {
    cursor: inherit;
  }
}
