body {
	background: var(--site-background);
}

h1 { font-size: 1.25em; }
h2 { font-size: 1.20em; }
h3 { font-size: 1.15em; }
h4 { font-size: 1.10em; }

#backend-wrapper {
	display: flex;
	min-height: 100vh;
	width: 100%;
}

#sidebar {
	flex: 0 0 var(--sidebar-width);
	background: var(--sidebar-background);
	box-shadow: 0 1px 1rem rgba(0, 0, 0, .05);
	padding: 1.5em;
	min-height: 100vh;

	.logotype {
		display: block;
		padding: 1em;
		margin-bottom: 1em;
		img {
			max-height: 30px;
		}
	}

	.platform {
		display: inline-block;
		padding: .5em 1em;
		margin: 10px auto;
		letter-spacing: 1pt;
		text-align: center;
		font-weight: 700;
		color: var(--copyright-text-color);
		border-radius: var(--border-radius);
		&:hover {
			background: rgb(230, 228, 235);
			text-decoration: none;
		}
	}

	.copyright {
		margin-bottom: var(--gutter-y);
		font-size: .75em;
		color: var(--copyright-text-color);
		text-align: center;
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

#main {
	flex: 1 1 auto;
	margin: 1em var(--gutter-x);
}

#sidebar-compact:checked {
	padding: var(--gutter-y) var(--gutter-x);

	~ #sidebar {
		flex-basis: auto;

		.name, .docs {
			display: none;
		}

		.logotype,
		.filter,
		//.platform .name,
		.platform,
		.copyright {
			display: none;
		}
	}

	#box-apps-menu {
		margin-top: 0;

		> .app:hover {

			&:before {
				position: absolute;
				display: block;
				content: ' ';
				height: 41px;
			}

			a {
				box-shadow: none;
			}
			.docs {
				display: block;
				position: absolute;
				top: 0;
				margin-inline-start: 25px;
				width: ~"calc(var(--sidebar-width) - 64px)";
				padding: 1em;
				background: #fffe;
				z-index: 999;
				box-shadow: 0 0 5px rgba(0, 0, 0, .15);
				border-radius: var(--border-radius);
				.name {
					display: inline-block;
				}
			}
		}
	}
}

#toolbar {
	display: flex;
	gap: .75em 1em;
	padding: .75em 1em;
	list-style: none;
	border-radius: var(--border-radius);
	margin: 0;
	margin-bottom: var(--gutter-y);
	background: var(--toolbar-background);
	color: var(--toolbar-text-color);
	border-bottom: var(--toolbar-border-width) solid var(--default-border-color);

	> li {
		align-self: center;
		flex: 0 0 auto;

		> a {
			padding: 1em;
			display: block;
			color: inherit;
			text-decoration: none;
			border-radius: var(--border-radius);
			&:hover {
				background: var(--navigation-background--hover);
			}
		}

		.btn-group {
			padding: 6px;
			.btn-sm {
				padding: .15em 1em;
			}
		}
	}

	.nav-toggle {
		padding: 5px 10px;
		background: var(--navigation-background);
		border-radius: var(--border-radius);
		cursor: pointer;
		&:hover {
			filter: brightness(.9);
		}
	}

	.form-toggle {
		gap: .5em;
	}
}

#search {
	margin-inline-end: 2em;
	.dropdown-menu {
		left: 0;
		right: 0;
		max-height: 80vh;
		overflow-y: auto;
	}
	.loader-wrapper {
		position: relative;
	}

	.no-results {
		font-size: 2em;
	}

	.results {
		padding: 1em;
		.result {
			margin-bottom: 5px;

			a {
				display: block;
				color: inherit;
				text-decoration: none;
				background: #fff;
				padding: .5em 1em;
				border-radius: var(--border-radius);
				transition: all 100ms linear;
				&:hover {
					transform: scale(1.03);
				}
			}

			.id {
				opacity: 0.5;
			}

			.title {
				font-weight: bold;
			}

			.description {
				opacity: 0.75;
			}
		}
	}
}

/* Apps */

#box-apps-menu {
	display: block;
	padding: 0;
	color: var(--sidebar-text-color);

	ul.groups,
	ul.apps,
	ul.docs {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	a {
		display: block;
		padding: .25em .5em;
		text-decoration: none;
		color: inherit;
	}

	.group {
		margin: 0;
		padding: .5em 0;
		list-style: none;
		border-bottom: 1px solid var(--default-border-color);
		> .title {
			font-weight: 500;
		}
	}

	.app {
		position: relative;
		display: block;
		border: var(--sidebar-app-border-size) solid var(--sidebar-app-border-color);
		border-inline-start: 5px solid transparent;
		border-radius: var(--border-radius);
		transition: all 100ms linear;

		&:hover:not(.active) {
			background: var(--sidebar-app-background--hover);
			border: var(--sidebar-app-border-size) solid var(--sidebar-app-border-color--hover);
		}

		> a {
			padding: .25em .5em;
			&:hover {
				background: var(--sidebar-app-background--hover);
				color: var(--sidebar-text-color--hover);
			}

			.icon-stack {
				font-size: 1em;
			}
		}

		.app-icon {
			background: none;
			margin-inline-end: 0;
		}

		> a > .name {
			margin-inline-start: .5em;
		}

		&.active {
			border-color: var(--app-color);
			background: var(--sidebar-app-background--active);
			border-radius: var(--border-radius);
			margin-bottom: .25em;

			.docs {
				display: block;
				padding-bottom: .5em;
			}

			.doc {
				&:hover,
				&:active {
					background: var(--sidebar-doc-background--hover);
					border-radius: var(--border-radius);
				}
				&.active {
					background: var(--sidebar-doc-background--active);
					border-radius: var(--border-radius);
				}
				a {
					padding: .5em;
				}
			}
		}
	}

	.docs {
		display: none;
		padding-left: .5em !important;
		padding-right: .5em !important;
	}

	.bullet {
		display: inline-block;
		margin-inline-end: .5em;
		opacity: .5;
	}

}

/* Content */

#content {
	flex: 1 1 auto;

	> h1 {
		margin-top: 0;
		border-bottom: 2px solid transparent;
	}

	.app-icon {
		border: 0px solid var(--app-color);
	}
}

.app-icon {
	display: inline-flex;
	padding: .5em;
	margin-inline-end: .33em;
	line-height: 100%;
	color: var(--app-color);
	background: var(--app-icon-background);
	//clip-path: circle(50%);
	//clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
	//clip-path: xywh(0 0 100% 100% round var(--border-radius) 0); // 2-rounded corners
	//clip-path: xywh(0 0 100% 100% round var(--border-radius)); // Standard rounded corners
	border-radius: var(--border-radius); // Instead of clip path
	place-items: center;
	aspect-ratio: 1;

	@media print {
		display: none !important;
	}
}

/* Dark Mode */

html.dark-mode {

	#toolbar > li > a {
		color: inherit;
	}

	#box-apps-menu .app {

	.icon {
			color: #000;
		}
		&.selected > a {
			color: #fff;
		}
	}

	#content {
		background: none;
	}

	.litebox-content {
		background: #283144;
	}
}

/* Condensed Mode */

html.condensed {
	--sidebar-width: 18rem;
	--gutter-x: 1.5em;

	#toolbar {
		margin: 0;
		border-radius: 0;
	}

	#content {
		//background: var(--card-background);
		margin: 0;
		padding: .5em;
		> :last-child {
			margin-bottom: 1em;
		}
	}

	.card {
		margin: 1em;
	}

	.grid {
		grid-gap: 1.5em;
	}

	.table {
		th {
			padding: .5em .5em;
		}
		td {
			padding: .33em .5em;
		}
		th, td {
			&:first-child {
				padding-inline-start: 1em;
			}
			&:last-child {
				padding-inline-start: 1em;
			}
		}
	}
}

.card-app {
	position: relative;

	> .card-header {
		.icon-wrapper {
			font-size: 24px;
		}
	}

	.card-action {
		position: absolute;
		top:  var(--gutter-y);
		inset-inline-end: var(--gutter-x);
		display: flex;
		gap: .5em;
	}

	.card-filter {
		display: flex;
		gap: var(--gutter-y) var(--gutter-x);
		> * {
			&.expandable {
				flex-grow: 1;
			}
		}
	}

	.data-table {
		margin: 0;
	}

	.card-footer {
		> *:last-child {
			margin-bottom: 0;
		}
		&:blank {
			display: none;
		}
	}

	#actions {
		width: fit-content;
		margin-inline-end: auto;
	}
}

.litebox .card-app {
	.app-icon {
		display: none;
	}
	.card-action {
		//position: initial !important;
		//top: auto;
		//inset-inline-end: auto;
	}
}

/* Loader */

.loader {
	display: inline-block;
	background: url('../images/loader.svg');
	background-size: cover;
	animation-name: spin;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

