@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import "framework/media.less";

/* Variables */

:root {
  --top-background-color: var(--card-background-color);
  --top-text-color: var(--card-text-color);

  --page-background-color: #f6f6f6;

  --sidebar-background-color: #e6e8ec;
  --sidebar-border-color: var(--default-border-color);
  --sidebar-text-color: #222;
  --sidebar-width: 275px;

  --navigation-background-color: #3e3e3e;
  --navigation-text-color: #fff;

  --default-background-color: #f3f3f3;
  --default-background-color-active: #f9f9f9;
  --default-background-color-hover: #efefef;
  --default-border-color: #e0e0e0;
  --default-line-height: 1.5em;
  --default-text-font: Roboto, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  --default-text-color: #444;
  --default-text-size: 12px;
  --default-title-color: #444;
  --default-title-border-color: #e5e5e5;
  --default-notice-background-color: #e5e5e5;
  --default-notice-text-color: #000;

  --primary-background-color: #bdbdbd;
  --primary-hover-background-color: #ddd;
  --primary-active-background-color: #bdbdbd;
  --primary-border-color: #4859d4;
  --primary-text-color: #fff;
  --primary-notice-background-color: #3ba5c6;
  --primary-notice-text-color: #fff;

  --success-background-color: #98cc34;
  --success-hover-background-color: #9dcf3e;
  --success-active-background-color: #89b82e;
  --success-border-color: rgba(0,0,0,0.1);
  --success-text-color: #fff;
  --success-notice-background-color: #98cc34;
  --success-notice-text-color: #fff;

  --warning-background-color: #f0ad4e;
  --warning-hover-background-color: #f2b866;
  --warning-active-background-color: #f1b25a;
  --warning-border-color: rgba(0,0,0,0.1);
  --warning-text-color: #aa0000;
  --warning-notice-background-color: #ffcc66;
  --warning-notice-text-color: #aa0000;

  --danger-background-color: #d9534f;
  --danger-hover-background-color: #de6764;
  --danger-active-background-color: #db5d59;
  --danger-border-color: rgba(0,0,0,0.1);
  --danger-text-color: #fff;
  --danger-notice-background-color: #d9534f;
  --danger-notice-text-color: #fff;

  --breadcrumbs-background-color: transparent;
  --breadcrumbs-text-color: #3c3c3c;
  --breadcrumbs-border-color: transparent;

  --card-background-color: #fff;
  --card-heading-background-color: transparent;
  --card-heading-text-color: var(--card-text-color);
  --card-text-color: #444;
  --card-border-color: transparent;

  --tab-nav-background-color: var(--default-background-color);
  --tab-nav-text-color: var(--default-text-color);
  --tab-border-color: transparent;
  --tab-active-background-color: var(--tab-content-background-color);
  --tab-content-background-color: #fff;
  --tab-content-text-color: var(--default-text-color);

  --table-header-background-color: #fff;
  --table-body-background-color: #fff;
  --table-row-odd-background-color: #f9f9f9;
  --table-row-even-background-color: #fff;
  --table-row-hover-background-color: #ececec;
  --table-footer-background-color: var(--default-background-color);

  --pagination-background-color: var(--default-background-color);
  --pagination-text-color: var(--default-text-color);
  --pagination-border-color: var(--default-border-color);
  --pagination-active-background-color: var(--primary-background-color);
  --pagination-active-text-color: #fff;
  --pagination-hover-background-color: var(--primary-background-color);
  --pagination-hover-text-color: #fff;

  --copyright-text-color: #444;

  --border-radius: 5px;
  --gutter-size: 2rem;
  --input-background-color: #f9f9f9;
  --input-addon-background-color: #f1f1f1;
  --input-text-color: #000;
  --input-border-color: var(--default-border-color);
  --input-padding-x: 15px;
  --input-padding-y: 7.5px;
  --link-text-color: #0066bb;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --whitespace-color: #fff;
}

body.dark-mode {
  --top-background-color: #283144;
  --top-text-color: var(--card-text-color);

  --page-background-color: #0f1525;
  --sidebar-background-color: #283144;
  --sidebar-border-color: #1d2431;
  --sidebar-text-color: #acb6c2;

  --default-background-color: #0f1525;
  --default-background-color: #283144;
  --default-background-color-hover: #434e67;
  --default-background-color-active: #161b25;
  --default-border-color: #1c243a;
  --default-title-color: #acb6c2;
  --default-text-color: #acb6c2;
  --default-input-color: #fff;

  --card-background-color: #283144;
  --card-heading-background-color: transparent;
  --card-heading-text-color: #fff;
  --card-text-color: #acb6c2;
  --card-border-color: #253046;

  --tab-nav-background-color: #1c243a;
  --tab-nav-text-color: #acb6c2;

  --table-header-background-color: #283144;
  --table-body-background-color: #283144;
  --table-row-odd-background-color: #2d374c;
  --table-row-even-background-color: #283246;
  --table-row-hover-background-color: #3c4861;
  --table-footer-background-color: #35415a;

  --pagination-background-color: var(--default-background-color);
  --pagination-text-color: var(--default-text-color);
  --pagination-border-color: var(--default-border-color);
  --pagination-active-background-color: var(--default-background-color);
  --pagination-active-text-color: var(--default-text-color);
  --pagination-hover-background-color: var(--default-background-color);
  --pagination-hover-text-color: #fff;

  --breadcrumbs-text-color: var(--default-text-color);

  --copyright-text-color: #acb6c2;

  --input-background-color: #1c243a;
  --input-border-color: #0f1525;
  --input-addon-background-color: #182035;
  --input-text-color: #fff;
  --link-text-color: #acb6c7;
  --whitespace-color: #0f1525;
}

@media (min-width: @media-breakpoint-sm) {
  :root {
    --default-text-size: 13px;
  }
}
@media (min-width: @media-breakpoint-md) {
  :root {
    --default-text-size: 14px;
  }
}
/*
@media (min-width: @media-breakpoint-lg) {
  :root {
   --default-text-size: 15px;
  }
}
*/