.loader-wrapper {
  position: fixed;
  top: 50%;
  left: 10%;
  right: 10%;
  text-align: center;
  margin-top: -128px;
  opacity: 0.1;
  z-index: 999999;
}
#header {
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
#header .logotype img {
  max-width: 200px;
  max-height: 40px;
}
@media (min-width: 768px) {
  #header .logotype img {
    max-width: 250px;
    max-height: 80px;
  }
}
@media (min-width: 768px) {
  #header .logotype {
    width: auto;
  }
}
#header .middle {
  flex-grow: 1;
}
#header .customer-service {
  align-self: center;
  text-align: end;
  line-height: 150%;
  flex-grow: 1;
}
@media (min-width: 768px) {
  #header .customer-service {
    font-size: 1.25em;
  }
}
#header .customer-service .title {
  font-weight: bold;
  margin: 0;
}
@media (min-width: 992px) {
  #header .customer-service {
    flex-grow: 0;
  }
}
#box-checkout-cart {
  margin-top: 0;
}
#box-checkout-cart .row {
  margin-bottom: 0;
}
#box-checkout-cart [class*="col-"] {
  align-self: center;
}
#box-checkout-cart .headings {
  font-weight: 600;
  padding: 0.5em var(--gutter-x);
  border-bottom: 1px solid var(--default-border-color);
}
#box-checkout-cart .item {
  padding: var(--gutter-y) var(--gutter-x);
  border-top: 1px solid #e0e0e0;
}
#box-checkout-cart .item:nth-child(odd) {
  background: var(--table-striped-row-background-odd);
}
#box-checkout-cart .item:nth-child(even) {
  background: var(--table-striped-row-background-even);
}
#box-checkout-cart .name {
  font-weight: 600;
}
#box-checkout-cart .btn {
  padding-left: 1em;
  padding-right: 1em;
}
#box-checkout-cart .error {
  color: #f00;
}
#box-checkout-cart .unit-price,
#box-checkout-cart .total-price {
  font-size: 1.1em;
}
#box-checkout-cart .subtotal {
  font-size: 1.5em;
}
#box-checkout-customer fieldset {
  border: none;
  padding: 0;
}
#box-checkout-customer button[type=submit]:not([disabled]) {
  font-weight: bold;
  color: #ff0000;
  animation: flasher 1s linear infinite;
}
#box-checkout-shipping .thumbnail,
#box-checkout-payment .thumbnail {
  padding: 0.5em;
  overflow: hidden;
}
#box-checkout-shipping .option,
#box-checkout-payment .option {
  position: relative;
  background: var(--card-background-color);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0%);
  transition: all 250ms ease;
}
#box-checkout-shipping .option.btn,
#box-checkout-payment .option.btn {
  padding: 1em;
  white-space: normal;
}
#box-checkout-shipping .option.btn:first-child,
#box-checkout-payment .option.btn:first-child {
  border-start-start-radius: var(--border-radius);
  border-start-end-radius: var(--border-radius);
}
#box-checkout-shipping .option.btn:last-child,
#box-checkout-payment .option.btn:last-child {
  border-end-start-radius: var(--border-radius);
  border-end-end-radius: var(--border-radius);
}
#box-checkout-shipping .option.active,
#box-checkout-payment .option.active {
  background: #eaebef;
}
#box-checkout-shipping .option.disabled,
#box-checkout-payment .option.disabled {
  cursor: not-allowed;
}
#box-checkout-shipping .option:not(.active) .content,
#box-checkout-payment .option:not(.active) .content {
  max-height: 0;
  overflow-y: hidden;
}
#box-checkout-shipping .option .thumbnail,
#box-checkout-payment .option .thumbnail {
  padding: 0 !important;
}
#box-checkout-shipping .option .error,
#box-checkout-payment .option .error {
  color: #c00;
}
#box-checkout-shipping .option .content,
#box-checkout-payment .option .content {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: start;
  transition: all 0.25s ease;
}
#box-checkout-shipping .option .description,
#box-checkout-payment .option .description {
  margin-bottom: 1em;
}
#box-checkout-shipping .option hr,
#box-checkout-payment .option hr {
  margin: 1em 0;
  border-color: #ddd;
}
@media (min-width: 768px) {
  #box-checkout-shipping .price,
  #box-checkout-payment .price {
    position: absolute;
    display: inline-block;
    top: var(--gutter-y);
    right: var(--gutter-x);
  }
}
#box-checkout-summary table {
  margin-bottom: 0;
}
#box-checkout-summary .error {
  align-self: center;
  font-size: 1.25em;
  color: #ff0000;
  text-align: center;
}
#box-checkout-summary input[type=checkbox][required]:not(:checked) {
  animation: flasher 1s linear infinite;
}
