@use '../../../../assets/litecore/scss/framework/media' as *;

.loader-wrapper {
	position: fixed;
	top: 50%;
	left: 10%;
	right: 10%;
	text-align: center;
	margin-top: -128px;
	opacity: 0.1;
	z-index: 999999;
}

#box-checkout {
	padding: 0;

	.logotype {
		max-width: 250px;
		max-height: 50px;
	}

	> form {
		> .row {
			height: 100vh;
			grid-gap: 0;
			margin-bottom: 0;
		}
	}
	.left-wrapper {
		padding: 2em;
		.left {
			max-width: 640px;
			margin-inline-start: auto;
		}
	}
	.right-wrapper {
		background: var(--card-background);
		box-shadow: var(--default-shadow);
		padding: 2em;
		.right {
			max-width: 640px;
			margin-inline-end: auto;
		}
	}
}

.navigate-back {
	margin-bottom: 2em
}

.strikethrough-divider {
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	margin: 2em 0;
}
.strikethrough-divider > span {
	position: relative;
	display: inline-block;
}
.strikethrough-divider > span:before,
.strikethrough-divider > span:after {
	content: "";
	position: absolute;
	top: 50%;
	width: 9999px;
	height: 1px;
	background: var(--default-background);
}
.strikethrough-divider > span:before {
	inset-inline-end: 100%;
	margin-inline-end: 1em;
}
.strikethrough-divider > span:after {
	inset-inline-start: 100%;
	margin-inline-start: 1em;
}

#express-checkout legend {
	text-align: center;
}
#express-checkout .options {
	text-align: center;
}
#express-checkout .option {
	margin: 1em ;
}

#box-checkout-cart {
	.thumbnail {
		max-width: 64px;
	}
	tr td {
		vertical-align: middle;
		&:first-child a {
			display: inline-block;
		}
		&:last-child {
			text-align: right;
		}
	}
	.error {
		color: var(--color-error);
	}
	.subtotal {
		font-size: 1.5em;
	}
}

#box-checkout-customer {
	.title {
		margin-top: 0;
	}
	.details {
		box-sizing: border-box;
		border-radius: 1em;
		padding: 1em;
		margin-bottom: var(--gutter-y);
		background: var(--input-background);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07);
	}
	fieldset {
		border: none;
		padding: 0;
	}
	button[type=submit]:not([disabled]) {
		font-weight: bold;
		color: var(--color-error);
	}
}

#box-checkout-shipping,
#box-checkout-payment {

	.option {
		display: block;
		position: relative;
		padding: .5em;
		background: var(--default-background);
		border: 2px solid var(--default-border-color);
		border-radius: var(--border-radius);
		user-select: none;
		overflow: hidden;

		.error {
			color: var(--color-error);
		}
		.content {
			max-height: 0;
			overflow-x: hidden;
			overflow-y: hidden;
			text-align: start;
			transition: max-height 0.25s ease, padding 0.25s ease;
		}

		&:hover:not(:has(input[name$="_option[id]"]:checked)):not(:has(input[name$="_option[id]"][disabled])) {
			cursor: pointer;
			border-color: var(--default-border-color);
		}

		&:has(input[name$="_option[id]"]:checked) {
			cursor: default;
			border-color: var(--default-title-color);
			.thumbnail {
				padding: .5em;
			}
			.name {
				font-weight: bold;
			}
			.content {
				max-height: 200px;
				overflow-y: auto;
			}
		 &::after {
				position: absolute;
				top: .5em;
				inset-inline-end: -25px;
				background: var(--default-title-color);
				font-size: .8em;
				text-align: center;
				color: var(--card-background);
				padding: .25em 2em;
				padding-inline-end: 1.5em;
				inset-inline-end: 0;
				border-start-start-radius: var(--border-radius);
				border-end-start-radius: var(--border-radius);
			}
		}

		.option:has(input[name$="_option[id]"][disabled]) {
			opacity: .75;
		}

		+ .option {
			margin-top: 1em;
		}

		@media(min-width: $media-breakpoint-sm) {
				padding: 1em;
		}
	}
}

.summary.wrapper {
	height: 100%;
}

#box-checkout-summary {
	.alert {
		padding: var(--input-padding-y) var(--input-padding-x);
		text-align: center;
		line-height: 24px;
	}
	input[type=checkbox][required]:not(:checked) {
		outline: 2px solid var(--color-error);
		outline-offset: 2px;
	}
	@media(min-width: $media-breakpoint-md) {
		position: sticky;
		top: 3.5em;
	}
}

#box-checkout-summary tr td:first-child {
	width: 75px;
}
.comments {
	position: relative;
}
.comments .remaining {
	position: absolute;
	bottom: .5em;
	inset-inline-end: .5em;
	color: var(--default-text-color);
}