/* Input Fields & Input Groups - Bootstrap Compatible */

fieldset {
  padding: @default-gutter-size;
  border-color: @default-border-color;
  border-radius: @default-border-radius;
  > legend {
    font-size: 1.25em;
    padding: 0.25em 0.5em;
  }
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
}

input[data-type="currency"], input[data-type="number"], input[data-type="decimal"] {
  text-align: right;
}

.form-group {
  &.required label::after {
    content: ' *';
    color: #f00;
  }
  &:not([class*=col-]) {
    margin-bottom: @default-gutter-size;
  }
}

.input-field() {
  position: relative;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid @default-border-color;
  border-radius: 4px;
  box-shadow: 0 0.5px 2px rgba(50,50,93,0.15);
}

.form-control {
  .input-field();
  display: block;
  width: 100%;
  min-width: 1px; // Firefox fix
  padding: @form-input-padding;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  &[disabled] {
    opacity: 0.5;
  }
  &[readonly] {
    color: #999;
  }
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 32px;
  background: #fff url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 64 64"%3E%3Cpath d="m31.3 44 11.9-13.1h-24.3z" fill="#404040"/%3E%3C/svg%3E') top right no-repeat;
}

.input-unstyled {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
}

.checkbox, .radio {
  padding: @form-input-padding;
}

.input-group {
  .input-field();
  display: flex;
  .form-control {
    background: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    margin-left: -1px;
  }
  .input-group-addon {
    flex: 1 0 auto;
    vertical-align: middle;
    padding: @form-input-padding;
    font-weight: normal;
    color: #555;
    text-align: center;
    background-color: @default-button-color;
    border-left: 1px solid @default-border-color;
    border-right: 1px solid @default-border-color;
    margin: 0 -1px;
  }
  .input-group-btn {
    flex: 1 0 auto;
    .btn {
      border-top: none;
      border-bottom: none;
      padding: 7px 12px;
    }
  }
  .form-control:first-child,
  .input-group-addon:first-child,
  .input-group-btn:first-child > .btn,
  .input-group-btn:first-child > .btn-group > .btn,
  .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-radius: 4px 0 0 4px;
  }
  .form-control:last-child,
  .input-group-addon:last-child,
  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group > .btn,
  .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    margin-right: -1px;
    border-radius: 0 4px 4px 0;
  }
  + .input-group {
    margin-top: -1px;
  }
}
