/* Typography - Bootstrap Compatible */

.text-left { text-align: left !important ; }
.text-center { text-align: center !important ; }
.text-right { text-align: right !important ; }

@media (min-width: 768px) {
  .text-sm-left { text-align: left !important ; }
  .text-sm-center { text-align: center !important ; }
  .text-sm-right { text-align: right !important ; }
}

@media (min-width: 992px) {
  .text-md-left { text-align: left !important ; }
  .text-md-center { text-align: center !important ; }
  .text-md-right { text-align: right !important ; }
}

@media (min-width: 1200px){
  .text-lg-left { text-align: left !important ; }
  .text-lg-center { text-align: center !important ; }
  .text-lg-right { text-align: right !important ; }
}