@use '../../../../assets/litecore/scss/framework/media' as *;
@use 'git' as *;
@use 'pos' as *;
@use 'sidebar' as *;
@use 'top_navigation' as *;
@use 'tags' as *;

body {
	background: var(--site-background);
}

h1 { font-size: 1.25em; }
h2 { font-size: 1.20em; }
h3 { font-size: 1.15em; }
h4 { font-size: 1.10em; }

#backend-wrapper {
	display: flex;
	min-height: 100vh;
	width: 100%;
}

#main {
	flex: 1 1 auto;
	margin: 1em var(--gutter-x);
}

/* Content */

#content {
	flex: 1 1 auto;

	> h1 {
		margin-top: 0;
		border-bottom: 2px solid transparent;
	}

	.app-icon {
		border: 0 solid var(--app-color);
	}

	/*
	> .card:before {
		content: '.';
		top: -1px;
		position: absolute;
		background: radial-gradient(circle at bottom right, transparent 75%, #b34095 100%);
		width: 400px;
		z-index: -1;
		left: -1px;
		border-radius: calc(var(--border-radius) + 2px);
		height: 400px;
	}
	*/
}

.app-icon {
	display: inline-flex;
	padding: .25em;
	line-height: 100%;
	font-size: 1.25em;

	//color: color-mix(in srgb, var(--app-color) 100%, #777 50%);
	color: var(--app-color);

	border-radius: var(--border-radius); // Instead of clip path
	place-items: center;
	aspect-ratio: 1;

	+ .name {
		margin-inline-start: .15em;
	}

	@media print {
		display: none !important;
	}
}

/* Dark Mode */

html.dark-mode {

	#top-navigation > li > a {
		color: inherit;
	}

	#sidebar-menu .app {
		&.selected > a {
			color: #fff;
		}
	}

	#content {
		background: none;
	}

	.litebox-content {
		background: #283144;
	}
}

/* Condensed Mode */

html.condensed {
	--sidebar-width: 18rem;
	--gutter-x: 1.5em;

	#top-navigation {
		margin: 0;
		border-radius: 0;
	}

	#content {
		margin: 0;
		padding: .5em;

		> :last-child {
			margin-bottom: 1em;
		}
	}

	.card {
		margin: 1em;
	}

	.grid {
		gap: 1.5em;
	}

	.table {
		th {
			padding: .5em;
		}

		td {
			padding: .33em .5em;
		}

		th, td {
			&:first-child {
				padding-inline-start: 1em;
			}

			&:last-child {
				padding-inline-start: 1em;
			}
		}
	}
}

.card {
	position: relative;

	> .card-header {
		.icon-wrapper {
			font-size: 24px;
		}
	}

	.card-action {
		position: absolute;
		top:  var(--gutter-y);
		inset-inline-end: var(--gutter-x);
		display: flex;
		gap: .5em;
	}

	.card-filter {
		display: flex;
		gap: var(--gutter-y) var(--gutter-x);

		> * {
			&.expandable {
				flex-grow: 1;
			}
		}
	}

	.data-table {
		margin: 1em 0;
	}

	.card-footer {
		> *:last-child {
			margin-bottom: 0;
		}

		&:blank {
			display: none;
		}
	}

	#actions {
		width: fit-content;
		margin-inline-end: auto;
	}
}

.litebox .card-app {
	.app-icon {
		display: none;
	}

	.card-action {
	}
}

/* Notices (floating) */

.notices.notices-floating {
	position: fixed;
	top: var(--gutter-y);
	inset-inline-end: var(--gutter-x);
	z-index: 999;
	max-width: 28em;
	margin: 0;

	.notice {
		min-width: 250px;
		margin-bottom: .5em;
		box-shadow: 0 2px .5rem rgb(0 0 0 / 15%);
	}
}

/* Loader */

.loader {
	display: inline-block;
	background: url('../images/loader.svg');
	background-size: cover;
	//animation-name: spin;
	//animation-duration: 2000ms;
	//animation-iteration-count: infinite;
	//animation-timing-function: linear;
}

.form-input table.csv-table {
	td, th {
		padding: .5em !important;
	}
	thead, tbody {
		background: transparent !important;
		border-color: var(--default-text-color) !important;
	}
	tr {
		background: transparent !important;
		border-color: var(--default-text-color) !important;
	}
}
