@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
/* Media Breakpoints */
/* Variables */
:root {
  --border-radius: 0.33em;
  --gutter-size: 2rem;
  --link-text-color: #06b;
  --whitespace-color: #fff;
  --top-background-color: var(--card-background-color);
  --top-text-color: var(--card-text-color);
  --page-background-color: #f6f6f6;
  --sidebar-background-color: #e6e8ec;
  --sidebar-border-color: var(--default-border-color);
  --sidebar-text-color: #333;
  --sidebar-width: 18em;
  --navigation-background-color: #3e3e3e;
  --navigation-background-color-active: #bdbdbd;
  --navigation-text-color: #444;
  --default-background-color: #f2f3f6;
  --default-background-color-hover: #f2f3f6;
  --default-border-color: #e6e8ec;
  --default-line-height: 125%;
  --default-text-font: Roboto, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  --default-text-color: #444;
  --default-text-size: 14px;
  --default-title-color: #444;
  --default-title-border-color: #e5e5e5;
  --breadcrumbs-background-color: transparent;
  --breadcrumbs-text-color: #3c3c3c;
  --breadcrumbs-border-color: transparent;
  --card-background-color: #fff;
  --card-text-color: #444;
  --card-border-color: transparent;
  --card-header-background-color: transparent;
  --card-header-text-color: var(--card-text-color);
  --card-body-background-color: transparent;
  --card-footer-backgorund-color: #f2f3f6;
  --tab-nav-background-color: #fff;
  --tab-nav-background-color-hover: transparent;
  --tab-nav-background-color-active: transparent;
  --tab-nav-text-color: var(--default-text-color);
  --tab-border-color: #e7e9f0;
  --tab-content-background-color: #fff;
  --tab-content-text-color: var(--default-text-color);
  --table-header-background-color: #fff;
  --table-body-background-color: #fff;
  --table-row-background-color-odd: #f6f7fa;
  --table-row-background-color-even: #f1f3f7;
  --table-row-background-color-hover: #e3e5ea;
  --table-footer-background-color: #eceef3;
  --table-border-color: #e6e8f0;
  --pagination-background-color: #fff;
  --pagination-background-color-hover: #c8cbd0;
  --pagination-background-color-active: #788090;
  --pagination-border-color: var(--default-border-color);
  --pagination-border-color-hover: var(--default-border-color);
  --pagination-border-color-active: var(--default-border-color);
  --pagination-text-color: var(--default-text-color);
  --pagination-text-color-hover: var(--default-text-color);
  --pagination-text-color-active: #fff;
  --button-default-background-color: #f9f9fb;
  --button-default-background-color-hover: #eeeff3;
  --button-default-background-color-active: #dfdfe2;
  --button-default-border-color: #e0e0e0;
  --button-default-text-color: #222;
  --button-danger-background-color: #d9534f;
  --button-danger-background-color-hover: #d04a46;
  --button-danger-background-color-active: #db5d59;
  --button-danger-border-color: rgba(0, 0, 0, 0.1);
  --button-danger-text-color: #fff;
  --button-success-background-color: #9bbf59;
  --button-success-background-color-hover: #9dcf3e;
  --button-success-background-color-active: #89b82e;
  --button-success-border-color: rgba(0, 0, 0, 0.1);
  --button-success-text-color: #fff;
  --input-background-color: #f9f9fb;
  --input-addon-background-color: #f3f4f7;
  --input-text-color: #000;
  --input-border-color: #e7e9f0;
  --input-padding-x: 1em;
  --input-padding-y: 0.5em;
  --notice-default-background-color: #e5e5e5;
  --notice-default-text-color: #000;
  --notice-primary-background-color: #3ba5c6;
  --notice-primary-text-color: #fff;
  --notice-success-background-color: #98cc34;
  --notice-success-text-color: #fff;
  --notice-warning-background-color: #ffcc66;
  --notice-warning-text-color: #aa0000;
  --notice-danger-background-color: #d9534f;
  --notice-danger-text-color: #fff;
  --copyright-text-color: #444;
}
html.dark-mode {
  --top-background-color: #283144;
  --top-text-color: var(--card-text-color);
  --page-background-color: #1a2133;
  --sidebar-background-color: #283144;
  --sidebar-border-color: #1d2431;
  --sidebar-text-color: #acb6c2;
  --default-background-color: #283042;
  --default-border-color: #1c243a;
  --default-title-color: #acb6c2;
  --default-text-color: #acb6c2;
  --default-input-color: #fff;
  --card-background-color: #283144;
  --card-header-background-color: transparent;
  --card-header-text-color: #fff;
  --card-body-background-color: transparent;
  --card-footer-background-color: #212836;
  --card-text-color: #acb6c2;
  --card-border-color: #253046;
  --tab-nav-background-color: #1c243a;
  --tab-nav-text-color: #acb6c2;
  --tab-border-color: #434e67;
  --tab-content-background-color: #283144;
  --table-header-background-color: #283144;
  --table-body-background-color: #283144;
  --table-row-background-color-odd: #2d374c;
  --table-row-background-color-even: #283246;
  --table-row-background-color-hover: #3c4861;
  --table-footer-background-color: #252e42;
  --table-border-color: #1c243a;
  --pagination-background-color: var(--default-background-color);
  --pagination-background-color-hover: var(--default-background-color);
  --pagination-background-color-active: #35415a;
  --pagination-border-color: var(--default-border-color);
  --pagination-border-color-hover: var(--default-border-color);
  --pagination-border-color-active: var(--default-border-color);
  --pagination-text-color: var(--default-text-color);
  --pagination-text-color-active: var(--default-text-color);
  --pagination-text-color-hover: #fff;
  --button-default-background-color: #434e67;
  --button-default-background-color-hover: #535f7a;
  --button-default-background-color-active: #161b25;
  --button-default-border-color: #434e67;
  --button-default-text-color: #acb6c2;
  --button-danger-background-color: #894a48;
  --button-danger-background-color-hover: #a9524f;
  --button-danger-background-color-active: #833937;
  --button-danger-border-color: rgba(0, 0, 0, 0.1);
  --button-danger-text-color: #fff;
  --button-success-background-color: #606850;
  --button-success-background-color-hover: #6c7657;
  --button-success-background-color-active: #6c7657;
  --button-success-border-color: rgba(0, 0, 0, 0.1);
  --button-success-text-color: #fff;
  --input-background-color: #2f394e;
  --input-border-color: #1c243a;
  --input-addon-background-color: #3d485e;
  --input-text-color: #acb6c2;
  --breadcrumbs-text-color: var(--default-text-color);
  --copyright-text-color: #acb6c2;
  --link-text-color: #acb6c7;
  --whitespace-color: #1a2133;
}
