.box {
  clear: both;
  width: 100%;
  margin-bottom: 20px;

  padding: 10px;

  border: 1px #e1e1e1 solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;

  background: #ffffff; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWY5ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-8 */
}

.box .heading {
  margin: 0px;
  padding: 10px 10px;
  border: 1px #e1e1e1 solid;
  font-weight: 600;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ececec');
  background-image: linear-gradient(bottom, #ececec 9%, #f9f9f9 55%);
  background-image: -o-linear-gradient(bottom, #ececec 9%, #f9f9f9 55%);
  background-image: -moz-linear-gradient(bottom, #ececec 9%, #f9f9f9 55%);
  background-image: -webkit-linear-gradient(bottom, #ececec 9%, #f9f9f9 55%);
  background-image: -ms-linear-gradient(bottom, #ececec 9%, #f9f9f9 55%);
  background-image: -webkit-gradient(	linear,	left bottom, left top, color-stop(0.09, #ececec), color-stop(0.55, #f9f9f9));

  -moz-box-shadow: 0px 0px 2px #eee;
  -webkit-box-shadow: 0px 0px 2px #eee;
  box-shadow: 0px 0px 2px #eee;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

.box .content {
  padding: 10px 5px;
}

/* Custom boxes */

#box-checkout-shipping .option-wrapper, #box-checkout-payment .option-wrapper {
  display: inline-block;
  float: left;

  margin: 10px;

  width: 162px;
  padding: 10px;

  background: rgba(255,255,255,1);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ececec');
  background-image: linear-gradient(bottom, #ececec 9%, #f9f9f9 55%);
  background-image: -o-linear-gradient(bottom, #ececec 9%, #f9f9f9 55%);
  background-image: -moz-linear-gradient(bottom, #ececec 9%, #f9f9f9 55%);
  background-image: -webkit-linear-gradient(bottom, #ececec 9%, #f9f9f9 55%);
  background-image: -ms-linear-gradient(bottom, #ececec 9%, #f9f9f9 55%);
  background-image: -webkit-gradient(	linear,	left bottom, left top, color-stop(0.09, #ececec), color-stop(0.55, #f9f9f9));

  -moz-box-shadow: 0px 0px 2px #aaa;
  -webkit-box-shadow: 0px 0px 2px #aaa;
  box-shadow: 0px 0px 2px #aaa;
}
#box-checkout-shipping .option-wrapper .icon, #box-checkout-payment .option-wrapper .icon {
  width: 160px;
  height: 60px;
  border: 1px #ccc solid;
  text-align: center;
  background-color: #fff;
}
#box-checkout-shipping .option-wrapper .name, #box-checkout-payment .option-wrapper .name {
  margin-bottom: 10px;
}
#box-checkout-shipping .option-wrapper .title, #box-checkout-payment .option-wrapper .title {
  margin-top: 10px;
  font-weight: bold;
}

#box-checkout-shipping .option-wrapper .description, #box-checkout-payment .option-wrapper .description {
  height: 75px;
  overflow-y: auto;
}
#box-checkout-shipping .option-wrapper .description, #box-checkout-payment .option-wrapper .description {
  font-size: .8em !important;
  line-height: 1.25em;
}
#box-checkout-shipping .option-wrapper .price, #box-checkout-payment .option-wrapper .price {
}
#box-checkout-shipping .option-wrapper .select, #box-checkout-payment .option-wrapper .select {
}
#box-checkout-shipping .option-wrapper .footer, #box-checkout-payment .option-wrapper .footer {
  height: 30px;
}

#box-checkout-shipping .option-wrapper.selected, #box-checkout-payment .option-wrapper.selected {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafdff', endColorstr='#e0e7ed');
  background-image: linear-gradient(bottom, #e0e7ed 9%, #fafdff 55%);
  background-image: -o-linear-gradient(bottom, #e0e7ed 9%, #fafdff 55%);
  background-image: -moz-linear-gradient(bottom, #e0e7ed 9%, #fafdff 55%);
  background-image: -webkit-linear-gradient(bottom, #e0e7ed 9%, #fafdff 55%);
  background-image: -ms-linear-gradient(bottom, #e0e7ed 9%, #fafdff 55%);
  background-image: -webkit-gradient(	linear,	left bottom, left top, color-stop(0.09, #e0e7ed), color-stop(0.55, #fafdff));

  -moz-box-shadow: 0px 0px 2px #069;
  -webkit-box-shadow: 0px 0px 2px #069;
  box-shadow: 0px 0px 2px #069;
}