.semi-transparent {
  opacity: 0.5;
}

.shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

ul.list-vertical {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.list-vertical li {
  margin: 0;
  padding: 2px;
}
ul.list-vertical ul {
  margin-left: 18px;
  padding: 0;
  border: 1px #000;
}

ul.list-horizontal {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.list-horizontal li {
  display: inline-block;
  margin: 0;
  padding: 2px;
}
