@import url(boxes.css);
@import url(forms.css);
@import url(notices.css);
@import url(pagination.css);
@import url(tables.css);
@import url(tabs.css);

body {
  margin: 10px;
  
  background: #31353e;
  
  font-size: 12px;
  font-family: Arial, Helvetica,sans-serif;
  color: #333;
}
a:link, a:visited{
  color: #3863c5;
  text-decoration: none;
}
a:hover, a:active{
  color: #c00;
  text-decoration: underline;
}

h1{
  font-size: 1.5em;
}

h2{
  font-size: 1.3em;
}

h3{
  font-size: 1.1em;
}

#body-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  
  max-width: 980px;
  
  padding: 10px;
  
  border: 1px solid rgba(128,128,128,0.5);
  
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px;
  
  /*background: rgba(128,128,128,0.25);*/
  /*background: url(../images/background-tile-blurry.jpg) fixed;*/
  
  box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}


#body{
  padding: 0px;
  background-color: #fff;
  border: 1px #919191 solid;
  
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

#header {
  padding: 0px;
}

#header .title {
  font-size: 28px;
}

.semi-transparent {
  opacity: 0.5;
}

ul.navigation-vertical {
  margin: 0;
  padding: 0;
}
ul.navigation-vertical li {
  margin: 0;
  padding: 2px;
  list-style: none;
}
ul.navigation-vertical ul {
  margin-left: 18px;
  padding: 0;
  border:1px #000;
}

ul.navigation-horizontal {
  margin: 0;
  padding: 0;
}
ul.navigation-horizontal li {
  display: inline-block;
  margin: 0;
  padding: 2px;
  list-style: none;
}

#content-wrapper {
  margin: 0px;
  padding: 0;
  
  background: rgba(255,255,255,1.0);
  
  /*border: 1px #919191 solid;*/
  
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

#sidebar {
	width: 230px;
  
  padding: 0px 10px 0px 5px;
  
  background: #f5f5f5;
  
  border-top-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -webkit-border-radius-topleft: 15px;
  
  border-bottom-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-radius-bottomleft: 15px;
  
  -moz-box-shadow: inset 0px 0px 10px #aaa;
  -webkit-box-shadow: inset 0px 0px 10px #aaa;
  box-shadow: inset 0px 0px 10px #aaa;
}
#sidebar .logotype {
  text-align: center;
  padding: 10px;
}
#sidebar .header {
  text-align: center;
  padding: 10px;
  padding-top: 0;
}
#sidebar .footer {
  padding: 10px;
  font-size: 0.9em;
  text-shadow: 1px 1px 0px #fff;
  color: #666;
}

#content {
  margin: 0px 5px 0px 5px;
  padding: 20px;
}

#footer {
  padding: 20px;
  color: #666;
}

/* ----------------------- */

#widgets ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#widgets ul li{
  margin-bottom: 20px;
  /*border: 1px #d1d1d1 solid;*/
  font-size: 0.9em;
}
#widgets ul li > .widget {
  margin: 5px;
}


#apps-list-menu-wrapper ul {
  list-style: none;

  margin: 0 5px;
  
  padding: 0;
  
  border-bottom: 1px #fff solid;
  border-top: 1px #ccc solid;
}
#apps-list-menu-wrapper li {
  border-top: 1px #fff solid;
  border-bottom: 1px #ccc solid;
}
#apps-list-menu-wrapper li a {
  display: block;
  
  padding: 3px 0px;
  
  text-decoration: none;
  color: #333;
  text-shadow: 1px 1px 0px #fff;
  font-weight: bold;
}
#apps-list-menu-wrapper li.selected > a {
  color: #f00;
}
#apps-list-menu-wrapper li a:hover {
  background: #fff;
}
#apps-list-menu-wrapper li img {
  margin: 2px 5px;
}
#apps-list-menu-wrapper ul ul {
  list-style: none;
  padding: 0;
  margin-left: 35px;
  border: none;
}
#apps-list-menu-wrapper ul ul li {
  border: none;
  margin-bottom: 2px 0px;
}
#apps-list-menu-wrapper ul ul li a {
  font-weight: normal;
  padding: 5px 10px;
}
#copyright {
  text-align: center;
  font-size: 0.8em;
  color: #fff;
}
#copyright a {
  color: #fff;
}

.link-button {
  display: inline-block;
  
  background: #f5f5f5;
  
  margin: 0;
  margin-left: 3px;
  
  border: 1px solid #dfdfdf;
  
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.link-button:hover {
  background: #fff;
}
.link-button a {
  display: block;
  padding: 5px 10px;
  
  color: #333;
  text-decoration: none;
  text-shadow: 1px 1px 0px #fff;
}

hr {
  margin: 10px 0;
  width: 100%;
  height: 1px;
  border: none;
  border-bottom: 1px #ccc dotted;
}