form {
  margin: 0px;
}

input[type=date], input[type=datetime], input[type=email], input[type=number], input[type=password], input[type=search], input[type=text], input[type=url], input[type=time], select, textarea, .input-static, .input-wrapper {
  display: inline-block;
  margin: 3px 0;
  padding: 4px;
  
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  
  background-color: #f9f9f9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ececec');
  background-image: -webkit-linear-gradient(top, #ececec, #f9f9f9);
  background-image: -moz-linear-gradient(top, #ececec, #f9f9f9);
  background-image: -ms-linear-gradient(top, #ececec, #f9f9f9);
  background-image: -o-linear-gradient(top, #ececec, #f9f9f9);
  
  font: normal 12px Sans-serif;
  color: #333;
  
  vertical-align: baseline;
}

input[data-type=currency], input[data-type=decimal], input[data-type=number] {
  text-align: right;
}

form *[data-size=auto] {
  width: auto;
  max-width: 175px;
}
form *[data-size=tiny] {
  width: 35px;
}
form *[data-size=small] {
  width: 80px;
}
form *[data-size=medium] {
  width: 175px;
}
form *[data-size=large] {
  width: 360px;
}

form .required {
  color: #f00;
}

form > table {
  margin: 0px -5px;
}

.input-wrapper {
  width: auto;
}

.input-wrapper input, .input-wrapper textarea {
  margin: -4px 0px;
  border: none;
  background: none;
}

.input-static {
  color: #999;
}

textarea {
  padding: 5px;
}

input[disabled=disabled], select[disabled=disabled] {
  color: #999;
}

.regional-input-wrapper {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

input.regional-input-field, textarea.regional-input-field {
  text-indent: 18px;
}

input.date, input.datetime {
  text-indent: 18px;
}

option {
  margin: 3px 6px;
}

button, a.button, span.button {
  display: inline-block;
  
  margin: 0px 1px;
  padding: 3px 6px;
  
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ececec');
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
  
  -webkit-box-shadow: 0px 1px 1px #ccc, inset 0px 0px 1px #fff;
  -moz-box-shadow: 0px 1px 1px #ccc, inset 0px 0px 1px #fff;
  box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
  
  color: #666;
  text-decoration: none;
  text-shadow: 0px 1px 1px white;
  font: normal 12px Sans-serif;
  
  white-space: nowrap;
  vertical-align: middle;
  
  cursor: pointer;
}

button[type=submit] {
  font-weight: bold;
}
button[type=button], a.button, span.button {
  font-weight: normal;
}

button:hover, button:focus, a.button:hover, a.button:focus, span.button:hover, span.button, span.button:focus  {
}

button.active, button:active, a.button:active, a.button.active, span.button:active, span.button.active {
  border: 1px solid #aaa;
  border-bottom-color: #ccc;
  border-top-color: #999;
  background: -webkit-linear-gradient(top, #E6E6E6, gainsboro);
  background: -moz-linear-gradient(top, #E6E6E6, gainsboro);
  background: -ms-linear-gradient(top, #E6E6E6, gainsboro);
  background: -o-linear-gradient(top, #E6E6E6, gainsboro);
  -webkit-box-shadow: inset 0px 1px 2px #aaa;
  -moz-box-shadow: inset 0px 1px 2px #aaa;
  box-shadow: inset 0px 1px 2px #aaa;
}

button[disabled=disabled], a.button.disabled, span.button.disabled {
  border: 1px solid #DDD;
  border-radius: 3px;
  text-shadow: 0px 1px 1px white;
  -webkit-box-shadow: 0px 1px 1px #fff;
  -moz-box-shadow: 0px 1px 1px #fff;
  box-shadow: 0px 1px 1px #fff;
  background: transparent;
  color: #ccc;
}

button img, a.button img, span.button img {
  width: 12px;
  height: 12px;
  vertical-align: middle;
}