form {
  margin: 0;
}

input[type=text], input[type=password], select, textarea, .input-field {
  margin: 2px 0;
  padding: 3px 5px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  background-color: #f9f9f9;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ececec');
  background-image: -webkit-linear-gradient(top, #ececec, #f9f9f9);
  background-image: -moz-linear-gradient(top, #ececec, #f9f9f9);
  background-image: -ms-linear-gradient(top, #ececec, #f9f9f9);
  background-image: -o-linear-gradient(top, #ececec, #f9f9f9);
  
  font: normal 11px Sans-Serif;
  color: #333;
  vertical-align: middle;
}

input[disabled=disabled] {
  color: #999;
}

.regional-input-wrapper {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

input.regional-input-field, textarea.regional-input-field {
  text-indent: 18px;
}

input.date, input.datetime {
  text-indent: 18px;
}

option {
  margin: 3px 5px;
}

button, a.button {
  display: inline-block;
  
  margin: 0px;
  margin-top: 2px;
  
  padding: 3px 5px;
  
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ececec');
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
  
  -webkit-box-shadow: 0 1px 1px #ccc, inset 0 0 1px #fff;
  -moz-box-shadow: 0 1px 1px #ccc, inset 0 0 1px #fff;
  box-shadow: 0 1px 1px #ccc, inset 0 0 1px #fff;
  
  color: #666 !important;
  font: bold 11px Sans-Serif;
  text-decoration: none !important;
  text-shadow: 0 1px 1px white;

  white-space: nowrap;
  vertical-align: middle;
  
  cursor: pointer;
}

button[type=submit] {
  font-weight: bold;
}
button[type=button], a.button {
  font-weight: normal;
}

button:hover, button:focus, a.button:hover, a.button:focus {
}

button:active, a.button:active {
  border: 1px solid #aaa;
  border-bottom-color: #ccc;
  border-top-color: #999;
  background: -webkit-linear-gradient(top, #E6E6E6, gainsboro);
  background: -moz-linear-gradient(top, #E6E6E6, gainsboro);
  background: -ms-linear-gradient(top, #E6E6E6, gainsboro);
  background: -o-linear-gradient(top, #E6E6E6, gainsboro);
  -webkit-box-shadow: inset 0 1px 2px #aaa;
  -moz-box-shadow: inset 0 1px 2px #aaa;
  box-shadow: inset 0 1px 2px #aaa;
}

button[disabled=disabled] {
  border: 1px solid #DDD;
  border-radius: 3px;
  text-shadow: 0 1px 1px white;
  -webkit-box-shadow: 0 1px 1px #fff;
  -moz-box-shadow: 0 1px 1px #fff;
  box-shadow: 0 1px 1px #fff;
  background: transparent;
}