#notices {
  margin-bottom: 10px;
}
#notices .notice {
  margin-bottom: 5px;
  padding: 5px 10px;
}
#notices .errors {
  color: #777;
  background-color: #ffcccc;
}
#notices .warnings {
  color: #777;
  background-color: #ffcc66;
}
#notices .debugs {
  color: #999;
  background-color: #eeeeee;
}
#notices .success {
  color: #777;
  background-color: #d6eca6;
}
#notices .notices {
  color: #777;
  background-color: #fff6bf;
}