#notices {
  margin-bottom: 10px;
}
#notices .notice {
  margin-bottom: 5px;
  padding: 5px 10px;
}
#notices .errors {
  color: #000000;
  background-color: #ffcccc;
  border: 1px solid #ff6666;
}
#notices .warnings {
  color: #ff4400;
  background-color: #ffcc66;
  border: 1px solid #ff4400;
}
#notices .debugs {
  color: #000000;
  background-color: #eeeeee;
  border: 1px solid #999999;
}
#notices .success {
  color: #000000;
  background-color: #d6eca6;
  border: 1px solid #8dc93e;
}
#notices .notices {
  color: #000000;
  background-color: #fff6bf;
  border: 1px solid #ffd324;
}