* {
  line-height: 125%;
}

#footer {
  position: absolute;
  bottom: 0px;
  font-size: 8pt;
  width: 100%;
}

@media print {
  @page {
    size: A4; /* auto is the initial value */
    margin: 15mm;
    zoom: 100%;
    padding: 0px;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-size: 9pt;
    font-family: Arial, Helvetica,sans-serif;
    color: #000;
    margin: 0px;
    padding: 0px;
  }
  
  #page {
    min-height: 100%;
    position: relative;
    page-break-after: always;
  }
  
  h1 {
    margin-top: 0px;
  }
  
  a:link, a:visited, a:hover, a:active {
    color: #000;
  }
  
  .page-break  {
    page-break-before: always; 
  }
}

@media screen {
  #header {
  }
  
  body {
    margin: 0px auto;
    max-width: 640px;
    font-size: 9pt;
    font-family: Arial, Helvetica,sans-serif;
    color: #000;
  }

  .page-break  {
    border: 1px #ccc dashed;
  }
}