table {
  border-spacing: 0;
  border-collapse: collapse;
}
th {
  padding: 0;
}
td {
  padding: 0;
}

table.dataTable {
  margin-bottom: 20px;
  border: 1px solid #dfdfdf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
table.dataTable .header {
  text-shadow: 0px 1px 1px #fff;
  font-weight: bold;
  /*text-decoration: underline;*/
  
  background-color: #f4f4f4;
}
table.dataTable th {
  padding: 10px 10px;
  border-bottom: 1px solid #dfdfdf;
}
table.dataTable td {
  padding: 5px 10px;
}
table.dataTable tr.odd {
  background-color: #fcfcfc;
}
table.dataTable tr.even {
  background-color: #f8f8f8;
}
table.dataTable tr.odd:hover, table.dataTable tr.even:hover {
  background-color: #ececec;
  cursor: arrow;
}
table.dataTable tr.footer {
  background-color: #f4f4f4;
}
table.dataTable tr.footer td {
  padding: 10px 10px;
  border-top: 1px solid #dfdfdf;
  color: #666;
}

table.dataTable .border-top {
  border-top: 1px solid #dfdfdf;
}
table.dataTable .border-left {
  border-left: 1px solid #dfdfdf;
}
table.dataTable .border-right {
  border-right: 1px solid #dfdfdf;
}
table.dataTable .border-bottom {
  border-bottom: 1px solid #dfdfdf;
}

table.dataTable table:not(.dataTable) {
  margin: -5px 0px !important;
}