/*@import url('https://dev.iconly.io/public/OoTc8FJRmnEY/iconly.css');*/
@import url('https://cdn.iconly.io/kits/2W7kP8RGg5Xc/v_b83a145/iconly.min.css');

[class^="icon-"] {
	width: 1em;
	height: 1em;
	text-align: center;
}
