@font-face {
 font-family: "Fonticons";
 src: url("fonticons.ttf") format("truetype");
 font-weight: normal;
 font-style: normal;
 unicode-range: U+E001-U+E08B;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "Fonticons";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adjust:before{content:"\e900";}
.icon-angle-down:before{content:"\e901";}
.icon-angle-left:before{content:"\e902";}
.icon-angle-right:before{content:"\e903";}
.icon-angle-up:before{content:"\e904";}
.icon-archive:before{content:"\e905";}
.icon-arrow-down:before{content:"\e906";}
.icon-arrow-left:before{content:"\e907";}
.icon-arrow-right:before{content:"\e908";}
.icon-arrows-alt-h:before{content:"\e909";}
.icon-arrows-alt-v:before{content:"\e90a";}
.icon-arrow-up:before{content:"\e90b";}
.icon-at:before{content:"\e90c";}
.icon-ban:before{content:"\e90d";}
.icon-bars:before{content:"\e90e";}
.icon-book:before{content:"\e90f";}
.icon-brand-apple-pay:before{content:"\e910";}
.icon-brand-facebook:before{content:"\e911";}
.icon-brand-google:before{content:"\e912";}
.icon-brand-instagram:before{content:"\e913";}
.icon-brand-linkedin:before{content:"\e914";}
.icon-brand-mastercard:before{content:"\e915";}
.icon-brand-microsoft:before{content:"\e916";}
.icon-brand-paypal:before{content:"\e917";}
.icon-brand-pinterest:before{content:"\e918";}
.icon-brand-stripe:before{content:"\e919";}
.icon-brand-threads:before{content:"\e91a";}
.icon-brand-tiktok:before{content:"\e91b";}
.icon-brand-trello:before{content:"\e91c";}
.icon-brand-visa:before{content:"\e91d";}
.icon-brand-x:before{content:"\e91e";}
.icon-brand-youtube:before{content:"\e91f";}
.icon-building:before{content:"\e920";}
.icon-caret-down:before{content:"\e921";}
.icon-caret-left:before{content:"\e922";}
.icon-caret-right:before{content:"\e923";}
.icon-caret-up:before{content:"\e924";}
.icon-chart-bar:before{content:"\e925";}
.icon-chart-pie:before{content:"\e926";}
.icon-check:before{content:"\e927";}
.icon-chevron-down:before{content:"\e928";}
.icon-chevron-left:before{content:"\e929";}
.icon-chevron-right:before{content:"\e92a";}
.icon-chevron-up:before{content:"\e92b";}
.icon-circle:before{content:"\e92c";}
.icon-circle-o:before{content:"\e92d";}
.icon-clock:before{content:"\e92e";}
.icon-clone:before{content:"\e92f";}
.icon-code:before{content:"\e930";}
.icon-cog:before{content:"\e931";}
.icon-cogs:before{content:"\e932";}
.icon-cogs2:before{content:"\e933";}
.icon-comments:before{content:"\e934";}
.icon-compress:before{content:"\e935";}
.icon-copy:before{content:"\e936";}
.icon-credit-card:before{content:"\e937";}
.icon-cube:before{content:"\e938";}
.icon-database:before{content:"\e939";}
.icon-desktop:before{content:"\e93a";}
.icon-download:before{content:"\e93b";}
.icon-ellipsis-v:before{content:"\e93c";}
.icon-envelope:before{content:"\e93d";}
.icon-envelope-open:before{content:"\e93e";}
.icon-exclamation:before{content:"\e93f";}
.icon-exclamation-triangle:before{content:"\e940";}
.icon-expand:before{content:"\e941";}
.icon-eye:before{content:"\e942";}
.icon-eye-slash:before{content:"\e943";}
.icon-fast-forward:before{content:"\e944";}
.icon-file:before{content:"\e945";}
.icon-file-code:before{content:"\e946";}
.icon-file-image:before{content:"\e947";}
.icon-file-pdf:before{content:"\e948";}
.icon-file-text:before{content:"\e949";}
.icon-film:before{content:"\e94a";}
.icon-flag:before{content:"\e94b";}
.icon-folder:before{content:"\e94c";}
.icon-folder-open:before{content:"\e94d";}
.icon-globe:before{content:"\e94e";}
.icon-hdd:before{content:"\e94f";}
.icon-heart:before{content:"\e950";}
.icon-heart-o:before{content:"\e951";}
.icon-home:before{content:"\e952";}
.icon-hourglass:before{content:"\e953";}
.icon-image:before{content:"\e954";}
.icon-info:before{content:"\e955";}
.icon-key:before{content:"\e956";}
.icon-link:before{content:"\e957";}
.icon-list-alt:before{content:"\e958";}
.icon-location-arrow:before{content:"\e959";}
.icon-minus:before{content:"\e95a";}
.icon-money-bill:before{content:"\e95b";}
.icon-moon:before{content:"\e95c";}
.icon-newspaper:before{content:"\e95d";}
.icon-paint-brush:before{content:"\e95e";}
.icon-palette:before{content:"\e95f";}
.icon-paperclip:before{content:"\e960";}
.icon-paper-plane:before{content:"\e961";}
.icon-pencil:before{content:"\e962";}
.icon-phone:before{content:"\e963";}
.icon-plug:before{content:"\e964";}
.icon-plus:before{content:"\e965";}
.icon-print:before{content:"\e966";}
.icon-question:before{content:"\e967";}
.icon-reply:before{content:"\e968";}
.icon-retweet:before{content:"\e969";}
.icon-save:before{content:"\e96a";}
.icon-search:before{content:"\e96b";}
.icon-search-minus:before{content:"\e96c";}
.icon-search-plus:before{content:"\e96d";}
.icon-shield-alt:before{content:"\e96e";}
.icon-ship:before{content:"\e96f";}
.icon-shopping-basket:before{content:"\e970";}
.icon-shopping-cart:before{content:"\e971";}
.icon-sign-out-alt:before{content:"\e972";}
.icon-spinner:before{content:"\e973";}
.icon-square-check:before{content:"\e974";}
.icon-square-minus:before{content:"\e975";}
.icon-square-out:before{content:"\e976";}
.icon-square-plus:before{content:"\e977";}
.icon-star:before{content:"\e978";}
.icon-star-o:before{content:"\e979";}
.icon-step-forward:before{content:"\e97a";}
.icon-sticky-note:before{content:"\e97b";}
.icon-sun:before{content:"\e97c";}
.icon-sync:before{content:"\e97d";}
.icon-terminal:before{content:"\e97e";}
.icon-th:before{content:"\e97f";}
.icon-th-large:before{content:"\e980";}
.icon-th-list:before{content:"\e981";}
.icon-thumbs-down:before{content:"\e982";}
.icon-thumbs-up:before{content:"\e983";}
.icon-times:before{content:"\e984";}
.icon-trash:before{content:"\e985";}
.icon-trash-alt:before{content:"\e986";}
.icon-truck:before{content:"\e987";}
.icon-undo:before{content:"\e988";}
.icon-university:before{content:"\e989";}
.icon-unlock:before{content:"\e98a";}
.icon-user:before{content:"\e98b";}
.icon-video:before{content:"\e98c";}
.icon-wrench:before{content:"\e98d";}