/* Nav (Tabs, Pills) - Bootstrap Compatible */

.nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    position: relative;
    flex: 0 0 100%;
    @media(min-width: @media-breakpoint-sm) {
      flex: 0 0 auto;
    }
    > a {
      position: relative;
      display: block;
      padding: .75em var(--gutter-x);
      color: inherit;
      text-decoration: none;
    }
    &.disabled > a {
      color: fade(#777, 25%);
      &:hover,
      &:focus {
        text-decoration: none;
        cursor: not-allowed;
      }
    }
  }
  > li {
    > a > img {
      max-width: none;
    }
    > ul {
      list-style: none;
      padding: 0;
      > li > a {
        padding-inline-start: 30px;
      }
      > li > ul > li > a {
        padding-inline-start: 45px;
      }
      > li > ul > li > ul > li > a {
        padding-inline-start: 60px;
      }
    }
  }

  &.nav-justified {
    > li {
      flex: 1 0 auto;
      > a {
        margin-inline-end: 0;
        text-align: center;
        @media (min-width: @media-breakpoint-sm) {
          margin-bottom: 0;
        }
      }
    }
  }

  &.nav-stacked {
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      flex-direction: column;
      + li > a {
        margin-inline-start: 0;
      }
    }
  }
}

.nav-pills {
  display: inline-flex;
  li a {
    margin: 1px 0;
    background: var(--pills-background-color);
    border-radius: var(--border-radius);
    transition: all 125ms linear;
    color: var(--pills-text-color);
    &:hover {
      background: var(--pills-background-color-hover);
    }
  }
  li.active > a {
    background: var(--pills-background-color-active);
    color: var(--pills-text-color-active);
  }
  li + li > a {
    margin-inline-start: 2px;
  }
}

.nav-tabs {
  background: var(--tabs-pane-background-color);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom: 1px solid var(--tabs-pane-border-color);
  padding: var(--gutter-y) var(--gutter-x) 0 var(--gutter-x);
  color: var(--tabs-text-color);
  padding-bottom: 0;
  > li {
    flex: 0 0 auto;
    > a {
      margin-inline-end: var(--gutter-x);
      line-height: 1.4;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      padding: var(--gutter-y) var(--gutter-x);
      background-color: var(--tabs-background-color);
      color: var(--tabs-text-color);
      border: 1px solid var(--tabs-border-color);
      border-bottom-color: var(--tabs-background-color);
    }
    &:hover a {
      background-color: rgba(255, 255, 255, .25);
    }
    &.active a {
      background-color: var(--tabs-background-color-active);
      color: var(--tabs-text-color-active);
      margin-top: 1px;
      margin-bottom: -1px;
      border: 1px solid var(--tabs-border-color-active);
      border-bottom-color: var(--tabs-content-background-color);
    }
  }
}

.tab-content {
  padding: var(--gutter-y) 0;
  background: var(--tabs-content-background-color);
  .tab-pane {
    > .title {
     margin-top: 0;
    }
  }
}
