body {
  background: @site-background;
}

#page {
  min-height: 100%;
  padding: @default-gutter-size;
  background: @page-background;
  border-bottom: 1px solid @default-border-color;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
}

#header {
  position: relative;
  margin-bottom: @default-gutter-size;
  @media (max-width: (400px)) {
    .logotype img {
      max-width: 200px !important;
    }
  }
}

#region {
  background: @site-background;
  border-bottom: 1px solid #fff;
  border-collapse: collapse;
  border-radius: 4px;
  border-right: 1px solid #fff;
  box-shadow: inset 0 1px 2px @default-shadow-color;
  color: @default-text-color;
  display: inline-block;
  font-size: 0.95em;
  padding: 5px 10px;
  .language {
  }
  .currency {
    cursor: default;
    padding: 0;
    span {
      background: #e3ece0;
      border-bottom: 1px solid #fff;
      border-left: 1px solid #d1d1d1;
      border-right: 1px solid #fff;
      border-top: 1px solid #d1d1d1;
      padding: 1px 5px;
    }
  }
  .country {
    cursor: default;
  }
  .change {
    padding-left: 0;
  }
  > div {
    display: inline-block;
    padding: 5px 5px;
    vertical-align: middle;
  }
}

#cart {
  display: inline-block;
  > a {
    position: relative;
    display: flex;
    align-items: center;
    padding: @default-gutter-size/4;
    border: 1px transparent solid;
    border-radius: 4px;
    color: inherit;
    white-space: nowrap;
    &:hover {
      border-color: @default-border-color;
      text-decoration: none;
    }
    img {
      max-width: 52px;
      max-height: 52px;
    }
    .details {
      margin-right: @default-gutter-size/2;
    }
    .title {
      font-weight: bold;
    }
  }
  @media (max-width: (@media-breakpoint-sm - 1px)) {
    .details {
      display: none;
    }
  }
}

#main {
  @media (min-width: @media-breakpoint-sm) {
    display: flex;
    flex-wrap: nowrap;
    min-height: 400px;
    > #sidebar {
      position: relative;
      flex: 0 0 @default-sidebar-width;
      & + #content {
        margin-left: @default-gutter-size;
      }
      .box:first-child > .title {
        margin-top: 0;
      }
    }
  }
}

#content {
  position: relative;
  flex: 1 1 100%;
}

#footer {
  .row {
    border-top: 1px solid #e5e5e5;
    margin: @default-gutter-size/2 0;
    padding-top: @default-gutter-size;
    [class*="col-"] {
      padding: @default-gutter-size/2 @default-gutter-size;
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
    > * {
      flex-grow: 1;
    }
  }
  * {
    color: @default-text-color;
  }
  a:hover {
    color: @default-link-color;
  }
  .title {
    font-size: 1.5em;
    margin: 0 0 0.75em 0;
  }
  ul.list-vertical {
    li {
      padding: 0;
    }
  }
}

#copyright {
  .notice {
    color: @default-text-color;
    font-size: 0.9em;
    padding: @default-gutter-size;
    text-align: center;
  }
}

#cookies-acceptance {
  border: 1px @default-border-color solid;
  margin-bottom: @default-gutter-size;
  padding: 5px 0;
  text-align: center;
}

#scroll-up {
  bottom: 30px;
  display: none;
  height: 48px;
  opacity: 0.3;
  position: fixed;
  right: 30px;
  width: 48px;
}