body {
  background: #f0f0f0;
}
#page {
  display: grid;
  grid-gap: 7.5px;
  grid-template-columns: auto;
  grid-template-areas: 'header' 'navigation' 'breadcrumbs' 'sidebar' 'main' 'footer' 'copyright';
  min-height: 100%;
  padding: 7.5px;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}
@media (min-width: 992px) {
  #page {
    grid-gap: 15px;
    grid-template-columns: 250px auto;
    grid-template-areas: 'header header' 'navigation navigation' 'sidebar breadcrumbs' 'sidebar main' 'footer footer' 'copyright copyright';
    padding: 15px;
  }
}
#header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
@media (min-width: 992px) {
  #header {
    grid-template-columns: 250px auto 250px;
  }
}
@media (max-width: 400px) {
  #header .logotype img {
    max-width: 200px !important;
  }
}
#region {
  background: #f0f0f0;
  border-bottom: 1px solid #fff;
  border-collapse: collapse;
  border-radius: 4px;
  border-right: 1px solid #fff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #333;
  display: inline-block;
  font-size: 0.95em;
  padding: 5px 10px;
}
#region .currency {
  cursor: default;
  padding: 0;
}
#region .currency span {
  background: #e3ece0;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #fff;
  border-top: 1px solid #d1d1d1;
  padding: 1px 5px;
}
#region .country {
  cursor: default;
}
#region .change {
  padding-left: 0;
}
#region > div {
  display: inline-block;
  padding: 5px 5px;
  vertical-align: middle;
}
#cart {
  display: inline-block;
}
#cart > a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 3.75px;
  border: 1px transparent solid;
  border-radius: 4px;
  color: inherit;
  white-space: nowrap;
}
#cart > a:hover {
  border-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
#cart > a img {
  max-width: 52px;
  max-height: 52px;
}
#cart > a .details {
  margin-right: 7.5px;
}
#cart > a .title {
  font-weight: bold;
}
@media (max-width: 767px) {
  #cart .details {
    display: none;
  }
}
#site-menu {
  grid-area: navigation;
}
@media (min-width: 768px) {
  #main {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-areas: "sidebar main";
    grid-gap: 15px;
    min-height: 400px;
  }
  #main > #sidebar {
    position: relative;
    grid-area: sidebar;
  }
  #main > #sidebar + #content {
    grid-area: main;
  }
  #main > #sidebar .box:first-child > .title {
    margin-top: 0;
  }
}
#content {
  position: relative;
  flex: 1 1 100%;
}
#footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}
#footer * {
  color: #333;
}
#footer a:hover {
  color: #2e9cd4;
}
#footer .title {
  font-size: 1.5em;
  margin: 0 0 0.75em 0;
}
#footer ul.list-vertical li {
  padding: 0;
}
@media (min-width: 768px) {
  #footer {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 992px) {
  #footer {
    grid-template-columns: repeat(5, 1fr);
  }
}
#copyright {
  grid-area: copyright;
}
#copyright .notice {
  color: #333;
  padding: 15px;
  text-align: center;
}
#cookies-acceptance {
  border: 1px rgba(0, 0, 0, 0.1) solid;
  margin-bottom: 15px;
  padding: 5px 0;
  text-align: center;
}
#scroll-up {
  bottom: 30px;
  display: none;
  height: 48px;
  opacity: 0.3;
  position: fixed;
  right: 30px;
  width: 48px;
}
/* Boxes */
.twelve-eighty {
  min-width: 280px;
  max-width: 1280px;
  margin: 0 auto;
}
.box {
  margin-bottom: 15px;
}
.box.white {
  padding: 15px;
  border-radius: 4px;
  background: #fff;
}
.box.border {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
#box-campaign-products .title,
#box-latest-products .title,
#box-popular-products .title,
#box-similar-products .title,
#box-also-purchased-products .title {
  margin: 0 0 15px 0;
}
#box-information li a {
  color: inherit;
  line-height: 175%;
}
#box-information li a.active {
  color: #2e9cd4;
}
#box-information li a:hover {
  color: #2e9cd4;
}
#box-filter .manufacturers ul {
  max-height: 200px;
  overflow-y: auto;
}
.listing h1,
.listing h2,
.listing h3 {
  padding-bottom: 0;
  border: none;
}
.listing .category,
.listing .manufacturer,
.listing .product-column,
.listing .product-row {
  position: relative;
  display: block;
  overflow: hidden;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3.75px;
  transform: scale(1);
  transition: all 100ms linear;
  color: inherit;
  text-decoration: none;
}
.listing .category:hover,
.listing .manufacturer:hover,
.listing .product-column:hover,
.listing .product-row:hover {
  box-shadow: 0 3.75px 7.5px 0 rgba(0, 0, 0, 0.15);
  transform: scale(1.01);
}
.listing .category .caption {
  background: #f2f2f2;
  padding: 7.5px 15px;
  color: #333;
  text-align: center;
}
.listing .category .caption * {
  color: inherit;
  margin: 0;
}
.listing .manufacturer img {
  width: 100%;
  height: auto;
  padding: 7.5px;
}
.listing .manufacturer .caption {
  margin: 0;
  padding: 7.5px;
  background: #f2f2f2;
  color: #333;
  text-align: center;
}
.listing .product-column,
.listing .product-row {
  position: relative;
}
.listing .product-column .link,
.listing .product-row .link {
  position: relative;
  text-decoration: none;
}
.listing .product-column .image-wrapper,
.listing .product-row .image-wrapper {
  background: #fff;
}
.listing .product-column .image-wrapper .image,
.listing .product-row .image-wrapper .image {
  width: 160px;
  height: auto;
}
.listing .product-column .image-wrapper .sticker,
.listing .product-row .image-wrapper .sticker {
  position: absolute;
  top: 20px;
  left: -32px;
  width: 125px;
  padding: 3.75px 7.5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(-45deg);
}
.listing .product-column .image-wrapper .sticker.new,
.listing .product-row .image-wrapper .sticker.new {
  background: rgba(251, 184, 41, 0.85);
}
.listing .product-column .image-wrapper .sticker.sale,
.listing .product-row .image-wrapper .sticker.sale {
  background: rgba(237, 60, 50, 0.85);
}
.listing .product-column .name,
.listing .product-row .name {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 45px;
}
.listing .product-column .manufacturer-name,
.listing .product-row .manufacturer-name {
  color: #737373;
  font-size: 0.9em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 200%;
}
.listing .product-column .description,
.listing .product-row .description {
  padding: 0 3.75px;
  margin-top: 15px;
}
.listing .product-column .price-wrapper,
.listing .product-row .price-wrapper {
  font-size: 1.25em;
}
.listing .product-column .price-wrapper .price,
.listing .product-row .price-wrapper .price {
  font-weight: bold;
  color: #333;
  white-space: nowrap;
}
.listing .product-column .price-wrapper .regular-price,
.listing .product-row .price-wrapper .regular-price {
  color: #333;
  font-size: 0.75em;
  font-weight: normal;
  white-space: nowrap;
}
.listing .product-column .price-wrapper .campaign-price,
.listing .product-row .price-wrapper .campaign-price {
  font-weight: bold;
  color: #cc0000;
  white-space: nowrap;
}
.listing .product-column .preview,
.listing .product-row .preview {
  margin: 0 -1px -1px -1px;
  display: none;
  position: absolute;
  top: 7.5px;
  right: 7.5px;
}
.listing .product-column:hover .preview,
.listing .product-row:hover .preview {
  display: block;
}
.listing .product-column .image {
  width: 100%;
  height: auto;
}
.listing .product-column .info {
  padding: 7.5px;
  text-align: center;
}
.listing .product-column .price-wrapper {
  position: initial;
}
.listing .product-row .info {
  position: absolute;
  top: 0;
  left: 175px;
  padding: 7.5px;
}
.listing .product-row .price-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.25em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 20%, #ffffff 100%);
  padding: 7.5px;
  padding-left: 30px;
}
#view-full-page {
  float: right;
  display: inline-block;
  padding: 7.5px 15px;
}
#box-product .images {
  margin-bottom: 30px;
}
#box-product .main-image {
  position: relative;
  overflow: hidden;
}
#box-product .main-image .sticker {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  top: 17px;
  left: -34px;
  padding: 3.75px 7.5px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(-45deg);
  width: 140px;
}
#box-product .main-image .sticker.new {
  background: rgba(251, 184, 41, 0.85);
}
#box-product .main-image .sticker.sale {
  background: rgba(237, 60, 50, 0.85);
}
#box-product .price-wrapper {
  font-size: 1.75em;
}
#box-product .regular-price {
  font-size: 0.75em;
}
#box-product .campaign-price {
  color: #cc0000;
}
#box-product .tax {
  color: #999999;
}
#box-product .stock-available .value {
  color: #009900;
}
#box-product .stock-partly-available .value {
  color: #ff9900;
}
#box-product .stock-unavailable .value {
  color: #cc0000;
}
#box-product .social-bookmarks {
  font-size: 1.75em;
  margin: 15px 0;
}
#box-product .attributes table {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid-column;
}
#box-product .attributes table td:first-child {
  width: 50%;
}
@media (min-width: 768px) {
  #box-product .attributes {
    columns: auto 2;
  }
}
