.border {
	border: var(--default-border-color);

	&-top {
		border-top: var(--default-border-color);
	}

	&-start {
		border-inline-start: var(--default-border-color);
	}

	&-left {
		border-left: var(--default-border-color);
	}

	&-right {
		border-right: var(--default-border-color);
	}

	&-end {
		border-inline-end: var(--default-border-color);
	}

	&-bottom {
		border-bottom: var(--default-border-color);
	}
}
