@use "media" as *;

/* Grid */

.row, // Deprecated
.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--gutter-y) var(--gutter-x);

	&.grid-column {
		flex-direction: column;
	}

	&.grid-nogap {
		gap: 0;
	}

	&.grid-nowrap {
		grid-auto-flow: column;
	}

	&.grid-center {
		place-items: center center;
	}

	@media (min-width: $media-breakpoint-sm) {
		gap: var(--gutter-y) var(--gutter-x);
	}

	[class*="col-"] {
		grid-column: span 12;
	}
}

.form-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--gutter-y) calc(var(--gutter-x)/2);
}

@mixin make-row-columns($device: '') {
	.col-#{$device}1 { flex: 0 0 8.3333%; max-width: 8.3333%; }
	.col-#{$device}2 { flex: 0 0 16.6667%; max-width: 16.6667%; }
	.col-#{$device}3 { flex: 0 0 25%; max-width: 25%; }
	.col-#{$device}4 { flex: 0 0 33.3333%; max-width: 33.3333%; }
	.col-#{$device}5 { flex: 0 0 41.6667%; max-width: 41.6667%; }
	.col-#{$device}6 { flex: 0 0 50%; max-width: 50%; }
	.col-#{$device}7 { flex: 0 0 58.3333%; max-width: 58.3333%; }
	.col-#{$device}8 { flex: 0 0 66.6667%; max-width: 66.6667%; }
	.col-#{$device}9 { flex: 0 0 75%; max-width: 75%; }
	.col-#{$device}10 { flex: 0 0 83.3333%; max-width: 83.3333%; }
	.col-#{$device}11 { flex: 0 0 91.6667%; max-width: 91.6667%; }
	.col-#{$device}12 { flex: 0 0 100%; max-width: 100%; }
}

.row:has(.col) {
	display: flex;

	.col {
		flex: 1;
	}

	@include make-row-columns;

	@media (min-width: $media-breakpoint-sm) {
		@include make-row-columns(sm-);
	}

	@media (min-width: $media-breakpoint-md) {
		@include make-row-columns(md-);
	}

	@media (min-width: $media-breakpoint-lg) {
		@include make-row-columns(lg-);
	}

	@media (min-width: $media-breakpoint-xl) {
		@include make-row-columns(xl-);
	}

	@media (min-width: $media-breakpoint-xxl) {
		@include make-row-columns(xxl-);
	}
}


@mixin make-grid-columns($device: '') {
	.col-#{$device}1 { grid-column: span 1 !important; }
	.col-#{$device}2 { grid-column: span 2 !important; }
	.col-#{$device}3 { grid-column: span 3 !important; }
	.col-#{$device}4 { grid-column: span 4 !important; }
	.col-#{$device}5 { grid-column: span 5 !important; }
	.col-#{$device}6 { grid-column: span 6 !important; }
	.col-#{$device}7 { grid-column: span 7 !important; }
	.col-#{$device}8 { grid-column: span 8 !important; }
	.col-#{$device}9 { grid-column: span 9 !important; }
	.col-#{$device}10 { grid-column: span 10 !important; }
	.col-#{$device}11 { grid-column: span 11 !important; }
	.col-#{$device}12 { grid-column: span 12 !important; }
}

@include make-grid-columns;

@media (min-width: $media-breakpoint-sm) {
	@include make-grid-columns(sm-);
}

@media (min-width: $media-breakpoint-md) {
	@include make-grid-columns(md-);
}

@media (min-width: $media-breakpoint-lg) {
	@include make-grid-columns(lg-);
}

@media (min-width: $media-breakpoint-xl) {
	@include make-grid-columns(xl-);
}

@media (min-width: $media-breakpoint-xxl) {
	@include make-grid-columns(xxl-);
}
