/* Images */

.thumbnail {
	display: block;
	max-width: 100%;
	height: auto;
	line-height: var(--default-line-height);
	background: var(--whitespace-color);
	border-radius: var(--border-radius);
	transition: border 200ms ease-in-out;
	margin-inline-end: auto;
	margin-inline-start: auto;
}

img {
	&.responsive {
		display: block;
		max-width: 100%;
		margin-inline-end: auto;
		margin-inline-start: auto;
		object-fit: scale-down;
	}

	&.fit {
		max-width: 100%;
		object-fit: contain;
	}

	&.crop {
		max-width: 100%;
		object-fit: cover;
	}
}
