/* Boxes */

#box-cookie-notice {
  background: var(--cookie-notice-background-color);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  line-height: 2em;
  color: var(--cookie-notice-text-color);
  z-index: 999;
  backdrop-filter: saturate(200%) blur(5px);
  .notice {
    margin-bottom: 1em;
  }
}

#box-also-purchased-products {
  @media(min-width: @media-breakpoint-md) {
    position: sticky;
    top: 0;
  }
}

#box-campaign-products, #box-latest-products, #box-popular-products, #box-similar-products, #box-also-purchased-products {
}

#box-recently-viewed-products {
  margin-bottom: 0;
  .products {
    display: grid;
    grid-gap: ~"calc(var(--gutter-size) / 2)";
    grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
  }
}

#box-filter {
  .brands {
    ul {
      max-height: 200px;
      overflow-y: auto;
    }
  }
}

#box-information {
  li {
    a {
      color: inherit;
      line-height: 175%;
      &.active {
        color: var(--link-text-color);
      }
      &:hover {
        color: var(--link-text-color);
      }
    }
  }
}
