html {
  background: var(--site-background-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex-grow: 1;
  }
}

#site-top-navigation {
    background: #d1d1dd;
  .container {
    display: flex;
    justify-content: space-between;
  }
  .nav {
    margin: 0 auto;
    justify-content: center;
  }
  .code {
    font-size: .8em;
    background: #bcbccb;
    padding: .25em .5em;
  }
}

#site-navigation {
  background-color: var(--navigation-background-color);
  color: ~"var(--navigation-text-color)";
  position: sticky;
  top: -1px;
  backdrop-filter: saturate(200%) blur(5px);
  z-index: 999;

  a {
    color: inherit;
  }

  .navbar-brand {
    a {
      padding: .5em 1em;
    }
    img {
      display: block;
      max-height: 38px;
    }
  }

  .search form {
    padding: .5em;
  }
  .shopping-cart {
    transition: all 200ms ease-out;
    > a {
      padding: .5em 1em;
      border-radius: 0;
    }
    .badge {
      position: absolute;
      bottom: 12px;
      left: 12px;
    }
    .badge, .checkout {
      display: none;
    }
    &.filled {
      background-color: var(--navigation-cart-background-color);
      color: var(--navigation-cart-text-color);
      .badge {
        display: inline-block;
        animation: pulsating 2s linear;
        animation-iteration-count: infinite;
      }
      .checkout {
        display: block;
      }
      .empty {
        display: none;
      }
    }
    @media (min-width: @media-breakpoint-md) {
      .dropdown-menu {
        width: 320px;
      }
    }
  }
}

#content {
  grid-area: content;
}

#footer {
  background: var(--footer-background-color);
  color: var(--footer-text-color);

  @media (min-width: (@media-breakpoint-sm)) {
    padding: 1.5rem .5rem;
  }

  * {
    color: inherit;
  }

  .row {
    margin-bottom: 0;
  }

  .modules {
    margin: 1rem 0;
  }

  .buttons {
    display: flex;
    justify-content: center;

    a {
      background: #fff;
      padding: 0.5em;
      border-radius: var(--border-radius);
      &:hover {
        background: #666;
        color: #fff;
      }
    }
  }

  .logotype img, .modules img {
    filter: grayscale(.85);
    margin-bottom: var(--gutter-size);
  }

  .title {
    border-color: #999;
    font-size: 1.5em;
    margin: 0 0 0.75em 0;
  }
}

#copyright {
  background: var(--copyright-background-color);
  .notice {
    color: var(--copyright-text-color);
    padding: 1rem;
    text-align: center;
    a {
      color: inherit;
    }
  }
}

#scroll-up {
  bottom: 30px;
  display: none;
  height: 48px;
  opacity: 0.3;
  position: fixed;
  right: 30px;
  width: 48px;
}