html {
  background: var(--site-background-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex-grow: 1;
  }
}

#page {
  //min-height: 100vh;
  background: var(--page-background-color);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
}

#header {
  background: var(--header-background-color);
}

#header .container {
  > .row {
    align-items: center;
    margin-bottom: 0;
  }
  > * {
    flex: 1 0 auto;
  }

  form[name="search_form"] {
    .input-group {
      border-radius: 1em;
      background: var(--site-background-color);
      .btn {
        border-radius: 0 1em 1em 0;
        box-shadow: none;
      }
    }
  }

  @media (min-width: @media-breakpoint-sm) {
    flex-direction: row;
  }

  .logotype img {
    max-width: 200px;
    @media (min-width: 400px) {
      max-width: 100%;
      max-height: 80px;
    }
  }
}

#site-navigation {
  background-color: var(--navigation-background-color);
  margin-bottom: var(--gutter-size);
  color: ~"var(--navigation-text-color)";
  position: sticky;
  top: -1px;
  z-index: 1;
  backdrop-filter: saturate(200%) blur(5px);

  a {
    color: inherit;
  }

  .navbar {
    @media (min-width: @media-breakpoint-md) {
      .navbar-nav a > .fa {
        display: block;
        font-size: 2em;
        text-align: center;
      }
    }
  }

  .search form {
    padding: var(--gutter-size);
  }
  .shopping-cart {
    &.filled > a {
      background-color: var(--navigation-cart-color);
    }
    .badge {
      animation: pulsating 2s linear;
      animation-iteration-count: infinite;
    }
    @media (min-width: @media-breakpoint-md) {
      .dropdown-menu {
        width: 320px;
      }
    }
  }
}

#content {
  grid-area: content;
}

#footer {
  padding: 1.5rem .5rem;
  background: var(--footer-background-color);
  color: var(--footer-text-color);

  @media (min-width: (@media-breakpoint-sm)) {
    padding: 3rem 1rem;
  }

  * {
    color: inherit;
  }

  .row {
    margin-bottom: 0;
  }

  .modules {
    margin: 1rem 0;
  }

  .buttons {
    display: flex;
    justify-content: center;
    .thumbnail {
      background: #fff;
      &:hover {
        background: #666;
        color: #fff;
      }
    }
  }

  .logotype img, .modules img {
    filter: grayscale(.85);
    margin-bottom: var(--gutter-size);
  }

  .title {
    border-color: #999;
    font-size: 1.5em;
    margin: 0 0 0.75em 0;
  }
}

#copyright {
  background: var(--copyright-background-color);
  .notice {
    color: var(--copyright-text-color);
    padding: 1rem;
    text-align: center;
    a {
      color: inherit;
    }
  }
}

#scroll-up {
  bottom: 30px;
  display: none;
  height: 48px;
  opacity: 0.3;
  position: fixed;
  right: 30px;
  width: 48px;
}