/* Boxes */

.box {
  margin: var(--gutter-size) 0;

  &.white {
    margin: var(--gutter-size);
    padding: var(--gutter-size);
    border-radius: var(--border-radius);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .15);
    background: #fff;
  }
  &.border {
    margin: var(--gutter-size);
    padding: var(--gutter-size);
    border: 1px solid var(--default-border-color);
    border-radius: var(--border-radius);
  }

  > .title {
    margin-top: 0;
  }
}