
.flex {
	display: flex;

	&.wrap {
		flex-wrap: wrap;
	}
	&.vertical {
		flex-direction: column;
	}

	.col-compact {
		flex: 0 1 auto;
	}
	.column {
		flex: 1 1 auto;
	}
	.col-expand {
		flex: 1 0 auto;
	}
}
