/* Input Fields & Input Groups - Bootstrap Compatible */

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
}

input[type="number"] {
  text-align: right;
}
input[type="number"]::-webkit-inner-spin-button {
  margin-inline-start: var(--input-padding-x);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  background: var(--input-background-color);
  height: 1em;
  width: 1em;
  border: 1px solid var(--default-border-color);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  border-radius: var(--border-radius);
  vertical-align: middle;
  vertical-align: baseline;
  &:active, &:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  }
  &:checked {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    &:after {
      content: "\2518";
      transform: rotate(45deg);
      position: absolute;
      top: .6em;
      color: inherit;
      line-height: 0;
      text-align: center;
    }
  }
}


.form-group {
  &.required label::after {
    content: ' *';
    color: #f00;
  }
  &:not([class*="col-"]) {
    margin-bottom: var(--gutter-size);
  }
  > label:not(.checkbox) {
    display: inline-block;
    padding-bottom: var(--input-padding-y);
    letter-spacing: .05em;
    font-size: .8em;
  }
}

.input-field() {
  position: relative;
  color: #555;
  background: var(--input-background-color);
  border: 1px solid var(--default-border-color);
  border-radius: var(--border-radius);
}

.form-input {
  .input-field();
  display: block;
  width: 100%;
  min-width: 1px; // Firefox fix
  padding: var(--input-padding-y) var(--input-padding-x);
  line-height: 2em;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: all 50ms;

  &[type="color"] {
    height: 37px;
  }
  &[type="file"] {
    font-size: 12px;
  }
  &[disabled] {
    opacity: 0.5;
  }
  &[readonly] {
    color: #999;
  }

  .dropdown-menu li label:hover {
    background: var(--default-background-color);
  }
}

select.form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &.multiple {
    padding: 0;
    option {
      padding: var(--input-padding-y) var(--input-padding-x);
    }
  }
}

.form-input {
  cursor: default;
}

.form-input .dropdown-menu {
  user-select: none;
  li > label {
    display: block;
    padding: var(--input-padding-y) var(--input-padding-x);
    cursor: pointer;
    &:hover {
      background: rgba(0, 0, 0, 0.15);
    }
  }

  [type="radio"]:checked + *, [type="checkbox"]:checked + * {
    font-weight: bold;
  }
}

.input-unstyled {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
}

.checkbox, .radio {
  padding: var(--input-padding-y) var(--input-padding-x);
}
.form-input .checkbox {
  padding: var(--input-padding-y) 0;
}

.input-group {
  .input-field();
  display: flex;
  .form-input {
    background: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
  }
  .form-select {
    width: auto;
    background: none;
    border: none;
  }
  .input-group-text {
    flex: 1 0 auto;
    margin: 0 -1px;
    background-color: var(--default-background-color);
    border-left: 1px solid var(--default-border-color);
    border-right: 1px solid var(--default-border-color);
    color: #555;
    white-space: nowrap;
    font-weight: normal;
    text-align: center;
  }
  .input-group-icon {
    flex: 1 0 auto;
    padding: var(--input-padding-y) var(--input-padding-x);
    margin-inline-end: -12px;
    align-self: center;
  }
  .form-input:first-child,
  .input-group-text:first-child {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }
  .form-input:last-child,
  .input-group-text:last-child {
    margin-inline-end: -1px;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
  + .input-group {
    margin-top: -1px;
  }
}

[data-toggle="buttons"] input[type="checbox"],
[data-toggle="buttons"] input[type="radio"] {
  display: none;
}
