.badge {
  display: inline-block;
  width: 2em;
  padding-top: 2px;
  font-weight: 700;
  font-size: .65em;
  line-height: 2;
  text-align: center;
  border-radius: 4px;
  background: #c00;
  color: #fff;
}
