.badge {
  display: inline-block;
  width: 2em;
  background: #c00;
  color: #fff;
  font-weight: 700;
  font-size: .65em;
  line-height: 2;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
}
