/* Base */

html {
	font-size: var(--default-text-size);
	font-family: var(--default-text-font);
	line-height: var(--default-line-height);
	color: var(--default-text-color);
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

h1, h2, h3, h4 {
	font-weight: 500;
	color: var(--default-title-color);
}

a {
	&:link, &:visited {
		color: var(--link-text-color);
		text-decoration: none;
	}
	&:hover, &:active {
		color: var(--link-text-color);
		text-decoration: underline;
	}
}

fieldset {
	padding: var(--gutter-size);
	border: 1px solid var(--default-border-color);
	border-radius: var(--border-radius);
	legend {
		font-weight: 500;
		padding: 0 1em;
		letter-spacing: .1em;
	}
}

hr {
	margin: 1em 0;
	border: 0;
	border-top: 1px solid var(--default-border-color);
}
