/* Breadcrumbs */

.breadcrumbs {
	background: #dcdce5;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: .5em;
	margin: 0;
	padding: .75em 1em;
	border-radius: var(--border-radius);
	margin-bottom: 2em;

	&:is(ul) {
		list-style: none;
	}

	.breadcrumb {
		flex: 0 1 auto;

		a, span {
			display: inline-block;
			background: #f1f1f7;
			border-radius: var(--border-radius);
			color: var(--breadcrumbs-text-color);
			transition: all 50ms linear;
				//border: 2px solid var(--site-background);
				//box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
			text-decoration: none;
			text-align: center;
			line-height: 1em;
			padding: .5em 1.5em;
			vertical-align: middle;
			&:hover {
				transform: scale(1.1);
					//padding: .5em 2em !important;
			}
		}

		span {
			cursor: default;
		}


		&:not(:last-child) {
		 a, span {
				padding-right: 1.5em;
		 }
		}
	}
}
