/* Breadcrumbs - Bootstrap Compatible */

.breadcrumbs {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0 0 var(--gutter-size) 0;
  list-style: none;
  background-color: var(--breadcrumbs-background-color);
  color: var(--breadcrumbs-text-color);
  border: 1px solid var(--breadcrumbs-border-color);
  border-radius: var(--border-radius);

  @media(min-width: @media-breakpoint-md) {
    margin: 0 0 var(--gutter-size) 0;
  }

  .breadcrumb {
    transition: all 150ms linear;
    position: relative;
    display: inline-block;
    padding: .5em 1.0em .5em 2em;
    color: inherit;

    &:is(a) {
      text-decoration: none;
      &:hover {
        background-color: var(--breadcrumbs-background-color-hover);
      }
      &:hover,
      &:hover::after {
        background: var(--breadcrumbs-background-color-hover);
      }
    }

    &:not(a) {
      cursor: default;
    }

    &::after,
    &::before {
      background: var(--breadcrumbs-background-color);
      bottom: 0;
      clip-path: polygon(50% 50%, -50% -50%, 0 100%);
      content: "";
      left: 100%;
      position: absolute;
      top: 0;
      transition: all 150ms linear;
      width: 2em;
      z-index: 1;
    }

    &::before {
      background: var(--breadcrumbs-border-color);
      margin-left: 1px;
    }

    &:empty {
      display: none;
    }

  }
}