/* Buttons & Button Groups - Bootstrap Compatible */

.btn(@type) {
  background: ~"var(--button-@{type}-background-color)";
  color: ~"var(--button-@{type}-text-color)";
  text-decoration: none;
  &:hover:not(.active):not(.disabled):not([disabled]) {
    background: ~"var(--button-@{type}-background-color-hover)";
  }
  &.active {
    background: ~"var(--button-@{type}-background-color-active)";
    border-color: ~"var(--button-@{type}-border-color)";
  }
}

.btn-outline(@color) {
  background: none;
  border: 1px solid @color;
  color: @color;
  text-decoration: none;
  box-shadow: none;
  &:hover:not(.active):not(.disabled):not([disabled]) {
    border-color: lighten(@color, 10%);
    text-color: lighten(@color, 10%);
  }
  &.active {
    border-color: lighten(@color, 5%);
    text-color: lighten(@color, 5%);
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: .5em 2em;
  text-decoration:  none;
  font-weight: normal;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  touch-action: manipulation;

  &.btn-default { .btn("default"); }
  &.btn-primary { .btn("primary"); }
  &.btn-success { .btn("success"); }
  //&.btn-warning { .btn("warning"); }
  &.btn-danger { .btn("danger"); }

  &.btn-outline { .btn-outline(#333); }

  &.btn-sm { font-size: .8em; }
  &.btn-lg { font-size: 1.2em; }

  &.active, &:active { box-shadow: inset 1px 1px 0px 1px rgba(0, 0, 0, .15) !important; }
  &.disabled, &[disabled] { opacity: 0.5; cursor: not-allowed; }
  [data-type="toggle"] { display: none; }
}

.btn-block {
  width: 100%;
}

.btn-group {
  position: relative;
  display: inline-flex;
  border-radius: var(--border-radius);
  .btn {
    flex: 1 0 auto;
    margin-inline-start: -1px;
  }
  &:not(.btn-group-vertical) > .btn:not(:first-child) {
    border-left: 1px solid var(--default-border-color);
  }
  >.btn:first-child:not(:last-child):not([data-toggle="dropdown"]) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
  >.btn:not(:first-child):not(:last-child):not([data-toggle="dropdown"]) {
    border-radius: 0;
  }
  >.btn:last-child:not(:first-child), >[data-toggle="dropdown"]:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.btn-group-vertical {
  .btn {
    display: block;
    border-radius: 0;
    font-size: inherit;
    margin-top: -1px;
    &:first-child {
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }
    &:last-child {
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
  }
}