/* Buttons & Button Groups - Bootstrap Compatible */

.btn(@type) {
  background: ~"var(--@{type}-background-color)";
  color: ~"var(--@{type}-text-color)";
  text-decoration: none;
  &:hover:not(.active):not(.disabled):not([disabled]) {
    background: ~"var(--@{type}-background-color-hover)";
  }
  &.active {
    background: ~"var(--@{type}-background-color-active)";
    border-color: ~"var(--@{type}-border-color)";
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: .5em 1em;
  text-decoration:  none;
  font-weight: normal;
  line-height: 100%;
  border: 1px solid var(--default-border-color);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 1px var(--shadow-color);
  text-align: center;

  touch-action: manipulation;

  &.btn-default { .btn("default"); }
  &.btn-primary { .btn("primary"); }
  &.btn-success { .btn("success"); }
  //&.btn-warning { .btn("warning"); }
  &.btn-danger { .btn("danger"); }

  &.btn-sm { font-size: 11px; }
  &.btn-lg { font-size: 18px; }

  &.active, &:active { box-shadow: inset 1px 1px 1px rgba(0,0,0,0.25) !important; }
  &.disabled, &[disabled] { opacity: 0.5; cursor: not-allowed; }
  [data-type="toggle"] { display: none; }
}

.btn-block {
  width: 100%;
}

.btn-group {
  position: relative;
  display: inline-flex;
  border-radius: var(--border-radius);
  .btn {
    flex: 1 0 auto;
    margin-left: -1px;
  }
  >.btn:first-child:not(:last-child):not(.dropdown-toggle) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
  >.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
  }
  >.btn:last-child:not(:first-child), >.dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.btn-group-vertical {
  .btn {
    display: block;
    border-radius: 0;
    font-size: inherit;
    margin-top: -1px;
    &:first-child {
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }
    &:last-child {
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
  }
}