/* Buttons & Button Groups - Bootstrap Compatible */

.btn(@type) {
	background: ~"var(--button-@{type}-background-color)";
	color: ~"var(--button-@{type}-text-color)";
	border: none;
	text-decoration: none;
	&:hover:not(.active):not(.disabled):not([disabled]) {
		background: ~"var(--button-@{type}-background-color-hover)";
		border-color: ~"var(--button-@{type}-border-color-hover)";
	}
	&.active {
		background: ~"var(--button-@{type}-background-color-active)";
		border-color: ~"var(--button-@{type}-border-color-active)";
	}
}

.btn-outline(@color) {
	background: none;
	border: 1px solid @color;
	color: @color;
	text-decoration: none;
	box-shadow: none;
	&:hover:not(.active):not(.disabled):not([disabled]) {
		border-color: lighten(@color, 10%);
		text-color: lighten(@color, 10%);
	}
	&.active {
		border-color: lighten(@color, 5%);
		text-color: lighten(@color, 5%);
	}
}

.btn {
	cursor: pointer;
	display: inline-block;
	padding: .5em 1.5em;
	text-decoration:  none;
	font-weight: 500;
	border-radius: var(--border-radius);
		//box-shadow: 1px 1px 2px var(--shadow-color);
	box-shadow: none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;

	touch-action: manipulation;

	&.btn-default { .btn("default"); }
	&.btn-primary { .btn("primary"); }
	&.btn-success { .btn("success"); }
		//&.btn-warning { .btn("warning"); }
	&.btn-danger { .btn("danger"); }

	&.btn-outline { .btn-outline(#333); }

	&.btn-sm { padding: .5em 1em; font-size: .8em;  }
	&.btn-lg { font-size: 1.2em; }

	&.active, &:active { box-shadow: inset 1px 1px var(--shadow-color) !important; }
	&.disabled, &[disabled] { opacity: 0.5; cursor: not-allowed; }
	[data-type="toggle"] { display: none; }
}

.btn-block {
	width: 100%;
}

.btn-group {
	position: relative;
	display: inline-flex;
	border-radius: var(--border-radius);
	.btn {
		flex: 1 0 auto;
		margin-inline-start: -1px;
	}
	&:not(.btn-group-vertical) > .btn:not(:first-child) {
		border-inline-start: 1px solid var(--default-border-color);
	}
	>.btn:first-child:not(:last-child):not([data-toggle="dropdown"]) {
			border-start-end-radius: 0;
			border-end-end-radius: 0;
	}
	>.btn:not(:first-child):not(:last-child):not([data-toggle="dropdown"]) {
		border-radius: 0;
	}
	>.btn:last-child:not(:first-child), >[data-toggle="dropdown"]:not(:first-child) {
		border-start-start-radius: 0;
		border-end-start-radius: 0;
	}
}

.btn-group-vertical {
	.btn {
		display: block;
		border-radius: 0;
		font-size: inherit;
		margin-top: -1px;
		&:first-child {
			border-start-start-radius: var(--border-radius);
			border-start-end-radius: var(--border-radius);
		}
		&:last-child {
			border-end-start-radius: var(--border-radius);
			border-end-end-radius: var(--border-radius);
		}
	}
}