/* Dropdowns */

.dropdown {
	position: relative;
	perspective: 400px;
	[data-toggle="dropdown"] {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
		background-repeat: no-repeat;
		background-position: right 1em center;
		background-size: .8em;
		padding-inline-end: 2.5em !important;
	}

	.dropdown-content,
	.dropdown-menu {
		display: flex;
		flex-direction: column;
		transform-origin: 0px 0px;
		transform: rotateX(-25deg);
		transition: 250ms;
		visibility: hidden;
		opacity: 0;
	}

	&.open,
	&:focus-within {
		z-index: 1;
		> .dropdown-content,
		> .dropdown-menu {
			visibility: visible;
			transform: rotateX(0);
			opacity: 1;
		}
	}

	&.dropdown > .dropdown-content,
	&.dropdown > .dropdown-menu,
	&.dropdown-start > .dropdown-content,
	&.dropdown-start > .dropdown-menu {
		inset-inline-start: 0;
		inset-inline-end: auto;
	}

	&.dropdown-end > .dropdown-content,
	&.dropdown-end > .dropdown-menu,
	&.dropdown-end > .dropdown-content,
	&.dropdown-end > .dropdown-menu {
		inset-inline-start: auto;
		inset-inline-end: 0;
	}

	// Multi-level dropdown
	.dropdown {
		.dropdown-content,
		.dropdown-menu {
			top: 0;
			inset-inline-start: 100%;
		}
	}
}

.dropdown-menu,
.dropdown-content {
	position: fixed;
	//top: 100%;
	width: max-content;
	text-align: start;
	color: var(--default-text-color);
	background-color: #fff;
	border: 1px solid var(--default-border-color);
	border-radius: var(--border-radius);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;

	&:is(ul) {
		list-style: none;
	}

	.dropdown-divider {
		height: 1px;
		margin: 9px 0;
		overflow: hidden;
		background-color: #e5e5e5;
	}



	> li > *:not(.btn) {
		white-space: nowrap;
		&a:hover,
		&a:focus {
			text-decoration: none;
			background-color: #f5f5f5;
		}
	}

	> .active > a,
	> .active > a:hover,
	> .active > a:focus {
		color: #fff;
		text-decoration: none;
		outline: 0;
		background-color: #337ab7;
	}

	> .disabled > a,
	> .disabled > a:hover,
	> .disabled > a:focus {
		color: #777;
	}

	> .disabled > a:hover,
	> .disabled > a:focus {
		text-decoration: none;
		background-color: transparent;
		background-image: none;
		cursor: not-allowed;
	}
}

.dropdown-menu {
	padding: 0;
	margin: 2px 0 0;
}

.dropdown-content {
	padding: 1em;
	margin: 0;
}

html[dir="rtl"] {
	.dropdown [data-toggle="dropdown"] {
		background-position: left 1em center;
	}
}
