/* Flexbox */

.flex {
	display: flex;
	gap: var(--gutter-y) var(--gutter-x);
	&:is(ul) {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	&.flex-columns {
		flex-direction: row;
	}
	&.flex-rows {
		flex-direction: column;
	}
	&.flex-nogap {
		gap: none;
	}
	&.flex-wrap {
		flex-wrap: wrap;
	}
	> * {
		flex: 1 1 auto;
	}
}
