/* Forms & Input Fields */

.input-field() {
	position: relative;
	display: block;
	width: 100%;
	padding: .75em 1em;
	background: var(--input-background);
	color: var(--input-text-color);
	border: var(--input-border);
	border-radius: var(--border-radius);
	box-shadow: none;
	line-height: 1;
}

fieldset {
	border: var(--default-border);
	border-radius: var(--border-radius);
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	outline: 0;
}

input[type="number"] {
	text-align: end;
}

.form-group {
	display: block;
	&.required label::after {
		content: ' *';
		color: #f00;
	}
}

.form-label {
	display: block;
	margin-bottom: .25em;
}

.form-check {
	display: block;
	padding: .5em 0;
	&:is(input) {
		display: inline-block;
	}

	input[type="checkbox"] {
		position: relative;
		appearance: none;
		background: var(--input-background);
		width: 1.25em;
		height: 1.25em;
		border: var(--input-border);
		border-width: 2px;
		border-radius: var(--border-radius);
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
		vertical-align: text-bottom;
		&:active, &:checked:active {
			box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
		}
		&:checked {
			background: #999;
			background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/></svg>");
		}
		&:hover {
			box-shadow: 0 0 0 0.25rem #ccc;
		}
	}

	input[type="radio"] {
		position: relative;
		appearance: none;
		background: var(--input-background);
		height: 1.25em;
		width: 1.25em;
		border: 2px solid var(--input-border);
		border-radius: 50%;
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
		vertical-align: text-bottom;
		margin-inline-end: .25em;
			//&:active, &:checked:active {
			//  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
			//}
		&:checked {
			background: #999;
			background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='%23fff'/></svg>");
		}
		&:hover {
			box-shadow: 0 0 0 0.25rem #ccc;
		}
	}
}

.form-input {
	.input-field();
	color: var(--input-text-color);
	vertical-align: middle;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		//transition: all 50ms;
	&[type="color"] {
		height: 42px;
	}
	&[type="file"] {
		font-size: .9em;
	}
	&[readonly] {
		color: #777;
	}
}

.form-select {
	.input-field();
	padding-inline-end: 2.5em;
	user-select: none;
	cursor: default;

	&:not([multiple]) {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
		background-repeat: no-repeat;
		background-position: right 1em center;
		background-size: 16px 12px;
		appearance: none;
	}
}

.dropdown .form-select + .dropdown-menu {
	.option {
		label:hover {
			backdrop-filter: brightness(0.95);
		}
		input[type="checkbox"],
		input[type="radio"] {
			display: none;
		}
		&:has(input[type="checkbox"]:checked),
		&:has(input[type="radio"]:checked) {
			font-weight: bold;
			backdrop-filter: brightness(0.90);
		}
	}
}

.form-switch {
	display: block;
	input[type="checkbox"] {
		clip: rect(0,0,0,0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		position: absolute;
		width: 1px;
	}
	.switch {
		display: inline-block;
		position: relative;
		height: .8rem;
		width: 1.6rem;
		background: #bcc3ce;
		background-clip: padding-box;
		border: .05rem solid #bcc3ce;
		border-radius: .45rem;
		cursor: pointer;
		transition: background .2s, border .2s, box-shadow .2s, color .2s;

		&:before {
			content: '';
			display: block;
			background: #fff;
			border-radius: 50%;
			width: .7rem;
			height: .7rem;
			position: absolute;
			inset-inline-start: 0;
			top: 0;
			transition: background .2s, border .2s, box-shadow .2s, color .2s, left .2s;
		}
	}

	input[type="checkbox"]:checked + .switch {
		background: #254461;
		border-color: #254461;
		&:before {
			inset-inline-start: 11px;
		}
	}
}


.form-toggle {
	display: flex;
	flex-direction: row;
	padding: 0.5em .5em;
	gap: 1em;
	color: #000;
	border-radius: var(--border-radius);
	background: var(--input-background);

	label {
		flex: 0 0 auto;
		display: inline-block;
		border-radius: var(--border-radius);
		padding: .25em .75em;
		text-align: center;
		&:has(:checked) {
			background: var(--input-toggle-background);
		}
		&:hover:not(:has(:checked)):not(:has(:disabled)) {
			background: #fff3;
			cursor: pointer;
		}
		&:has(:focus) {
			outline: 0;
			border: var(--input-border-focus);
		}
		&:has(:disabled) {
			opacity: .5;
		}
	}
}

.input-group {
	.input-field();
	display: flex;
	padding: 0;
	align-items: center;
	.form-input {
		flex: 1 1 auto;
		background: none;
		box-shadow: none;
		border-radius: 0;
		border: none;
	}
	.form-select {
		flex: 1 1 auto;
		box-shadow: none;
		background: transparent;
		border-radius: 0;
		border: none;
	}
	.input-group-text {
		flex: 0 1 auto;
		padding: .5em 1em;
		background: var(--input-addon-background);
		border-inline-start: var(--input-border);
		border-inline-end: var(--input-border);
		color: var(--input-text-color);
		align-self: center;
		font-weight: normal;
		text-align: center;
		white-space: nowrap;
	}
	.input-group-icon {
		flex: 0 1 auto;
		padding: .5em 1em;
		margin-inline-end: -12px;
	}
	> *:first-child:not(.btn) {
		border-inline-start: none;
		border-radius: var(--border-radius) 0 0 var(--border-radius);
	}
	> *:last-child:not(.btn) {
		border-inline-end: none;
		border-radius: 0 var(--border-radius) var(--border-radius) 0;
	}
}

fieldset[disabled] > :not(legend),
:input[disabled],
.form-input[disabled],
.form-select[disabled] {
	opacity: .5;
}
