/* Input Fields & Input Groups - Bootstrap Compatible */

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
}

input[type="number"] {
  text-align: right;
}

input[type="checkbox"]:not(.form-switch) {
  display: inline-block;
  position: relative;
  -webkit-appearance: none;
  background: var(--input-background-color);
  height: 1.25em;
  width: 1.25em;
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  vertical-align: text-bottom;
  margin-right: .25em;
  &:active, &:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  }
  &:checked {
    background-color: #999;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/></svg>");
  }
  &:hover {
    box-shadow: 0 0 0 0.25rem #ccc;
  }
  &:disabled {
    opcaity: .5;
  }
}

input[type="radio"] {
  display: inline-block;
  position: relative;
  -webkit-appearance: none;
  background: var(--input-background-color);
  height: 1.25em;
  width: 1.25em;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  vertical-align: text-bottom;
  margin-right: .25em;
  //&:active, &:checked:active {
  //  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  //}
  &:checked {
    background-color: #999;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='%23fff'/></svg>");
  }
  &:hover {
    box-shadow: 0 0 0 0.25rem #ccc;
  }
  &:disabled {
    opcaity: .5;
  }
}

.form-group {
  &.required label::after {
    content: ' *';
    color: #f00;
  }
  &:not([class*=col-]) {
    margin-bottom: var(--gutter-size);
  }
  > label {
    display: inline-block;
    padding-bottom: .5em;
  }
}

.input-field() {
  position: relative;
  color: var(--input-text-color);
  background: var(--input-background-color);
  border: 1px solid var(--default-border-color);
  border-radius: var(--border-radius);
  box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.1);
}

.form-control {
  .input-field();
  display: block;
  width: 100%;
  min-width: 1px; // Firefox fix
  padding: .5em 1em;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  //transition: all 50ms;

  &[type="color"] {
    height: 42px;
  }
  &[type="file"] {
    font-size: 12px;
    padding: 5px;
  }
  &[disabled] {
    opacity: 0.5;
  }
  &[readonly] {
    color: #999;
  }
}

.form-switch {
  display: block;
  input[type="checkbox"] {
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }
  .switch {
    display: inline-block;
    position: relative;
    height: .8rem;
    width: 1.6rem;
    background: #bcc3ce;
    background-clip: padding-box;
    border: .05rem solid #bcc3ce;
    border-radius: .45rem;
    cursor: pointer;
    transition: background .2s,border .2s,box-shadow .2s,color .2s;

    &:before {
      content: '';
      display: block;
      background: #fff;
      border-radius: 50%;
      width: .7rem;
      height: .7rem;
      position: absolute;
      left: 0;
      top: 0;
      transition: background .2s, border .2s, box-shadow .2s, color .2s, left .2s;
    }
  }

  input[type="checkbox"]:checked + .switch {
    background: #254461;
    border-color: #254461;
    &:before {
      left: 11px;
    }
  }
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: ~"calc(var(--default-gutter-size) * 2)";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1em center;
  background-size: 16px 12px
}

.input-unstyled {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
}

.checkbox, .radio {
  padding: .5em 0;
}
.form-control .checkbox {
  padding: 1em 0;
}
.form-control-feedback {
  position: absolute;
  right: 24px;
  top: 35px;
}

.input-group {
  .input-field();
  display: flex;
  .form-control {
    background: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    margin-left: -1px;
  }
  .input-group-addon {
    flex: 1 0 auto;
    margin: 0 -1px;
    padding: .5em 1em;
    background-color: var(--default-color);
    border-left: 1px solid var(--default-border-color);
    border-right: 1px solid var(--default-border-color);
    color: #555;
    white-space: nowrap;
    font-weight: normal;
    text-align: center;
    .select-wrapper {
      background: none;
      margin: -1em -2em;
      &:before {
        right: -2em;
      }
    }
    select {
      width: auto;
      background: none;
      border: none;
    }
  }
  .input-group-icon {
    flex: 1 0 auto;
    padding: .5em 1em;
    + .form-control {
      padding-left: 0;
    }
  }
  .input-group-btn {
    flex: 1 0 auto;
    .btn {
      border-top: none;
      border-bottom: none;
      padding: .5em 1em;
      box-shadow: none;
    }
  }
  .form-control:first-child,
  .input-group-addon:first-child,
  .input-group-btn:first-child > .btn,
  .input-group-btn:first-child > .btn-group > .btn,
  .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }
  .form-control:last-child,
  .input-group-addon:last-child,
  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group > .btn,
  .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    margin-right: -1px;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
  + .input-group {
    margin-top: -1px;
  }
}

[data-toggle="buttons"] input[type="checbox"],
[data-toggle="buttons"] input[type="radio"] {
  display: none;
}
