/* Nav (Tabs, Pills) - Bootstrap Compatible */

.nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: .25em;
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		position: relative;
		flex: 0 0 100%;
		@media(min-width: @media-breakpoint-sm) {
			flex: 0 0 auto;
		}
	}

	ul {
		margin-inline-start: 1em;
		margin-top: .25em;
		list-style: none;
		padding: 0;
	}

	.nav-item {
		position: relative;
		display: block;
		padding: .75em 1em;
		border-radius: var(--border-radius);
		color: inherit;
		text-decoration: none;
		&:hover {
			backdrop-filter: brightness(.95);
		}
		&.disabled {
			color: fade(#777, 25%);
			&:hover,
			&:focus {
				text-decoration: none;
				cursor: not-allowed;
			}
		}
	}

	&.nav-justified {
		> li {
			flex: 1 0 auto;
			> a {
				margin-inline-end: 0;
				text-align: center;
				@media (min-width: @media-breakpoint-sm) {
					margin-bottom: 0;
				}
			}
		}
	}

	&.nav-stacked {
		display: flex;
		flex-direction: column;
	}
}

.nav-pills {
	.nav-item {
		background: var(--pills-background-color);
		border-radius: var(--border-radius);
		transition: all 125ms linear;
		color: var(--pills-text-color);
		border: 1px solid var(--pills-border-color);
		box-shadow: 0 1px 10px 0px rgba(0, 0, 0, .03);
		&:hover {
			background: var(--pills-background-color-hover);
			border-color: var(--pills-border-color-hover);
		}
		&.active {
			background: var(--pills-background-color-active);
			border-color: var(--pills-border-color-active);
			color: var(--pills-text-color-active);
		}
	}
}

.nav-tabs {
	background: var(--tabs-background-color);
	border-start-start-radius: var(--border-radius);
	border-start-end-radius: var(--border-radius);
	padding: .5em 1em 0 1em;
	color: var(--tabs-text-color);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
	> li {
		flex: 0 0 auto;
		> .nav-item {
			margin-inline-end: .5em;
			line-height: 1.42857143;
			border-radius: var(--border-radius) var(--border-radius) 0 0;
			padding: .5em 2em;
			background-color: rgba(255, 255, 255, .5);
			&:hover a {
				background-color: rgba(255, 255, 255, .75);
			}
			&.active a {
				background: var(--tabs-background-color-active);
				color: var(--tabs-text-color-active);
				margin-bottom: -1px;
				border-bottom-color: #fff;
			}
		}
	}
}

.tab-content {
	padding: var(--gutter-size);
	background: var(--page-background-color);
	border-end-start-radius: var(--border-radius);
	border-end-end-radius: var(--border-radius);
	background: #fff;
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
	.tab-pane {
		> .title {
		 margin-top: 0;
		}
	}
}
