/* Navbar - Bootstrap Compatible */

.navbar {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: var(--border-radius);

  .navbar-header {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    > * {
      flex: 1 1 auto;
    }

    .navbar-brand {
      a {
        display: block;
        padding: 1em;
        text-decoration: none;
        &:hover {
          background-color: rgba(0, 0, 0, .05);
        }
      }
      img {
        display: block;
        max-height: 32px;
      }
    }
  }

  .navbar-toggle {
    position: relative;
    flex: 0 1 auto;
    padding: 1em;
    margin: .5em;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: var(--border-radius);

    &:focus {
      outline: 0;
    }

    .icon-bar {
      position: relative;
      background-color: var(--navigation-text-color);
      display: block;
      width: 22px;
      height: 2px;
      transition: all 250ms ease-in-out;
      + .icon-bar {
        margin-top: 4px;
      }
      &:nth-of-type(2) {
        top: 1px;
      }
      &:nth-of-type(3) {
        top: 2px;
      }
    }
  }

  .navbar-menu {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    transition: all 200ms linear;
    @media (max-width: (@media-breakpoint-md - 1px)) {
      position: fixed;
      //top: 100%;
      top: 0;
      width: 295px;
      height: 100vh;
      margin-left: -295px;
      opacity: 0;
      height: auto;
      background: var(--offcanvas-navigation-background-color);
      color: var(--offcanvas-navigation-text-color);
      transition: margin 200ms ease-out;
    }
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-content: center;
    > li {
      flex: 0 0 auto;
      padding: 0;
      list-style: none;
    }
    > li > a {
      position: relative;
      display: block;
      padding: 1em;
      color: inherit;
      text-decoration: none;
      transition: all 125ms linear;
    }
    li.open > a {
      background-color: rgba(0, 0, 0, .15) !important;
    }
    li:not(.open) > a:hover {
      background-color: rgba(0, 0, 0, .05);
    }
  }

  .navbar-form {
    margin: .25rem;
    @media (min-width: @media-breakpoint-md) {
      margin: ~"calc(.25rem + 1px)";
    }
  }

  .dropdown-menu {
    padding: .5em;
    min-width: fit-content;
    margin-top: -1px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    li > a {
      padding: .5em 1em;
    }
  }

  &.expanded {
    .navbar-toggle {
      .icon-bar:nth-of-type(1) {
        top: 6px;
        transform: rotate(45deg);
      }
      .icon-bar:nth-of-type(2) {
        background-color: transparent;
      }
      .icon-bar:nth-of-type(3) {
        top: -6px;
        transform: rotate(-45deg);
      }
    }

    @media (max-width: (@media-breakpoint-md - 1px)) {
      .navbar-menu {
        height: 100vh;
        overflow-y: auto;
        margin-left: 0;
        opacity: 1;
        .open .dropdown-menu {
          position: static;
          width: auto;
          margin-top: 0;
          background-color: rgba(255, 255, 255, .15);
          border: 0;
          box-shadow: none;
          color: var(--offcanvas-navigation-text-color);
        }
      }
    }
  }

  .collapsing {
    //transition: height 0.5s;
    overflow: hidden;
  }

  .navbar-collapse {
    flex: 1 1 auto;
    overflow-x: visible;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
    //transition: height 0.5s;
    &.collapse {
      display: none;
    }
    &.in {
      display: block;
      overflow-y: auto;
    }
    @media (min-width: @media-breakpoint-sm) {
      width: auto;
      border-top: 0;
      box-shadow: none;
      &.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
      }
      &.in {
        overflow-y: visible;
      }
    }
  }

  @media (min-width: @media-breakpoint-md) {
    flex-direction: row;
    gap: 1em;

    .navbar-toggle {
      display: none;
    }

    .dropdown-menu {
      background-color: #fff;
      border: none;
    }

    .navbar-menu {
      //display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      height: auto;
      max-height: none;
      overflow-y: visible;
    }
    .navbar-nav {
      //display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      > li {
        flex: 0 0 auto;
      }
    }
  }
}
