/* Navbar - Bootstrap Compatible */

.navbar {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: var(--border-radius);

  li.open > a {
    background: rgba(0, 0, 0, .15) !important;
  }

  li:not(.open) > a:hover {
    background: rgba(0, 0, 0, .05);
  }

  @media (min-width: @media-breakpoint-sm) {
    //flex-direction: row;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    > li > a {
      color: inherit;
      transition: all 125ms linear;
    }
    @media (min-width: @media-breakpoint-sm) {
      float: left;
    }
  }

  &.navbar-bordered {
    border: 1px solid rgba(0,0,0,.15);
    .navbar-nav {
      > li > a {
        border-left: 1px solid rgba(0,0,0,.15);
      }
      &:not(.navbar-right) {
        border-right: 1px solid rgba(0,0,0,.15);
      }
    }
  }

  .dropdown-menu {
    padding: .5em;
    min-width: 100%;
    margin-top: -1px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    li > a {
      padding: .5em 1em;
    }
    @media (min-width: @media-breakpoint-sm) {
      background: #fff;
      border: none;
    }
  }

  @media (min-width: @media-breakpoint-sm) {
    flex-direction: row;
    .navbar-nav {
      flex-direction: row;
      align-self: flex-start;
      flex-wrap: wrap;
    }
    .navbar-right {
      align-self: flex-end;
    }
  }

  @media (max-width: (@media-breakpoint-sm - 1px)) {
    .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;
    }
  }
}

.collapsing {
  transition: height 0.5s;
  overflow: hidden;
}

.navbar-collapse {
  flex: 1 1 auto;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
  transition: height 0.5s;
  &.collapse {
    display: none;
  }
  &.in {
    display: block;
    overflow-y: auto;
  }
  @media (min-width: @media-breakpoint-sm) {
    justify-content: space-between;
    width: auto;
    border-top: 0;
    box-shadow: none;
    &.collapse {
      display: flex;
    }
    &.in {
      overflow-y: visible;
    }
  }
}

.navbar-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  > * {
    flex: 1 1 auto;
  }

  .navbar-brand {
    display: flex;
    a {
      padding: var(--gutter-size);
      text-decoration: none;
      &:hover {
        background: rgba(0, 0, 0, .05);
      }
    }
    > img {
      display: block;
    }
  }
}

.navbar-form {
  margin: .25rem;
  @media (min-width: @media-breakpoint-sm) {
    margin: ~"calc(.25rem + 1px)";
  }
}

.navbar-toggle {
  position: relative;
  flex: 0 1 auto;
  padding: .5em .5em;
  margin: .5em .5em .5em 0;
  background-color: rgba(0, 0, 0, 0.05);
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: none;
  border-radius: var(--border-radius);
  &:focus {
    outline: 0;
  }
  @media (min-width: @media-breakpoint-sm) {
    display: none;
  }
  .icon-bar {
    position: relative;
    background-color: var(--navigation-text-color);
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    transition: all 250ms ease-in-out;
    + .icon-bar {
      margin-top: 4px;
    }
  }
  .icon-bar:nth-of-type(2) {
    top: 1px;
  }
  .icon-bar:nth-of-type(3) {
    top: 2px;
  }

  &:not(.collapsed) {
    .icon-bar:nth-of-type(1) {
      top: 6px;
      transform: rotate(45deg);
    }
    .icon-bar:nth-of-type(2) {
      background-color: transparent;
    }
    .icon-bar:nth-of-type(3) {
      top: -6px;
      transform: rotate(-45deg);
    }
  }
}
