/* Badges */

.badge {
	background: var(--badge-background-color);
	color: var(--badge-text-color);
	border-radius: 1em;
	font-weight: 700;
	font-size: .6em;
	display: inline-block;
	width: 2em;
	line-height: 2;
	text-align: center;
}
