/* Notices */

.alerts {
	margin-bottom: 2em;
}

.alert(@type) {
	background: ~"var(--notice-@{type}-background)";
	color: ~"var(--notice-@{type}-text-color)";
	border: ~"var(--notice-@{type}-border)";
}

.alert {
	border-radius: var(--border-radius);
	margin-bottom: 1rem;
	padding: .5em 1em;
	.close {
		float: inline-end;
		font-size: 1.5em;
		font-weight: bold;
		line-height: 1;
		color: #000;
		text-shadow: 0 1px 0 #fff;
		opacity: .2;
		&:hover {
			text-decoration: none;
		}
	}

	&.alert-default { .alert("default"); }
	&.alert-success { .alert("success"); }
	&.alert-warning { .alert("warning"); }
	&.alert-danger { .alert("danger"); }
}
