/* Pagination */

.pagination {
	display: flex;
	padding-inline-start: 0;
	margin: var(--gutter-y) 0;
	border-radius: var(--border-radius);
	flex-wrap: wrap;

	.pagination-item {
		position: relative;
		display: inline-block;
		padding: .5em 1em;
		background: var(--pagination-item-background-color);
		color: var(--pagination-item-text-color);
		border: var(--pagination-item-border-width) solid var(--pagination-item-border-color);
		text-decoration: none;

		&:first-child {
			border-start-start-radius: var(--border-radius);
			border-end-start-radius: var(--border-radius);
		}

		&:last-child {
			border-start-end-radius: var(--border-radius);
			border-end-end-radius: var(--border-radius);
		}

		&:not(:first-child) {
			margin-inline-start: calc(0 - var(--border-width));
		}

		&.active {
			cursor: default;
			z-index: 3;
		}

		&.disabled {
			opacity: .5;
			cursor: not-allowed;
		}
	}
}
