.php-feedback {
	font-size: .8em;
	opacity: 0.75;
	transition: all 150ms linear;
	width: fit-content;
	margin: .5em;
	cursor: default;

	&:hover {
		opacity: 1;
	}
	&.warning {
		color: #aa4400;
	}
	&.error {
		color: #c70700;
	}
}