/* Typography*/

.text-narrow {
	font-weight: 300;
}
.text-regular {
	font-weight: 400;
}
.text-medium {
	font-weight: 500;
}
.text-bold {
	font-weight: 700;
}

.text-muted {
	opacity: .75;
}

.text-sm {
	font-size: .875em;
}
.text-lg {
	font-size: 1.25em;
}

.text-start { text-align: left !important; }
.text-left { text-align: start !important; }
.text-center { text-align: center !important; }
.text-justify { text-align: justify !important; }
.text-right { text-align: right !important; }
.text-end { text-align: end !important; }

@media (min-width: @media-breakpoint-sm) {
	.text-sm-start { text-align: start !important; }
	.text-sm-left { text-align: left !important; }
	.text-sm-center { text-align: center !important; }
	.text-sm-right { text-align: right !important; }
	.text-sm-end { text-align: end !important; }
}

@media (min-width: @media-breakpoint-md) {
	.text-md-start { text-align: start !important; }
	.text-md-left { text-align: left !important; }
	.text-md-center { text-align: center !important; }
	.text-md-right { text-align: right !important; }
	.text-md-end { text-align: end !important; }
}

@media (min-width: @media-breakpoint-lg) {
	.text-lg-start { text-align: start !important; }
	.text-lg-left { text-align: left !important; }
	.text-lg-center { text-align: center !important; }
	.text-lg-right { text-align: right !important; }
	.text-lg-end { text-align: end !important; }
}

@media (min-width: @media-breakpoint-xl) {
	.text-xl-start { text-align: start !important; }
	.text-xl-left { text-align: left !important; }
	.text-xl-center { text-align: center !important; }
	.text-xl-right { text-align: right !important; }
	.text-xl-end { text-align: end !important; }
}

@media (min-width: @media-breakpoint-xxl) {
	.text-xxl-start { text-align: start !important; }
	.text-xxl-left { text-align: left !important; }
	.text-xxl-center { text-align: center !important; }
	.text-xxl-right { text-align: right !important; }
	.text-xxl-end { text-align: end !important; }
}
