/* Animations */

@keyframes flasher {
	0%, 100% { box-shadow: none; }
	50% { box-shadow: 0 0 .5rem 1px #ff0000; }
}

@keyframes pulsating {
	0%, 50% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@keyframes pulse {
	0%, 100% { transform: scale(0.85); opacity: 0.9; }
	50% { transform: scale(1.1); opacity: 1; }
}
