/* Cards */

.card {
	position: relative;
	background: var(--card-background);
	color: var(--card-text-color);
	border: var(--card-border-width) solid var(--card-border-color);
	box-shadow: var(--card-shadow);
	margin-bottom: 1.5em;
	border-radius: var(--border-radius);

	.card-header,
	.card-filter,
	.card-body,
	.card-footer {
		padding: 1.5em;
	}

	.card-filter {
		display: flex;
		gap: 1em;

		.expandable {
			flex: 1;
		}
	}

	.card-action {
		position: absolute;
		top: 1.5em;
		inset-inline-end: 1.5em;
	}

	> *[class*="card-"]:first-child {
		border-start-start-radius: var(--border-radius);
		border-start-end-radius: var(--border-radius);
	}

	> *[class*="card-"]:last-child,
	> form:last-child *[class*="card-"]:last-child {
	}

	> *[class*="card-footer"]:last-child {
		border-end-start-radius: var(--border-radius);
		border-end-end-radius: var(--border-radius);
	}

	> table,
	> form > table {
		margin: 1.5em 0;
	}

	.card-header {
		.card-title {
			font-weight: var(--card-title-text-weight);
			font-size: var(--card-title-text-size);
			margin: 0;
		}
	}

	.card-footer {
		background: var(--card-footer-background);
		box-shadow: inset 0 10px 15px -15px rgb(0 0 0 / 25%);
	}

	.card-header,
	.card-body{
		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}

	.card-header,
	.card-body,
	.card-footer {
		&:blank {
			display: none;
		}
	}

	> hr {
		margin-inline: 0;
	}

	> .list-group:first-child .list-group-item:first-child {
		border-start-start-radius: .25rem;
		border-start-end-radius: .25rem;
	}

	> .list-group:last-child .list-group-item:last-child {
		border-end-end-radius: .25rem;
		border-end-start-radius: .25rem;
	}
}

.litebox .card {
	margin-bottom: 0;
}
