#box-cookie-notice {
  background: rgba(50, 50, 75, .85);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  color: #fff;
  z-index: 999;
  .notice {
    margin-bottom: 1em;
  }
}

#box-also-purchased-products {
  @media(min-width: @media-breakpoint-md) {
    position: sticky;
    top: 0;
  }
}

#box-filter {
  .brands {
    ul {
      max-height: 200px;
      overflow-y: auto;
    }
  }
}
