html, body {
  /*color: #866800;*/
  color: #333;
}

html {
  margin: 0px;
  padding: 0px;
  
  background: #204b70 url(../images/background.png);
}

body {
  margin: 0;
  padding: 10px;
  
  font: 12px  Helvetica, Arial, Verdana, sans-serif;
}

a:link, a:visited {
  color: rgb(0, 136, 204);
  text-decoration: none;
}
a:hover, a:active {
  color: rgb(0, 136, 204);
  text-decoration: underline;
}

h1{
  font-size: 2.5em;
  font-weight: bold;
}
h2{
  font-size: 2em;
  font-weight: bold;
}
h3{
  font-size: 1.5em;
  font-weight: bold ;
}

#page {
  min-width: 590px;
  max-width: 980px;
  
  padding: 0;
  margin: auto;
}

#header-wrapper {
}
#header {
  position: relative;
  height: 140px;
}

#logotype-wrapper {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px 0;
}

#languages-wrapper {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px 0;
}
#currencies-wrapper {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 35px 0px;
}
#search-wrapper {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px 0;
}
#site-menu-wrapper {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 10px 0;
}

#navigation {
  position: relative;
  height: 41px;
}
#cart-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  margin: 20px 0;
}
#cart {
  position: relative;
  display: inline-block;
  
  width: 120px;
  height: 30px;
  padding: 10px 20px;
  background: #e6d8a1;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6d8a1), to(#bbaf9e));
  background: -moz-linear-gradient(0% 0% 270deg,#e6d8a1, #bbaf9e);
}
#cart .cart-icon {
  position: absolute;
  left: -60px;
  top: -15px;
  width: 80px;
  height: 80px;
}

#cart button {
  margin: -1px 0 0 0;
  background: -moz-linear-gradient(rgb(55, 170, 234), rgb(17, 126, 210)) repeat scroll 0px 0px rgb(73, 165, 213);
  background-color: #49A5D5;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#37AAEA', endColorstr='#117ED2');
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#37AAEA), to(#117ED2)) repeat scroll 0 0 #408EDB;
  
  border: 1px solid rgb(76, 136, 188);
  
  color: rgb(255,255,255);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.6);
}

#checkout-button-wrapper {
  position: absolute;
  top: 8px;
  right: 5px;
}

#site-menu {
}
#site-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#site-menu ul li{
  display: inline-block;
  /*white-space: nowrap;*/
}
#site-menu ul li a {
  display: block;
  padding: 0 5px;
  text-decoration: none;
  text-align: center;
  color: #333;
}

#top-menu {
  /* see separate file */
}

#main {
  padding: 20px;
  background-color: #fff;
}

#sidebar {
  margin-right: 20px;
  
	width: 200px;
  padding: 10px;
  
  background-color: rgba(255, 255, 255, 1);
}

#content {
  /*margin-left: 270px;*/
  min-height: 400px;
}

#breadcrumbs {
}

#breadcrumbs, #breadcrumbs a {
  display: inline-block;
  margin: 0 -5px;
  padding: 4px 10px;
  color: rgb(75, 75, 75);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

#footer {
  padding: 0px 10px;
}

#footer table {

}
#footer table td {
  padding: 10px;
}

#footer * {
  color: rgb(136, 136, 136);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}
#footer a:hover {
  color: rgb(75, 75, 75);
}
#footer strong {
  color: rgb(102, 102, 102);
}

#footer h1 {
  font-size: 1.2em;
}

#copyright {
  opacity: 0.5;
  font-size: 0.8em;
  text-align: center;
  color: #fff;
}
#copyright a {
  color: #fff;
}
