.listing-wrapper {
  overflow: auto;
  
  text-decoration: none;
  color: #000000;
  margin: 0 -5px;
}

.listing-wrapper > .category-image {
  display: inline-block;
  float: left;
  
  width: 330px;
  height: 180px;
  
  padding: 0px;
  margin: 5px;
  
  text-align: left;
}

.listing-wrapper > .category-image {
  padding: 0;
}

.listing-wrapper > .category-description {
  display: inline-block;
  float: left;
  
  width: 320px;
  height: 190px;
  
  padding: 0px;
  margin: 5px;
  
  text-align: left;
}

.listing-wrapper > .category {
  display: inline-block;
  float: left;
  
  padding: 0px;
  margin: 5px;
  
  background: rgb(255, 255, 255);
  
  -moz-box-shadow: 0px 0px 2px #aaa;
  -webkit-box-shadow: 0px 0px 2px #aaa;
  box-shadow: 0px 0px 2px #aaa;
  
  text-align: center;
}
.listing-wrapper > .category:hover {
  -moz-box-shadow: 0px 0px 2px #c00;
  -webkit-box-shadow: 0px 0px 2px #c00;
  box-shadow: 0px 0px 2px #c00;
}
.listing-wrapper > .category a.link {
  display: block;
  
  padding: 5px;
  
  text-decoration: none;
  color: #333333;
}
.listing-wrapper > .category .image{
  position: relative;
}
.listing-wrapper > .category .footer {
  display: block;

  width: 100%;
  padding: 5px 0;

  background: rgba(100, 100, 100, 0.75);
  color: #fff;
}
.listing-wrapper > .category .title {
  font-weight: bold;
}

.listing-wrapper > .manufacturer-description {
  display: block;
  float: left;
  
  width: 330px;
  height: 180px;
  
  padding: 0px;
  margin: 5px;
  
  text-align: left;
}

.listing-wrapper  > .manufacturer {
  display: inline-block;
  float: left;
  
  padding: 0px;
  margin: 5px;
  
  background: rgb(255, 255, 255);
  
  -moz-box-shadow: 0px 0px 2px #aaa;
  -webkit-box-shadow: 0px 0px 2px #aaa;
  box-shadow: 0px 0px 2px #aaa;
  
  text-align: center;
}
.listing-wrapper > .manufacturer a.link {
  display: block;
  
  padding: 5px;
  
  text-decoration: none;
  color: #333333;
}
.listing-wrapper > .manufacturer:hover {
  -moz-box-shadow: 0px 0px 2px #c00;
  -webkit-box-shadow: 0px 0px 2px #c00;
  box-shadow: 0px 0px 2px #c00;
}
.listing-wrapper > .manufacturer .title {
  display: block;

  width: 100%;
  padding: 5px 0;

  background: rgba(100, 100, 100, 0.75);
  color: #fff;
}

.listing-wrapper > .product {
  display: inline-block;
  float: left;
  
  padding: 0px;
  margin: 5px;
  
  -moz-box-shadow: 0px 0px 2px #aaa;
  -webkit-box-shadow: 0px 0px 2px #aaa;
  box-shadow: 0px 0px 2px #aaa;
}
.listing-wrapper > .product:hover {
  -moz-box-shadow: 0px 0px 2px #069;
  -webkit-box-shadow: 0px 0px 2px #069;
  box-shadow: 0px 0px 2px #069;
}

.listing-wrapper > .product a.link {
  display: block;
  
  margin: 0;
  padding: 10px;
  
  background: #fff;

  text-decoration: none;
  color: #000;
  
  text-align: left;
}
.listing-wrapper > .product .manufacturer {
  color: #999;
  font-size: 0.8em;
  width: 145px; /* img width */
  overflow: hidden;
  white-space: nowrap;
}
.listing-wrapper > .product .price {
  color: #000;
  text-align: right;
  font-size: 1.1em;
  font-weight: bold;
}

.listing-wrapper > .product .price span.campaign-price {
  color: #c00;
}