.pagination {
  clear: both;
  margin-bottom: 20px;
  text-align: left;
}

.pagination .page {
}

.pagination .page:hover, .page.gradient:hover {
}

.pagination .page:active, .pagination .page.active {
}

.pagination .page.disabled {
}