body {
  display: flex;
  flex-direction: column;
  background: var(--site-background-color);
}
body main {
  flex-grow: 1;
}
#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#page #main {
  flex-grow: 1;
}
#important-message {
  padding: 0.75em 1em;
}
#site-top-bar {
  background: var(--top-bar-background-color);
  color: var(--top-bar-text-color);
  z-index: 999999;
}
#site-top-bar .container {
  display: flex;
  justify-content: space-evenly;
}
#site-top-bar .nav {
  justify-content: center;
}
#site-top-bar .code {
  font-size: 0.8em;
  background: #bcbccb;
  padding: 0.25em 1em;
}
#site-navigation {
  position: relative;
  padding-bottom: 0;
  z-index: 1;
  border-radius: var(--border-radius);
  color: var(--navigation-text-color);
  background-color: var(--navigation-background-color);
  padding: 0.5em 0.75em;
}
@media (min-width: 768px) {
  #site-navigation .categories .dropdown-menu li {
    break-inside: avoid;
  }
}
@media (min-width: 768px) and (min-width: 576px) {
  #site-navigation .categories .dropdown-menu {
    flex-wrap: wrap;
    max-height: 250px;
    gap: 0 2em;
  }
}
#site-navigation .regional-settings {
  text-decoration: none;
  color: var(--navigation-text-color);
}
#site-navigation .regional-settings .code {
  font-size: 0.8em;
  background: #bcbccb;
  padding: 0.25em 0.5em;
  text-transform: none;
}
#site-navigation .navbar-search .dropdown-menu {
  left: 0;
  right: 0;
}
@media (min-width: 576px) {
  #site-navigation .navbar-search .dropdown-menu {
    width: 400px;
    max-width: 400px;
  }
}
@media (min-width: 768px) {
  #site-navigation .navbar-search {
    margin: 0 1em;
  }
}
#site-navigation .search {
  order: -1;
}
#site-navigation .search form {
  padding: 0.5em;
}
#site-navigation .wishlist {
  line-height: 1;
  transition: all 200ms ease-out;
}
#site-navigation .wishlist img {
  max-height: 32px;
}
#site-navigation .wishlist .badge {
  position: absolute;
  bottom: 12px;
  inset-inline-start: 12px;
}
#site-navigation .wishlist .badge,
#site-navigation .wishlist .checkout {
  display: none;
}
#site-navigation .wishlist .name {
  white-space: normal;
}
#site-navigation .wishlist .price {
  font-weight: 500;
}
#site-navigation .wishlist .items a {
  color: inherit;
}
#site-navigation .wishlist .row {
  margin-bottom: 0;
}
#site-navigation .wishlist.filled .badge {
  display: inline-block;
  animation: pulsating 2s linear;
  animation-iteration-count: infinite;
}
#site-navigation .wishlist.filled .checkout {
  display: block;
}
#site-navigation .wishlist.filled .empty {
  display: none;
}
@media (min-width: 768px) {
  #site-navigation .wishlist .dropdown-menu {
    width: 360px;
    max-height: calc(100vh - 125px);
    display: flex;
    flex-direction: column;
  }
  #site-navigation .wishlist .dropdown-menu li {
    flex-shrink: 0;
    flex-grow: 0;
  }
  #site-navigation .wishlist .items {
    overflow-y: auto;
    flex-shrink: 1 !important;
    flex-grow: 1 !important;
  }
}
#site-navigation .wishlist .search {
  flex-grow: 1;
  order: initial;
}
#site-navigation .shopping-cart {
  line-height: 1;
  transition: all 200ms ease-out;
}
#site-navigation .shopping-cart img {
  max-height: 32px;
}
#site-navigation .shopping-cart .badge {
  position: absolute;
  bottom: 12px;
  inset-inline-end: 32px;
}
#site-navigation .shopping-cart .badge,
#site-navigation .shopping-cart .checkout {
  display: none;
}
#site-navigation .shopping-cart .name {
  white-space: normal;
}
#site-navigation .shopping-cart .price {
  font-weight: 500;
}
#site-navigation .shopping-cart .items a {
  color: inherit;
}
#site-navigation .shopping-cart .row {
  margin-bottom: 0;
}
#site-navigation .shopping-cart.filled .badge {
  display: inline-block;
  animation: pulsating 2s linear;
  animation-iteration-count: infinite;
}
#site-navigation .shopping-cart.filled .checkout {
  display: block;
}
#site-navigation .shopping-cart.filled .empty {
  display: none;
}
@media (min-width: 768px) {
  #site-navigation .shopping-cart .dropdown-menu {
    width: 360px;
    max-height: calc(100vh - 125px);
    display: flex;
    flex-direction: column;
  }
  #site-navigation .shopping-cart .dropdown-menu li {
    flex-shrink: 0;
    flex-grow: 0;
  }
  #site-navigation .shopping-cart .items {
    overflow-y: auto;
    flex-shrink: 1 !important;
    flex-grow: 1 !important;
  }
}
#site-navigation .shopping-cart .search {
  flex-grow: 1;
  order: initial;
}
#site-footer {
  background: var(--footer-background-color);
  color: var(--footer-text-color);
  border-top: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #97989f00, #89849269, #97989f00);
}
#site-footer * {
  color: inherit;
}
#site-footer .row {
  margin-bottom: 0;
}
#site-footer .modules {
  margin: 1rem 0;
}
#site-footer .buttons {
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  gap: 0.5em;
  line-height: 1;
  font-size: 1.5em;
}
#site-footer .buttons > * {
  aspect-ratio: 1;
}
#site-footer .buttons a {
  background: #fff;
  padding: 0.5em;
  border-radius: var(--border-radius);
}
#site-footer .buttons a:hover {
  background: #666;
  color: #fff;
}
#site-footer .facility img {
  filter: grayscale(0.75);
  margin-bottom: var(--gutter-size);
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: all 250ms linear;
}
#site-footer .facility img:hover {
  filter: grayscale(0);
}
#site-footer .title {
  border-color: #999;
  font-size: 1.25em;
  margin: 0 0 0.75em 0;
}
#copyright {
  background: var(--copyright-background-color);
}
#copyright .notice {
  color: var(--copyright-text-color);
  padding: 1rem;
  text-align: center;
  font-size: 0.75em;
  letter-spacing: 0.5pt;
}
#copyright .notice a {
  color: inherit;
}
#scroll-up {
  display: none;
  bottom: 1em;
  inset-inline-end: 1em;
  width: 2em;
  height: 2em;
  opacity: 0.3;
  position: fixed;
  font-size: 1.5em;
  transition: linear all 200ms;
}
#scroll-up:hover {
  opacity: 1;
}
/* Boxes */
#box-cookie-notice {
  background: var(--cookie-notice-background-color);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  backdrop-filter: saturate(200%) blur(5px);
  color: var(--cookie-notice-text-color);
  z-index: 999;
}
#box-cookie-notice a {
  color: inherit;
}
#box-cookie-notice .buttons {
  margin-top: 1em;
}
@media (min-width: 768px) {
  #box-cookie-notice {
    max-width: 480px;
    margin: 0 auto;
    bottom: 1em;
    border-radius: var(--border-radius);
  }
}
@media (min-width: 768px) {
  #box-also-purchased-products {
    position: sticky;
    top: 0;
  }
}
#box-recently-viewed-products {
  margin-bottom: 0;
}
#box-recently-viewed-products .products {
  display: grid;
  grid-gap: calc(var(--gutter-size) / 2);
  grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
}
#box-filter .brands ul {
  max-height: 200px;
  overflow-y: auto;
}
#box-information li a {
  color: inherit;
  line-height: 175%;
}
#box-information li a.active {
  color: var(--link-text-color);
}
#box-information li a:hover {
  color: var(--link-text-color);
}
.listing {
  display: grid;
  grid-gap: 0.5em;
}
@media (min-width: 576px) {
  .listing {
    grid-gap: 0.75em;
  }
}
@media (min-width: 576px) {
  .listing {
    grid-gap: 1em;
  }
}
@media (min-width: 576px) {
  .listing {
    grid-gap: 2em;
  }
}
.listing.brands {
  margin-bottom: var(--gutter-size);
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
}
@media (min-width: 576px) {
  .listing.brands {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.listing.categories {
  margin-bottom: var(--gutter-size);
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
}
@media (min-width: 576px) {
  .listing.categories {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-bottom: 2em;
  }
}
.listing.products.columns {
  grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
}
@media (min-width: 576px) {
  .listing.products.columns {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
.listing.products.rows {
  grid-auto-flow: row;
  grid-template-columns: initial;
}
.listing a {
  color: inherit;
  text-decoration: none;
}
.listing .category,
.listing .brand,
.listing .product {
  position: relative;
  color: inherit;
  text-decoration: none;
}
.listing .category > a,
.listing .brand > a,
.listing .product > a {
  display: flex;
  flex-direction: column;
}
.listing .brand img {
  width: 100%;
  height: auto;
  padding: 0.5rem;
}
.listing .brand .caption {
  margin: 0;
  padding: 0.5em;
  background: #f2f2f2;
  color: var(--default-text-color);
  text-align: center;
  border-radius: var(--border-radius);
}
.listing .category {
  overflow: initial;
  background: none;
  box-shadow: none;
  border: none;
}
.listing .category .link {
  display: block;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  padding: 0.5em;
  transition: all 100ms linear;
}
.listing .category .link:hover {
  background: #fff6;
  border: 1px solid #e2e2e9;
}
.listing .category .caption {
  flex: 1 0 auto;
  padding: 0.5em 1em;
  color: var(--default-text-color);
  text-align: center;
  align-self: center;
}
.listing .category .caption * {
  color: inherit;
  margin: 0;
}
.listing .product {
  background: var(--whitespace-color);
  font-size: calc(var(--default-text-size) - 1px);
  transition: all 100ms linear;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  overflow: hidden;
}
@media (min-width: 576px) {
  .listing .product:hover {
    border: 1px solid var(--listing-border-color);
    background: #fff;
  }
}
.listing .product .image-wrapper {
  background: var(--whitespace-color);
}
.listing .product .image-wrapper .thumbnail {
  padding: 0.5rem;
}
.listing .product .image-wrapper .sticker {
  position: absolute;
  top: 1em;
  padding: 0.5em 1em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
.listing .product .image-wrapper .sticker.new {
  background: rgba(251, 184, 41, 0.9);
}
.listing .product .image-wrapper .sticker.sale {
  background: rgba(237, 60, 50, 0.9);
}
.listing .product .info {
  padding: 1em;
  padding-top: 0;
}
.listing .product .name {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 40px;
  line-height: 125%;
  font-weight: 500;
}
.listing .product .brand {
  padding: 1em 0;
}
.listing .product .brand-name {
  color: var(--default-text-color);
  font-size: 0.9em;
  text-overflow: ellipsis;
  text-align: center;
  line-height: 200%;
  white-space: nowrap;
  overflow: hidden;
}
.listing .product .price .price {
  color: #333;
  white-space: nowrap;
}
.listing .product .price .regular-price,
.listing .product .price .recommended-price {
  color: var(--default-text-color);
  font-size: 0.75em;
  font-weight: normal;
  white-space: nowrap;
}
.listing .product .price .final-price {
  font-weight: bold;
  color: #cc0000;
  white-space: nowrap;
}
.listing .product .actions {
  position: absolute;
  display: none;
  top: 1em;
  inset-inline-end: 1em;
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(3px);
  border-radius: 1em;
  margin: 0 -1px -1px -1px;
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.15);
}
.listing .product .actions .btn {
  padding: var(--input-padding-y);
  border: 1px solid var(--default-border-color);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  line-height: 1;
}
@media (min-width: 576px) {
  .listing .product:hover .actions {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}
.listing.columns .product .short-description {
  display: none;
}
.listing.rows .product .link {
  flex-direction: row;
  min-height: 175px;
}
.listing.rows .product .info {
  padding: 0.5rem;
}
@media (min-width: 576px) {
  .listing.rows .product .info {
    inset-inline-start: calc(160px + 1rem);
  }
}
.listing.rows .product .name {
  margin: 0;
}
.listing.rows .product .short-description {
  margin: 1rem;
  font-size: 0.85em;
}
.listing.rows .product .image-wrapper {
  display: inline-block;
  max-width: 100px;
}
@media (min-width: 576px) {
  .listing.rows .product .image-wrapper {
    max-width: 175px;
  }
}
.listing.rows .product .price {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 20%, #ffffff 100%);
}
@media (min-width: 576px) {
  .listing.rows .product {
    height: auto;
  }
  .listing.rows .product .description {
    margin-top: 1rem;
  }
}
[data-toggle="momentumScroll"] {
  position: relative;
  margin: calc(0px - var(--gutter-size));
}
[data-toggle="momentumScroll"] .scroll-content {
  padding: var(--gutter-size);
  overflow: hidden;
  user-select: none;
  touch-action: pan-x;
  cursor: grab;
}
[data-toggle="momentumScroll"] .scroll-content::-webkit-scrollbar {
  height: 0.5em;
}
[data-toggle="momentumScroll"] .scroll-content::-webkit-scrollbar * {
  background: transparent;
}
[data-toggle="momentumScroll"] .scroll-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25) !important;
  border-radius: 6px;
}
[data-toggle="momentumScroll"] button[name="left"],
[data-toggle="momentumScroll"] button[name="right"] {
  position: absolute;
  top: 40%;
  width: 3em;
  height: 3em;
  border-radius: var(--border-radius);
  padding: 0;
}
[data-toggle="momentumScroll"] button[name="left"] {
  inset-inline-start: -20px;
}
[data-toggle="momentumScroll"] button[name="right"] {
  inset-inline-end: -20px;
}
[data-toggle="momentumScroll"] .listing {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.75em;
}
@media (min-width: 576px) {
  [data-toggle="momentumScroll"] .listing {
    gap: 1em;
  }
}
@media (min-width: 768px) {
  [data-toggle="momentumScroll"] .listing {
    gap: 1.5em;
  }
}
@media (min-width: 768px) {
  [data-toggle="momentumScroll"] .listing {
    gap: 2em;
  }
}
[data-toggle="momentumScroll"] .listing .product {
  flex: 0 0 calc(50% - 0.5em);
}
@media (min-width: 576px) {
  [data-toggle="momentumScroll"] .listing .product {
    flex: 0 0 calc(33.34% - 1em);
  }
}
@media (min-width: 768px) {
  [data-toggle="momentumScroll"] .listing .product {
    flex: 0 0 calc(25% - 2em);
  }
}
@media (min-width: 992px) {
  [data-toggle="momentumScroll"] .listing .product {
    flex: 0 0 calc(20% - 2em);
  }
}
#box-product .images {
  margin-bottom: 2rem;
}
#box-product .main-image {
  position: relative;
  overflow: hidden;
}
#box-product .main-image .sticker {
  color: #fff;
  top: 1em;
  padding: 0.5rem 1rem;
  position: absolute;
  text-transform: uppercase;
  line-height: 100%;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
#box-product .main-image .sticker.new {
  background: rgba(251, 184, 41, 0.85);
}
#box-product .main-image .sticker.sale {
  background: rgba(237, 60, 50, 0.85);
}
#box-product .price {
  font-size: 1.75em;
}
#box-product .regular-price {
  font-size: 0.75em;
}
#box-product .final-price {
  color: #cc0000;
}
#box-product .tax {
  color: #999;
}
#box-product .stock-available .value {
  color: #009900;
}
#box-product .stock-partly-available .value {
  color: #ff9900;
}
#box-product .stock-unavailable .value {
  color: #cc0000;
}
#box-product .social-bookmarks {
  margin: 1rem 0;
}
#box-product .social-bookmarks a {
  padding: 0.5em 1em;
}
#box-product .description p:first-child {
  margin-top: 0;
}
#box-product .description p:last-child {
  margin-bottom: 0;
}
#box-product .technical-data table {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid-column;
}
#box-product .technical-data table td:first-child {
  width: 50%;
}
