body {
  background: var(--site-background);
}
#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#page #main {
  flex-grow: 1;
}
#important-message {
  background: var(--important-message-background);
  color: var(--important-message-text-color);
  padding: 0.75em 1em;
}
#site-toolbar {
  background: var(--toolbar-background);
  color: var(--toolbar-text-color);
  z-index: 999999;
}
#site-toolbar .container {
  display: flex;
  justify-content: space-evenly;
}
#site-toolbar .nav {
  justify-content: center;
}
#site-toolbar .code {
  font-size: 0.8em;
  background: #bcbccb;
  padding: 0.25em 1em;
}
#site-navigation {
  margin-top: 0.5em;
}
#site-navigation .regional-settings {
  text-decoration: none;
  color: var(--navigation-text-color);
}
#site-navigation .regional-settings .code {
  font-size: 0.8em;
  background: #bcbccb;
  padding: 0.25em 0.5em;
  text-transform: none;
}
#site-navigation .navbar-search .dropdown-menu {
  left: 0;
  right: 0;
}
@media (min-width: 576px) {
  #site-navigation .navbar-search .dropdown-menu {
    width: 400px;
    max-width: 400px;
  }
}
@media (min-width: 768px) {
  #site-navigation .navbar-search {
    margin: 0 1em;
  }
}
#site-navigation .search {
  order: -1;
}
#site-navigation .search form {
  padding: 0.5em;
}
#site-navigation .wishlist {
  line-height: 1.2;
  transition: all 200ms ease-out;
}
#site-navigation .wishlist .navbar-item {
  border-radius: 0;
}
#site-navigation .wishlist img {
  max-height: 32px;
}
#site-navigation .wishlist .badge {
  position: absolute;
  bottom: 12px;
  inset-inline-start: 12px;
}
#site-navigation .wishlist .badge,
#site-navigation .wishlist .checkout {
  display: none;
}
#site-navigation .wishlist .name {
  white-space: normal;
}
#site-navigation .wishlist .price {
  font-weight: 500;
}
#site-navigation .wishlist .items a {
  color: inherit;
}
#site-navigation .wishlist .row {
  margin-bottom: 0;
}
#site-navigation .wishlist.filled .badge {
  display: inline-block;
  animation: pulsating 2s linear;
  animation-iteration-count: infinite;
}
#site-navigation .wishlist.filled .checkout {
  display: block;
}
#site-navigation .wishlist.filled .empty {
  display: none;
}
@media (min-width: 768px) {
  #site-navigation .wishlist .dropdown-menu {
    width: 360px;
    max-height: calc(100vh - 125px);
    display: flex;
    flex-direction: column;
  }
  #site-navigation .wishlist .dropdown-menu li {
    flex-shrink: 0;
    flex-grow: 0;
  }
  #site-navigation .wishlist .dropdown-menu .items {
    overflow-y: auto;
    flex-shrink: 1 !important;
    flex-grow: 1 !important;
  }
}
#site-navigation .wishlist .search {
  flex-grow: 1;
  order: initial;
}
#site-navigation .shopping-cart {
  line-height: 1.2;
  transition: all 200ms ease-out;
}
#site-navigation .shopping-cart .navbar-item {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}
#site-navigation .shopping-cart img {
  max-height: 32px;
}
#site-navigation .shopping-cart .badge {
  position: absolute;
  bottom: 12px;
  inset-inline-end: 32px;
}
#site-navigation .shopping-cart .badge,
#site-navigation .shopping-cart .checkout {
  display: none;
}
#site-navigation .shopping-cart .name {
  white-space: normal;
}
#site-navigation .shopping-cart .price {
  font-weight: 500;
}
#site-navigation .shopping-cart .items a {
  color: inherit;
}
#site-navigation .shopping-cart .row {
  margin-bottom: 0;
}
#site-navigation .shopping-cart.filled .badge {
  display: inline-block;
  animation: pulsating 2s linear;
  animation-iteration-count: infinite;
}
#site-navigation .shopping-cart.filled .checkout {
  display: block;
}
#site-navigation .shopping-cart.filled .empty {
  display: none;
}
@media (min-width: 768px) {
  #site-navigation .shopping-cart .dropdown-menu {
    width: 360px;
    max-height: calc(100vh - 125px);
    display: flex;
    flex-direction: column;
  }
  #site-navigation .shopping-cart .dropdown-menu li {
    flex-shrink: 0;
    flex-grow: 0;
  }
  #site-navigation .shopping-cart .dropdown-menu .items {
    overflow-y: auto;
    flex-shrink: 1 !important;
    flex-grow: 1 !important;
  }
}
#site-navigation .shopping-cart .search {
  flex-grow: 1;
  order: initial;
}
@media (min-width: 768px) {
  #site-navigation .categories .dropdown-menu li {
    break-inside: avoid;
  }
}
@media (min-width: 576px) {
  #site-navigation .categories .dropdown-menu {
    flex-wrap: wrap;
    max-height: 250px;
    gap: 0 2em;
  }
}
#site-footer {
  background: var(--footer-background);
  color: var(--footer-text-color);
  box-shadow: var(--footer-shadow);
  padding: 1em 0;
}
#site-footer .row {
  margin-bottom: 0;
}
#site-footer .modules {
  margin: 1rem 0;
}
#site-footer .buttons {
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  gap: 0.5em;
  line-height: 1.2;
  font-size: 1.5em;
}
#site-footer .buttons > * {
  aspect-ratio: 1;
}
#site-footer .buttons a {
  background: #fff;
  padding: 0.5em;
  border-radius: var(--border-radius);
}
#site-footer .buttons a:hover {
  background: #666;
  color: #fff;
}
#site-footer .facility img {
  filter: grayscale(0.75);
  margin-bottom: var(--gutter-y);
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: all 250ms linear;
}
#site-footer .facility img:hover {
  filter: grayscale(0);
}
#site-footer .title {
  border-color: #999;
  font-size: 1.25em;
  margin: 0 0 0.75em 0;
}
#copyright {
  background: var(--copyright-background);
}
#copyright .container {
  padding: 0.5em var(--gutter-x);
}
#copyright .notice {
  color: var(--copyright-text-color);
  text-align: center;
  font-size: 0.75em;
  letter-spacing: 0.5pt;
}
#copyright .notice a {
  color: inherit;
}
#scroll-up {
  display: none;
  bottom: 1em;
  inset-inline-end: 1em;
  width: 2em;
  height: 2em;
  opacity: 0.3;
  position: fixed;
  font-size: 1.5em;
  transition: linear all 200ms;
}
#scroll-up:hover {
  opacity: 1;
}
#site-cookie-consent {
  background: rgba(18, 0, 54, 0.65);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  backdrop-filter: saturate(200%) blur(10px);
  color: #fff;
  z-index: 999;
  height: auto;
  overflow: hidden;
  transition: all 200ms linear;
}
#site-cookie-consent.hidden {
  height: 0;
  padding: 0;
}
#site-cookie-consent h1 {
  margin-top: 0;
}
#site-cookie-consent .notice {
  margin-bottom: 1em;
}
#site-cookie-consent .notice a {
  color: inherit;
  text-decoration: underline;
}
#site-cookie-consent .notice button {
  margin: 0 0.25em;
  white-space: nowrap;
}
#site-cookie-consent .notice button[name="customize"] {
  float: inline-end;
}
@media (min-width: 768px) {
  #site-cookie-consent {
    max-width: 720px;
    margin: 0 auto;
    bottom: 1em;
    border-radius: 8px;
  }
}
#site-cookie-consent .privacy-classes {
  background: #fff3;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 2em;
  max-height: 80vh;
  overflow-y: auto;
  transition: all 200ms linear;
  height: 480px;
}
#site-cookie-consent .privacy-classes.expanded {
  height: 0;
  padding: 0;
  margin-bottom: 0;
  overflow: hidden;
  border-color: transparent;
}
#site-cookie-consent .privacy-classes a,
#site-cookie-consent .privacy-classes .description {
  color: inherit;
  opacity: 0.5;
}
#site-cookie-consent .privacy-classes label {
  display: block;
}
#site-cookie-consent .privacy-classes label + label {
  margin-top: 0.5em;
}
#site-cookie-consent .privacy-classes .require-consent {
  border: 1px dashed #eee;
  padding: 2em;
  text-align: center;
}
#site-cookie-consent .privacy-classes .class .name {
  font-weight: bold;
}
#site-cookie-consent .privacy-classes .class input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
}
#site-privacy-consent {
  background: rgba(0, 0, 0, 0.65);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  backdrop-filter: saturate(200%) blur(10px);
  color: #fff;
  z-index: 999;
  height: auto;
  overflow: hidden;
  transition: all 200ms linear;
}
#site-privacy-consent.hidden {
  height: 0;
  padding: 0;
}
#site-privacy-consent h1 {
  margin-top: 0;
}
#site-privacy-consent .notice {
  margin-bottom: 1em;
}
#site-privacy-consent .notice a {
  color: inherit;
  text-decoration: underline;
}
#site-privacy-consent .notice button {
  margin: 0 0.25em;
  white-space: nowrap;
}
#site-privacy-consent .notice button[name="customize"] {
  float: inline-end;
}
@media (min-width: 768px) {
  #site-privacy-consent {
    max-width: 640px;
    margin: 0 auto;
    bottom: 1em;
    border-radius: 8px;
  }
}
#site-privacy-consent .privacy-classes {
  background: #fff3;
  border-radius: 8px;
  height: 0;
  padding: 0;
  margin-bottom: 0;
  overflow: hidden;
  transition: all 200ms linear;
}
#site-privacy-consent .privacy-classes.expanded {
  height: 480px;
  max-height: 50vh;
  padding: 1em;
  margin-bottom: 2em;
  overflow-y: auto;
  border-color: transparent;
}
#site-privacy-consent .privacy-classes a,
#site-privacy-consent .privacy-classes .description {
  color: inherit;
  opacity: 0.5;
}
#site-privacy-consent .privacy-classes label {
  display: block;
}
#site-privacy-consent .privacy-classes label + label {
  margin-top: 0.5em;
}
#site-privacy-consent .privacy-classes .third-parties {
  margin: 1em 5em;
}
#site-privacy-consent .privacy-classes .require-consent:not(:empty) {
  border: 1px dashed #eee;
  padding: 2em;
  text-align: center;
}
#site-privacy-consent .privacy-classes .class .name {
  font-weight: bold;
}
#site-privacy-consent .privacy-classes .class input[type="checkbox"][value="all"] {
  width: 1.5em;
  height: 1.5em;
}
@media (min-width: 768px) {
  #box-also-purchased-products {
    position: sticky;
    top: 0;
  }
}
#box-recently-viewed-products {
  margin-bottom: 0;
}
#box-recently-viewed-products .products {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
}
#box-filter .brands ul {
  max-height: 200px;
  overflow-y: auto;
}
#box-information li a {
  color: inherit;
  line-height: 175%;
}
#box-information li a.active {
  color: var(--link-text-color);
}
#box-information li a:hover {
  color: var(--link-text-color);
}
.listing {
  display: grid;
  grid-gap: 0.5em;
}
@media (min-width: 576px) {
  .listing {
    grid-gap: 0.75em;
  }
}
@media (min-width: 576px) {
  .listing {
    grid-gap: 1em;
  }
}
@media (min-width: 576px) {
  .listing {
    grid-gap: 2em;
  }
}
.listing.brands {
  margin-bottom: var(--gutter-y);
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
}
@media (min-width: 576px) {
  .listing.brands {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.listing.categories {
  margin-bottom: var(--gutter-y);
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
}
@media (min-width: 576px) {
  .listing.categories {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-bottom: 2em;
  }
}
.listing.products.columns {
  grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
}
@media (min-width: 576px) {
  .listing.products.columns {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
.listing.products.rows {
  grid-auto-flow: row;
  grid-template-columns: initial;
}
.listing a {
  color: inherit;
  text-decoration: none;
}
.listing .category,
.listing .brand,
.listing .product {
  position: relative;
  color: inherit;
  text-decoration: none;
}
.listing .category > a,
.listing .brand > a,
.listing .product > a {
  display: flex;
  flex-direction: column;
}
.listing .brand img {
  width: 100%;
  height: auto;
  padding: 0.5rem;
}
.listing .brand .caption {
  margin: 0;
  padding: 0.5em;
  background: #f2f2f2;
  color: var(--default-text-color);
  text-align: center;
  border-radius: var(--border-radius);
}
.listing .category {
  overflow: initial;
  background: none;
  box-shadow: none;
  border: none;
}
.listing .category .link {
  display: block;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  padding: 0.5em;
  transition: all 100ms linear;
}
.listing .category .link:hover {
  background: #fff6;
  border: 1px solid #e2e2e9;
}
.listing .category .caption {
  flex: 1 0 auto;
  padding: 0.5em 1em;
  color: var(--default-text-color);
  text-align: center;
  align-self: center;
}
.listing .category .caption * {
  color: inherit;
  margin: 0;
}
.listing .product {
  background: var(--whitespace-color);
  font-size: calc(var(--default-text-size) - 1px);
  padding: 0.5em;
  transition: all 100ms linear;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  overflow: hidden;
}
@media (min-width: 576px) {
  .listing .product:hover {
    border: var(--listing-border);
    background: #fff;
  }
}
.listing .product .image-wrapper {
  background: var(--whitespace-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}
.listing .product .image-wrapper img {
  --f: 1.05;
  /* Scale factor */
  clip-path: inset(0);
  transition: 250ms;
}
.listing .product .image-wrapper img:hover {
  clip-path: inset(calc((1 - 1/var(--f)) * 50%));
  scale: var(--f);
}
.listing .product .image-wrapper .sticker {
  position: absolute;
  top: 1em;
  padding: 0.5em 1em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
.listing .product .image-wrapper .sticker.new {
  background: rgba(251, 184, 41, 0.9);
}
.listing .product .image-wrapper .sticker.sale {
  background: rgba(237, 60, 50, 0.9);
}
.listing .product .name {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 40px;
  line-height: 125%;
  font-weight: 500;
}
.listing .product .brand {
  padding: 1em 0;
}
.listing .product .brand-name {
  color: var(--default-text-color);
  font-size: 0.9em;
  text-overflow: ellipsis;
  text-align: center;
  line-height: 200%;
  white-space: nowrap;
  overflow: hidden;
}
.listing .product .price .price {
  color: #333;
  white-space: nowrap;
}
.listing .product .price .regular-price,
.listing .product .price .recommended-price {
  color: var(--default-text-color);
  font-size: 0.75em;
  font-weight: normal;
  white-space: nowrap;
}
.listing .product .price .final-price {
  font-weight: bold;
  color: #cc0000;
  white-space: nowrap;
}
.listing .product .actions {
  position: absolute;
  display: none;
  top: 1em;
  inset-inline-end: 1em;
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(3px);
  border-radius: 1em;
  margin: 0 -1px -1px -1px;
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.15);
}
.listing .product .actions .btn {
  padding: 0.75em;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  line-height: 1;
  margin: 0;
}
@media (min-width: 576px) {
  .listing .product:hover .actions {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}
.listing .product.rows .link {
  flex-direction: row;
  min-height: 175px;
}
.listing .product.rows .info {
  padding: 0.5rem;
}
@media (min-width: 576px) {
  .listing .product.rows .info {
    inset-inline-start: calc(160px + 1rem);
  }
}
.listing .product.rows .name {
  margin: 0;
}
.listing .product.rows .short-description {
  margin: 1rem;
  font-size: 0.85em;
}
.listing .product.rows .image-wrapper {
  display: inline-block;
  max-width: 100px;
}
@media (min-width: 576px) {
  .listing .product.rows .image-wrapper {
    max-width: 175px;
  }
}
.listing .product.rows .price {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 20%, #ffffff 100%);
}
@media (min-width: 576px) {
  .listing .product.rows {
    height: auto;
  }
  .listing .product.rows .description {
    margin-top: 1rem;
  }
}
.listing.products.columns .product .short-description {
  display: none;
}
[data-toggle="momentum-scroll"] .listing {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.75em;
}
@media (min-width: 576px) {
  [data-toggle="momentum-scroll"] .listing {
    gap: 1em;
  }
}
@media (min-width: 768px) {
  [data-toggle="momentum-scroll"] .listing {
    gap: 1.5em;
  }
}
@media (min-width: 768px) {
  [data-toggle="momentum-scroll"] .listing {
    gap: 2em;
  }
}
[data-toggle="momentum-scroll"] .listing .product {
  flex: 0 0 calc(50% - 0.5em);
}
@media (min-width: 576px) {
  [data-toggle="momentum-scroll"] .listing .product {
    flex: 0 0 calc(33.34% - 1em);
  }
}
@media (min-width: 768px) {
  [data-toggle="momentum-scroll"] .listing .product {
    flex: 0 0 calc(25% - 2em);
  }
}
@media (min-width: 992px) {
  [data-toggle="momentum-scroll"] .listing .product {
    flex: 0 0 calc(20% - 2em);
  }
}
#box-product .images {
  margin-bottom: 2rem;
}
#box-product .main-image {
  position: relative;
  overflow: hidden;
}
#box-product .main-image .sticker {
  color: #fff;
  top: 1em;
  padding: 0.5rem 1rem;
  position: absolute;
  text-transform: uppercase;
  line-height: 100%;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  box-shadow: 2px 3px 3px #0001;
}
#box-product .main-image .sticker.new {
  background: rgba(251, 184, 41, 0.85);
}
#box-product .main-image .sticker.sale {
  background: rgba(237, 60, 50, 0.85);
}
#box-product .price-tag {
  font-size: 1.75em;
}
#box-product .price-tag .regular-price {
  font-size: 0.75em;
}
#box-product .price-tag .final-price {
  color: #cc0000;
}
#box-product .tax {
  color: #999;
}
#box-product .stock-available .value {
  color: #009900;
}
#box-product .stock-partly-available .value {
  color: #ff9900;
}
#box-product .stock-unavailable .value {
  color: #cc0000;
}
#box-product .social-bookmarks {
  display: flex;
}
#box-product .social-bookmarks a {
  font-size: 1.25em;
  padding: 0.5em;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  line-height: 1;
}
#box-product .description p:first-child {
  margin-top: 0;
}
#box-product .description p:last-child {
  margin-bottom: 0;
}
#box-product .technical-data table {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid-column;
}
#box-product .technical-data table td:first-child {
  width: 50%;
}
.price-tag .sale-price {
  color: #cc0000;
}
.loader {
  display: inline-block;
  background: url('../images/loader.svg');
  background-size: cover;
}
