/* Media Breakpoints */
@media (min-width: 768px) {
  body {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) calc(50% - 20px), #ccc 50%, #fff 50%);
  }
}
#content {
  padding: 0.5rem 1rem;
}
@media (min-width: 576px) {
  #content {
    padding: 1rem;
  }
}
.loader-wrapper {
  position: fixed;
  top: 50%;
  left: 10%;
  right: 10%;
  text-align: center;
  margin-top: -128px;
  opacity: 0.1;
  z-index: 999999;
}
#header {
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 250px auto;
}
#header .contact-info {
  align-self: center;
  text-align: right;
  line-height: 150%;
}
@media (min-width: 576px) {
  #header .contact-info {
    font-size: 1.25em;
  }
}
#header .contact-info .title {
  font-weight: bold;
  margin: 0;
}
#box-checkout {
  padding: 2em 0;
}
#box-checkout-cart .thumbnail {
  max-width: 64px;
}
#box-checkout-cart tr td {
  vertical-align: middle;
}
#box-checkout-cart tr td:first-child a {
  display: inline-block;
}
#box-checkout-cart tr td:last-child {
  text-align: right;
}
#box-checkout-cart .error {
  color: #f00;
}
#box-checkout-cart .subtotal {
  font-size: 1.5em;
}
#box-checkout-customer .title {
  margin-top: 0;
}
#box-checkout-customer fieldset {
  border: none;
  padding: 0;
}
#box-checkout-customer button[type=submit]:not([disabled]) {
  font-weight: bold;
  color: #ff0000;
  animation: flasher 1s linear infinite;
}
#box-checkout-shipping .option,
#box-checkout-payment .option {
  display: block;
  position: relative;
  border-radius: var(--border-radius);
  background-color: #fff;
  margin: 1em 0;
  padding: 0.25em;
  border: 2px solid #ccc;
  user-select: none;
}
#box-checkout-shipping .option.btn,
#box-checkout-payment .option.btn {
  padding: 12px;
}
#box-checkout-shipping .option.active,
#box-checkout-payment .option.active {
  background-color: var(--default-background-color);
}
#box-checkout-shipping .option:not(.active) .content,
#box-checkout-payment .option:not(.active) .content {
  max-height: 0;
  overflow-y: hidden;
}
#box-checkout-shipping .option:not(.active):not(.disabled),
#box-checkout-payment .option:not(.active):not(.disabled) {
  opacity: 0.75;
  transition: all 0.25s ease;
  cursor: pointer;
}
#box-checkout-shipping .option .thumbnail,
#box-checkout-payment .option .thumbnail {
  padding: 0 !important;
}
#box-checkout-shipping .option .name,
#box-checkout-payment .option .name {
  margin: 1em 0;
  font-weight: bold;
}
#box-checkout-shipping .option .error,
#box-checkout-payment .option .error {
  color: #c00;
}
#box-checkout-shipping .option .content,
#box-checkout-payment .option .content {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  transition: all 0.25s ease;
}
#box-checkout-shipping .option [class*="col-"],
#box-checkout-payment .option [class*="col-"] {
  align-self: center;
}
@media (min-width: 576px) {
  #box-checkout-shipping .option,
  #box-checkout-payment .option {
    padding: 0.5em;
  }
  #box-checkout-shipping .option .price,
  #box-checkout-payment .option .price {
    position: absolute;
    display: inline-block;
    top: 0.5rem;
    right: 0.5rem;
  }
}
.summary.wrapper {
  height: 100%;
}
#box-checkout-summary .alert {
  padding: var(--input-padding-y) var(--input-padding-x);
  text-align: center;
  line-height: 24px;
}
#box-checkout-summary input[type=checkbox][required]:not(:checked) {
  animation: flasher 1s linear infinite;
}
@media (min-width: 768px) {
  #box-checkout-summary {
    position: sticky;
    top: 3.5em;
  }
}
