/* Media Breakpoints */
.loader-wrapper {
  position: fixed;
  top: 50%;
  left: 10%;
  right: 10%;
  text-align: center;
  margin-top: -128px;
  opacity: 0.1;
  z-index: 999999;
}
#box-checkout {
  padding: 0;
}
#box-checkout .logotype {
  max-width: 250px;
  max-height: 50px;
}
#box-checkout > form > .row {
  height: 100vh;
  grid-gap: 0;
  margin-bottom: 0;
}
#box-checkout .left-wrapper {
  padding: 2em;
}
#box-checkout .left-wrapper .left {
  max-width: 640px;
  margin-left: auto;
}
#box-checkout .right-wrapper {
  background: #fff;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.15);
  padding: 2em;
}
#box-checkout .right-wrapper .right {
  max-width: 640px;
  margin-inline-end: auto;
}
.navigate-back {
  margin-bottom: 2em;
}
.strikethrough-divider {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 2em 0;
}
.strikethrough-divider > span {
  position: relative;
  display: inline-block;
}
.strikethrough-divider > span:before,
.strikethrough-divider > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: var(--default-background);
}
.strikethrough-divider > span:before {
  inset-inline-end: 100%;
  margin-inline-end: 1em;
}
.strikethrough-divider > span:after {
  inset-inline-start: 100%;
  margin-left: 1em;
}
#express-checkout legend {
  text-align: center;
}
#express-checkout .options {
  text-align: center;
}
#express-checkout .option {
  margin: 1em ;
}
#box-checkout-cart .thumbnail {
  max-width: 64px;
}
#box-checkout-cart tr td {
  vertical-align: middle;
}
#box-checkout-cart tr td:first-child a {
  display: inline-block;
}
#box-checkout-cart tr td:last-child {
  text-align: right;
}
#box-checkout-cart .error {
  color: #f00;
}
#box-checkout-cart .subtotal {
  font-size: 1.5em;
}
#box-checkout-customer .title {
  margin-top: 0;
}
#box-checkout-customer .details {
  box-sizing: border-box;
  border-radius: 1em;
  padding: 1em;
  border: 1px solid #d5d5d5;
  margin-bottom: var(--gutter-y);
}
#box-checkout-customer fieldset {
  border: none;
  padding: 0;
}
#box-checkout-customer button[type=submit]:not([disabled]) {
  font-weight: bold;
  color: #ff0000;
  animation: flasher 1s linear infinite;
}
#box-checkout-shipping .option,
#box-checkout-payment .option {
  display: block;
  position: relative;
  padding: 0.5em;
  background: var(--default-background);
  border: var(--default-border);
  border-width: 2px;
  border-radius: var(--border-radius);
  user-select: none;
  overflow: hidden;
}
#box-checkout-shipping .option .error,
#box-checkout-payment .option .error {
  color: #c00;
}
#box-checkout-shipping .option .content,
#box-checkout-payment .option .content {
  max-height: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  transition: all 0.25s ease;
}
#box-checkout-shipping .option:hover:not(:has(input[name$="_option[id]"]:checked)):not(:has(input[name$="_option[id]"][disabled])),
#box-checkout-payment .option:hover:not(:has(input[name$="_option[id]"]:checked)):not(:has(input[name$="_option[id]"][disabled])) {
  cursor: pointer;
  backdrop-filter: brightness(0.9);
}
#box-checkout-shipping .option:has(input[name$="_option[id]"]:checked),
#box-checkout-payment .option:has(input[name$="_option[id]"]:checked) {
  cursor: default;
  background: #e0e0ed;
  border-color: #488ac3;
}
#box-checkout-shipping .option:has(input[name$="_option[id]"]:checked) .thumbnail,
#box-checkout-payment .option:has(input[name$="_option[id]"]:checked) .thumbnail {
  padding: 0.5em;
}
#box-checkout-shipping .option:has(input[name$="_option[id]"]:checked) .name,
#box-checkout-payment .option:has(input[name$="_option[id]"]:checked) .name {
  font-weight: bold;
}
#box-checkout-shipping .option:has(input[name$="_option[id]"]:checked) .content,
#box-checkout-payment .option:has(input[name$="_option[id]"]:checked) .content {
  max-height: 200px;
  overflow-y: auto;
}
#box-checkout-shipping .option:has(input[name$="_option[id]"]:checked)::after,
#box-checkout-payment .option:has(input[name$="_option[id]"]:checked)::after {
  position: absolute;
  top: 0.5em;
  inset-inline-end: -25px;
  background: #000000;
  font-size: 0.8em;
  text-align: center;
  color: #ffffff;
  padding: 0.25em 2em;
  padding-right: 1.5em;
  right: 0;
  border-start-start-radius: var(--border-radius);
  border-end-start-radius: var(--border-radius);
}
#box-checkout-shipping .option .option:has(input[name$="_option[id]"][disabled]),
#box-checkout-payment .option .option:has(input[name$="_option[id]"][disabled]) {
  opacity: 0.75;
}
#box-checkout-shipping .option + .option,
#box-checkout-payment .option + .option {
  margin-top: 1em;
}
@media (min-width: 576px) {
  #box-checkout-shipping .option,
  #box-checkout-payment .option {
    padding: 1em;
  }
}
.summary.wrapper {
  height: 100%;
}
#box-checkout-summary .alert {
  padding: var(--input-padding-y) var(--input-padding-x);
  text-align: center;
  line-height: 24px;
}
#box-checkout-summary input[type=checkbox][required]:not(:checked) {
  animation: flasher 1s linear infinite;
}
@media (min-width: 768px) {
  #box-checkout-summary {
    position: sticky;
    top: 3.5em;
  }
}
