/* Media Breakpoints */
/* Fonts */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v15/va9E4kDNxMZdWfMOD5VfkA.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v15/va9B4kDNxMZdWfMOD5VnLK3uQQ.ttf) format('truetype');
}
/* Variables */
:root {
  --border-radius: 8px;
  --gutter-size: 0.75rem;
  --link-text-color: #5292b1;
  --whitespace-color: #fff;
  --listing-border-color: #ccc;
  --site-background-color: #f4f4f7;
  --header-background-color: #fff;
  --sidebar-width: 320px;
  --default-text-font: 'Fira Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  --default-text-color: #000;
  --default-text-size: 15px;
  --default-line-height: 1.5;
  --default-title-color: #333;
  --default-title-border-color: #f0f0f0;
  --navigation-background-color: rgba(229, 229, 234, 0.8);
  --navigation-text-color: #333;
  --navigation-cart-color: #b7d851;
  --offcanvas-navigation-background-color: #333;
  --offcanvas-navigation-text-color: #fff;
  --offcanvas-navigation-cart-color: #b7d851;
  --card-background-color: #fff;
  --card-text-color: #444;
  --card-border-color: transparent;
  --card-header-background-color: transparent;
  --card-header-text-color: var(--card-text-color);
  --card-body-background-color: transparent;
  --card-footer-backgorund-color: #f2f3f6;
  --primary-background-color: #3b4763;
  --primary-background-color-hover: #4aaac7;
  --primary-background-color-active: #3596b3;
  --primary-text-color: #fff;
  --button-default-background-color: #e1e1e1;
  --button-default-background-color-hover: #e4e4e4;
  --button-default-background-color-active: #ccc;
  --button-default-border-color: #eee;
  --button-success-background-color: #91C231;
  --button-success-background-color-hover: calc(var(--button-success-background-color) * 1.1);
  --button-success-background-color-active: calc(var(--button-success-background-color) * .9);
  --button-success-border-color: #91C231;
  --button-success-text-color: #fff;
  --button-danger-background-color: #d9534f;
  --button-danger-background-color-hover: #d04a46;
  --button-danger-background-color-active: #db5d59;
  --button-danger-border-color: rgba(0, 0, 0, 0.1);
  --button-danger-text-color: #fff;
  --default-notice-background-color: #f0f0f0;
  --default-notice-text-color: #333;
  --primary-notice-background-color: #5bc0de;
  --primary-notice-text-color: #000;
  --success-notice-background-color: #d6eca6;
  --success-notice-text-color: #567d00;
  --warning-notice-background-color: #ffcc66;
  --warning-notice-text-color: #aa0000;
  --danger-notice-background-color: #fcc;
  --danger-notice-text-color: #c44;
  --breadcrumbs-background-color: #ebebee;
  --breadcrumbs-text-color: #000;
  --breadcrumbs-border-color: transparent;
  --input-background-color: #fff;
  --input-padding-x: 1em;
  --input-padding-y: 0.5em;
  --input-text-color: #000;
  --pills-background-color: #fff;
  --pills-background-color-active: #cdcdd4;
  --pills-text-color: #333;
  --pills-text-color-active: var(--pills-text-color);
  --tabs-background-color: #e5e5ea;
  --tabs-background-color-active: #fff;
  --tabs-text-color: #333;
  --tabs-text-color-active: var(--tabs-text-color);
  --table-striped-row-background-odd: #f9f9f9;
  --table-striped-row-background-even: #fff;
  --table-row-hover-background: #ececec;
  --pagination-background-color: var(--default-background-color);
  --pagination-text-color: var(--default-text-color);
  --pagination-border-color: var(--default-border-color);
  --pagination-active-background-color: var(--primary-background-color);
  --pagination-active-text-color: #fff;
  --pagination-hover-background-color: var(--primary-background-color);
  --pagination-hover-text-color: #fff;
  --footer-background-color: #e5e5ea;
  --footer-title-color: #333;
  --footer-text-color: #333;
  --cookie-notice-background-color: var(--navigation-background-color);
  --cookie-notice-text-color: var(--navigation-text-color);
  --copyright-background-color: #d4d4dc;
  --copyright-text-color: var(--footer-text-color);
}
.box.box-default,
.card {
  --input-background-color: #f4f3f5;
}
@media (min-width: 576px) {
  :root {
    --gutter-size: 1rem;
  }
}
@media (min-width: 768px) {
  :root {
    --gutter-size: 2rem;
  }
}
@media (min-width: 992px) {
  :root {
    --gutter-size: 3rem;
  }
}
