@import url(//fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext);

body {
  font: 13px 'Roboto', sans-serif;
  color: #777;
}

a img {
  border: 0px;
}
img.zoomable {
  cursor: url(../cursors/magnify.cur), pointer;
}

a:link, a:visited {
  color: rgb(0, 136, 204);
  text-decoration: none;
}
a:hover, a:active {
  color: rgb(0, 136, 204);
  text-decoration: underline;
}

h1{
  font: 26px 'Open Sans', sans-serif;
  font-weight: normal;
  color: #333;
}
h2{
  font: 20px 'Open Sans', sans-serif;
  font-weight: normal;
  color: #333;
}
h3 {
  font: 16px 'Open Sans', sans-serif;
  font-weight: normal;
  color: #333;
}
h4, h5, h6{
  font: 14px 'Open Sans', sans-serif;
  font-weight: normal;
  color: #333;
}
