.box {
  clear: both;
  max-width: 100%;
  margin: 0px 0px 10px 0px;
}

.box > .heading {
  padding: 0px;
  /*overflow: hidden;*/
}

.box > .heading h1 {
  margin: 0px;
}

.box > .heading h2 {
  font: 23px 'Open Sans', sans-serif;
  font-weight: normal;
  margin: 0px;
}

.box > .heading h3 {
  font: 20px 'Open Sans', sans-serif;
  font-weight: normal;
  margin: 0px;
}

.box > .content {
  padding: 10px 0px;
  margin: 0px;
}

#box-campaigns h3, #box-latest-products h3, #box-most-popular h3, #box-similar-products h3, #box-also-purchased-products h3 {
  font: 2em 'Open Sans', sans-serif;
  font-weight: normal;
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 10px;
  padding: 5px 0px;
}

#box-campaigns h3:before, #box-latest-products h3:before, #box-most-popular h3:before, #box-similar-products h3:before, #box-also-purchased-products h3:before {
  content: "\25bc";
  padding-right: 10px;
  opacity: 0.7;
  font-size: 16px;
}

#box-category-tree li a, #box-information li a {
  color: #888;
}
#box-category-tree a:hover, #box-information a:hover {
  color: rgb(0, 136, 204);
}
#box-category-tree li.active a {
  color: rgb(0, 136, 204);
}
#box-category-tree li.active {
  background: #f3f3f3;
}

#box-information li.active a {
  color: rgb(0, 136, 204);
}
