#box-checkout-cart .slide {
	float:left;
}
#box-checkout-cart .slide a.image-wrapper {
  float: left;
  padding: 10px;
  background-color: #fff;
}
  
#box-checkout-cart .items {
  padding: 10px;
}
#box-checkout-cart .items a {
	display: inline-block;
  width: 64px;
  height: 48px;
  text-align: center;
}
#box-checkout-cart .items a img {
  margin-top: 5px;
}

#box-checkout-cart .items a.inact {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#box-checkout-cart .items a.act, .items a.act:hover{
  background-color: #eee;
  -moz-box-shadow: inset 0 0 5px #888;
  -webkit-box-shadow: inset 0 0 5px#888;
  box-shadow: inset 0 0 5px #888;
}

#box-checkout-account h2, #box-checkout-shipping h2, #box-checkout-payment h2, #box-checkout-summary h2 {
  font: 2em 'Open Sans', sans-serif;
  font-weight: normal;
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 10px;
  padding: 5px 0px;
}
#box-checkout-account h2:before, #box-checkout-shipping h2:before, #box-checkout-payment h2:before, #box-checkout-summary h2:before {
  content: "\25bc";
  padding-right: 10px;
  opacity: 0.7;
  font-size: 16px;
}

#box-checkout-shipping .option-wrapper, #box-checkout-payment .option-wrapper {
  display: inline-block;
  float: left;
  
  margin: 10px;
  
  width: 162px;
  padding: 10px;
  
  background: rgba(255,255,255,1);
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ececec');
  background-image: linear-gradient(bottom, #ececec 9%, #f9f9f9 55%);
  background-image: -o-linear-gradient(bottom, #ececec 9%, #f9f9f9 55%);
  background-image: -moz-linear-gradient(bottom, #ececec 9%, #f9f9f9 55%);
  background-image: -webkit-linear-gradient(bottom, #ececec 9%, #f9f9f9 55%);
  background-image: -ms-linear-gradient(bottom, #ececec 9%, #f9f9f9 55%);
  background-image: -webkit-gradient(	linear,	left bottom, left top, color-stop(0.09, #ececec), color-stop(0.55, #f9f9f9));
  
  -moz-box-shadow: 0px 0px 2px #aaa;
  -webkit-box-shadow: 0px 0px 2px #aaa;
  box-shadow: 0px 0px 2px #aaa;
}
#box-checkout-shipping .option-wrapper .icon, #box-checkout-payment .option-wrapper .icon {
  width: 160px;
  height: 60px;
  border: 1px #ccc solid;
  text-align: center;
  background-color: #fff;
}
#box-checkout-shipping .option-wrapper .name, #box-checkout-payment .option-wrapper .name {
  margin-bottom: 10px;
}
#box-checkout-shipping .option-wrapper .title, #box-checkout-payment .option-wrapper .title {
  margin-top: 10px;
  font-weight: 700;
}

#box-checkout-shipping .option-wrapper .description, #box-checkout-payment .option-wrapper .description {
  position: relative;
  height: 100px;
  overflow-y: auto;
}
#box-checkout-shipping .option-wrapper .description, #box-checkout-payment .option-wrapper .description {
}
#box-checkout-shipping .option-wrapper .price, #box-checkout-payment .option-wrapper .price {
}
#box-checkout-shipping .option-wrapper .select, #box-checkout-payment .option-wrapper .select {
}
#box-checkout-shipping .option-wrapper .footer, #box-checkout-payment .option-wrapper .footer {
  height: 30px;
}

#box-checkout-shipping .option-wrapper.selected, #box-checkout-payment .option-wrapper.selected {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafdff', endColorstr='#e0e7ed');
  background-image: linear-gradient(bottom, #e0e7ed 9%, #fafdff 55%);
  background-image: -o-linear-gradient(bottom, #e0e7ed 9%, #fafdff 55%);
  background-image: -moz-linear-gradient(bottom, #e0e7ed 9%, #fafdff 55%);
  background-image: -webkit-linear-gradient(bottom, #e0e7ed 9%, #fafdff 55%);
  background-image: -ms-linear-gradient(bottom, #e0e7ed 9%, #fafdff 55%);
  background-image: -webkit-gradient(	linear,	left bottom, left top, color-stop(0.09, #e0e7ed), color-stop(0.55, #fafdff));
  
  -moz-box-shadow: 0px 0px 2px #069;
  -webkit-box-shadow: 0px 0px 2px #069;
  box-shadow: 0px 0px 2px #069;
}
