#checkout-cart-wrapper, #checkout-customer-wrapper, #checkout-shipping-wrapper, #checkout-payment-wrapper, #checkout-summary-wrapper {
  clear: both;
}

#customer-service-wrapper {
  position: absolute;
  width: 300px;
  top: 18px;
  right: 0;
  font-weight: bold;
  text-align: right;
}
#customer-service-wrapper .title {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}
#customer-service-wrapper .phone {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#box-checkout-cart {
  margin-top: 10px;
  margin-bottom: 20px;
}

#box-checkout-cart .viewport {
  width: 790px;
  overflow: hidden;
  max-height: 300px;
  padding: 5px;
}
@media (max-width: 640px) {
  #box-checkout-cart .viewport {
    width: 440px;
  }
}

#box-checkout-cart .items {
  list-style: none;
  padding: 0px;
}
#box-checkout-cart .item {
	float: left;
  text-align: left;
  width: 800px;
} 
#box-checkout-cart .item a.image-wrapper {
  float: left;
  padding: 10px;
  margin-right: 20px;
  background-color: #fff;
}
#box-checkout-cart a.image-wrapper img {
  max-width: 160px;
}

#box-checkout-cart .shortcuts {
  list-style: none;
  padding: 10px;
}
#box-checkout-cart .shortcut {
	display: inline;
}
#box-checkout-cart .shortcut a {
  width: 64px;
  height: 48px;
  text-align: center;
}
#box-checkout-cart .shortcut a img {
  margin-top: 5px;
}

#box-checkout-cart .shortcut a.inact {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#box-checkout-cart .shortcut a.act, .shortcut a.act:hover{
  background-color: #eee;
  -moz-box-shadow: inset 0 0 5px #888;
  -webkit-box-shadow: inset 0 0 5px#888;
  box-shadow: inset 0 0 5px #888;
}

#box-checkout-customer h2, #box-checkout-shipping h2, #box-checkout-payment h2, #box-checkout-summary h2 {
  font: 2em 'Open Sans', sans-serif;
  font-weight: normal;
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 10px;
  padding: 5px 0px;
}
#box-checkout-customer h2:before, #box-checkout-shipping h2:before, #box-checkout-payment h2:before, #box-checkout-summary h2:before {
  content: "\25bc";
  padding-right: 10px;
  opacity: 0.7;
  font-size: 16px;
}

#box-checkout-customer .billing-address {
  display: inline-block;
  float: left;
  padding-right: 20px;
}
#box-checkout-customer .shipping-address {
  display: inline-block;
  float: left;
}
#box-checkout-customer .shipping-address h3 {
  margin-top: 19px;
}

#shipping-options, #payment-options {
  margin: 0px -5px;
  overflow: hidden;
}
#shipping-options .option, #payment-options .option {
  display: inline-block;
  float: left;
  
  width: 15%;
  
  margin: 7px;
  
  background: rgb(249,249,249); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */

  -moz-box-shadow: 0px 0px 2px #aaa;
  -webkit-box-shadow: 0px 0px 2px #aaa;
  box-shadow: 0px 0px 2px #aaa;
}

/* WXGA */
@media (max-width: 1150px) {
  #shipping-options .option, #payment-options .option {
    width: 18.1%;
  }
}
@media (max-width: 980px) {
  #shipping-options .option, #payment-options .option {
    width: 22.5%;
  }
}
@media (max-width: 800px) {
  #shipping-options .option, #payment-options .option {
    width: 30.2%;
  }
}
@media (max-width: 640px) {
  #shipping-options .option, #payment-options .option {
    width: 30.2%;
  }
}
@media (max-width: 480px) {
  #shipping-options .option, #payment-options .option {
    width: 46%;
  }
}

#shipping-options .option form, #payment-options .option form {
  padding: 10px;
}
#shipping-options .option .icon-wrapper, #payment-options .option .icon-wrapper {
  border: 1px #ccc solid;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  padding: 10px;
}
#shipping-options .option .icon-wrapper img, #payment-options .option .icon-wrapper img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
#shipping-options .option .name, #payment-options .option .name {
  margin-bottom: 10px;
}
#shipping-options .option .title, #payment-options .option .title {
  margin-top: 10px;
  font-weight: 700;
}
#shipping-options .option .description, #payment-options .option .description,
#shipping-options .option .error, #payment-options .option .error {
  position: relative;
  height: 100px;
  overflow-y: auto;
  margin-bottom: 40px;
}
#shipping-options .option .error, #payment-options .option .error {
  color: #e00;
}
#shipping-options .option .footer, #payment-options .option .footer {
  position: relative;
}
#shipping-options .option .price, #payment-options .option .price {
  position: absolute;
  display: inline;
  right: 0px;
  bottom: 34px;
  font-size: 1.25em;
}
#shipping-options .option .select, #payment-options .option .select {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#shipping-options .option .select button, #payment-options .option .select button {
  width: 100%;
}

#shipping-options .option.selected, #payment-options .option.selected {
  background: rgb(244,248,249); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjhmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGYzZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(244,248,249,1) 0%, rgba(232,243,247,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,248,249,1)), color-stop(100%,rgba(232,243,247,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(244,248,249,1) 0%,rgba(232,243,247,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(244,248,249,1) 0%,rgba(232,243,247,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(244,248,249,1) 0%,rgba(232,243,247,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(244,248,249,1) 0%,rgba(232,243,247,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f8f9', endColorstr='#e8f3f7',GradientType=0 ); /* IE6-8 */

  -moz-box-shadow: 0px 0px 2px #069;
  -webkit-box-shadow: 0px 0px 2px #069;
  box-shadow: 0px 0px 2px #069;
}

#box-checkout-summary button[name=confirm_order] {
  background: rgb(152, 204, 52);
  font-size: 1.25em;
  color: #fff;
  border-radius: 4px 4px 4px 4px;
  border: none;
  padding: 10px 20px;
  font-weight: normal;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 640px) {
  #box-checkout-summary th.sku, #box-checkout-summary th.unit-cost, #box-checkout-summary th.tax {
    font-size: 1px;
    width: auto;
  }
  #box-checkout-summary td.sku, #box-checkout-summary td.unit-cost, #box-checkout-summary td.tax {
    font-size: 1px;
  }
}

#box-checkout-summary .comments textarea {
  float: left;
  display: inline-block;
  min-width: 450px;
  max-width: 50%;
  height: 50px;
}

#box-checkout-summary .confirm {
  float: right;
  display: inline-block;
  text-align: right;
}