.hover-light:hover {
  -moz-box-shadow: 0px 0px 3px #069 !important;
  -webkit-box-shadow: 0px 0px 3px #069 !important;
  box-shadow: 0px 0px 3px #069 !important;
}

.glass-effect {
  background: #fff;
  
  box-shadow: 0 2px 6px rgba(0,0,0,0.5),
              inset 0 1px rgba(255,255,255,0.3),
              inset 0 10px rgba(255,255,255,0.2),
              inset 0 10px 20px rgba(255,255,255,0.25),
              inset 0 -15px 30px rgba(0,0,0,0.3);
  -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5),
                 inset 0 1px rgba(255,255,255,0.3),
                 inset 0 10px rgba(255,255,255,0.2),
                 inset 0 10px 20px rgba(255,255,255,0.25),
                 inset 0 -15px 30px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5),
                      inset 0 1px rgba(255,255,255,0.3),
                      inset 0 10px rgba(255,255,255,0.2),
                      inset 0 10px 20px rgba(255,255,255,0.25),
                      inset 0 -15px 30px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5),
                   inset 0 1px rgba(255,255,255,0.3),
                   inset 0 10px rgba(255,255,255,0.2),
                   inset 0 10px 20px rgba(255,255,255,0.25),
                   inset 0 -15px 30px rgba(0,0,0,0.3);
}

.box-gradient1 {
  background: -moz-linear-gradient(center bottom , rgb(223, 223, 223) 0%, rgb(242, 242, 242) 66%, rgb(242, 242, 242) 100%) repeat scroll 0% 0% transparent;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(223, 223, 223, 1)), color-stop(66%, rgba(242, 242, 242, 1)), color-stop(100%, rgba(242, 242, 242, 1)));
  border-bottom: 1px solid rgb(235, 235, 235);
}

.rounded-corners {
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.rounded-corners-top {
  border-radius: 4px 4px 0px 0px;
  -khtml-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  -o-border-radius: 4px 4px 0px 0px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}

.rounded-corners-bottom {
  border-radius: 0px 0px 4px 4px;
  -khtml-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -o-border-radius: 0px 0px 4px 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
}

.semi-transparent {
  opacity: 0.5;
}

.shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.inner-shadow-top {
  box-shadow: inset 0px 4px 4px -4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 4px 4px -4px rgba(0, 0, 0, 0.3); 
}

.inner-shadow {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3); 
}

.engraved-text {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

.column {
  position: relative;
  float: left;
}

.columns-two {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-rule-color:  #ccc;
  -moz-column-rule-style:  solid;
  -moz-column-rule-width:  1px;
  -webkit-column-rule-color:  #ccc;
  -webkit-column-rule-style: solid ;
  -webkit-column-rule-width:  1px;
}