.twelve-eighty {
  min-width: 280px;
  max-width: 1280px;
  margin: 0px auto;
}

.hover-light:hover {
  box-shadow: 0px 1px 2px #0088cc !important;
}

.rounded-corners {
  border-radius: 4px 4px 4px 4px;
}

.rounded-corners-top {
  border-radius: 4px 4px 0px 0px;
}

.rounded-corners-bottom {
  border-radius: 0px 0px 4px 4px;
}

.rounded-corners-left {
  border-radius: 4px 0px 0px 4px;
}

.rounded-corners-right {
  border-radius: 0px 4px 4px 0px;
}

.semi-transparent {
  opacity: 0.5;
}

.shadow {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.inner-shadow-top {
  box-shadow: inset 0px 4px 4px -4px rgba(0, 0, 0, 0.3);
}

.inner-shadow {
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.engraved-text {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

ul.list-vertical {
  margin: 0px;
  padding: 0px;
}
ul.list-vertical li {
  margin: 0px;
  padding: 2px 0px;
  list-style: none;
}
ul.list-vertical ul {
  margin-left: 18px;
  padding: 0px;
  border:1px #000;
}

ul.list-horizontal {
  margin: 0px;
  padding: 0px;
}
ul.list-horizontal li {
  display: inline-block;
  margin: 0px;
  padding: 2px;
  list-style: none;
}

a.zoomable {
  cursor: url(../cursors/magnify.cur), pointer;
}