@import url(boxes.css);
@import url(forms.css);
@import url(listing.css);
@import url(notices.css);
@import url(pagination.css);
@import url(tables.css);
@import url(tabs.css);
@import url(top_menu.css);

html {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 20px;
  padding: 0px;
  
  font-size: 12px;
  font-family: /*"Myriad Pro",*/ Arial, Helvetica,sans-serif;
  line-height: 125%;
  
  background: #eef7fc url(../images/background-gradient.png) repeat-x;
}

a:link, a:visited{
  color: #3863c5;
  text-decoration: none;
}
a:hover, a:active{
  color: #c00;
  text-decoration: underline;
}

h1{
  font-size: 1.5em;
}

h2{
  font-size: 1.3em;
}

h3{
  font-size: 1.1em;
}

.semi-transparent {
  opacity: 0.5;
}

#body-wrapper {
  min-width: 560px;
  max-width: 980px;

  border: 1px solid rgba(128,128,128,0.5);
  
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px;
  
  background: rgba(128,128,128,0.25);
  /*background: url(../images/background-tile-blurry.jpg) fixed;*/
  
  box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 40px rgba(255,255,255,0.2), inset 0 50px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 40px rgba(255,255,255,0.2), inset 0 50px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 40px rgba(255,255,255,0.2), inset 0 50px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 50px rgba(255,255,255,0.2), inset 0 50px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  
  padding: 10px;
  margin: auto;
}


#body{
  padding: 10px;
  background-color: #fff;
  border: 1px #919191 solid;
  
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px;
}

#header {
  padding: 5px;
}

#header .title {
  font-size: 28px;
}

#languages-wrapper {
  text-align: right;
}
#currencies-wrapper {
  text-align: right;
}
#search-wrapper {
  margin-top: 10px;
  text-align: right;
}

#menu-wrapper {
  margin-top: 10px;
  padding: 10px;
  
  border: 1px #919191 solid;
  border-bottom: 1px #d1d1d1 solid;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ececec');
  background-image: linear-gradient(bottom, #ececec 9%, #f9f9f9 55%);
  background-image: -o-linear-gradient(bottom, #ececec 9%, #f9f9f9 55%);
  background-image: -moz-linear-gradient(bottom, #ececec 9%, #f9f9f9 55%);
  background-image: -webkit-linear-gradient(bottom, #ececec 9%, #f9f9f9 55%);
  background-image: -ms-linear-gradient(bottom, #ececec 9%, #f9f9f9 55%);
  background-image: -webkit-gradient(	linear,	left bottom, left top, color-stop(0.09, #ececec), color-stop(0.55, #f9f9f9));

  border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
}
#menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
#menu li{
  display: inline-block;
  /*white-space: nowrap;*/
}
#menu li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  color:#333;
}

#content-wrapper {
  margin-bottom: 10px;
  border: 1px #919191 solid;
  border-top: none;
  background-color: #fff;
  padding: 5px;
  
  border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;

  -moz-box-shadow: inset 0px 2px 2px #ccc;
  -webkit-box-shadow: inset 0px 2px 2px #ccc;
  box-shadow: inset 0px 2px 2px #ccc;
}

#sidebar {
  margin: 0px;
  padding: 10px;
	width: 230px;
  border-right: 1px #d1d1d1 dotted;
}
@media screen and (max-width: 480px) {
  
}

@media screen and (max-width: 710px) {
  #sidebar { display: none; }
  body { margin: 10px; }
}

#breadcrumbs {
}

#content {
  margin: 10px;
  padding: 10px;
  min-height: 400px;
}

#footer {
  padding: 0px 10px;
}

#copyright {
  font-size: 0.75em;
}

/* Additional stylesheets */