ul.listing-wrapper {
  margin: 0px;
  padding: 0px;
  
  overflow: auto;
  
  text-decoration: none;
  color: #000;
}



/* Category */
ul.listing-wrapper > .category {
  display: inline-block;
  float: left;
  
  padding: 0px;
  margin: 5px;
  
  background: rgb(255, 255, 255);
  
  -moz-box-shadow: 0px 0px 2px #aaa;
  -webkit-box-shadow: 0px 0px 2px #aaa;
  box-shadow: 0px 0px 2px #aaa;
  
}
ul.listing-wrapper > .category a.link {
  display: block;
  padding: 5px;
  
  text-decoration: none;
  color: inherit;
}
ul.listing-wrapper > .category .image {
  position: relative;
  overflow: hidden;
}
ul.listing-wrapper > .category .footer {
  display: block;

  width: 100%;
  padding: 5px;

  background: rgba(100, 100, 100, 0.75);
  color: #fff;
  
  text-align: center;
}
ul.listing-wrapper > .category .title {
  font-weight: bold;
}

@media (max-width: 640px) {
  ul.listing-wrapper > .category a.link {
    width: 275px;
  }
}

/* Manufacturers */
ul.listing-wrapper  > .manufacturer {
  display: inline-block;
  float: left;
  
  padding: 0px;
  margin: 5px;
  
  background: rgb(255, 255, 255);
  
  -moz-box-shadow: 0px 0px 2px #aaa;
  -webkit-box-shadow: 0px 0px 2px #aaa;
  box-shadow: 0px 0px 2px #aaa;
  
  text-align: center;
}
ul.listing-wrapper > .manufacturer a.link {
  display: block;
  
  width: 225px;
  padding: 5px;
  
  text-decoration: none;
  color: inherit;
}
ul.listing-wrapper > .manufacturer .image img {
  width: 100%;
  height: auto;
}
ul.listing-wrapper > .manufacturer .title {
  display: block;

  width: 100%;
  padding: 5px 0px;

  background: rgba(100, 100, 100, 0.75);
  color: #fff;
}
@media (max-width: 640px) {
  ul.listing-wrapper > .manufacturer a.link {
    width: 175px;
  }
}

/* Product */
ul.listing-wrapper > .product {
  display: inline-block;
  float: left;
  
  padding: 0px;
  margin: 5px;
  
  -moz-box-shadow: 0px 0px 2px #aaa;
  -webkit-box-shadow: 0px 0px 2px #aaa;
  box-shadow: 0px 0px 2px #aaa;
}
ul.listing-wrapper > .product a.link {
  display: block;
  
  margin: 0px;
  padding: 10px;
  
  background: #fff;

  text-decoration: none;
  color: inherit;
  
  text-align: left;
}
ul.listing-wrapper > .product .manufacturer {
  color: #999;
  font-size: 0.8em;
  width: 145px; /* img width */
  overflow: hidden;
  white-space: nowrap;
}
ul.listing-wrapper > .product .price {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}
ul.listing-wrapper > .product .regular-price {
  font-weight: normal;
  font-size: 12px;
}
ul.listing-wrapper > .product .campaign-price {
  color: #900;
}

ul.listing-wrapper > .product .price .campaign-price {
  color: #c00;
}

@media (max-width: 640px) {
  ul.listing-wrapper > .product a.link {
    width: 166px;
  }
}

#box-latest-products ul.listing-wrapper > .product {
  width: 185px;
}
#box-most-popular ul.listing-wrapper > .product {
  width: 185px;
}
#box-new-products ul.listing-wrapper > .product {
  width: 185px;
}
