#box-product .heading h1 {
  margin-bottom: 0px;
}

#box-product .heading {
  margin-bottom: 20px;
}

#box-product .product-images-wrapper {
  float: left;
  display: inline-block;
  margin: 0px 20px 20px 0px;
}
#box-product .product-images-wrapper img.main-image {
  width: 300px;
  height: 300px;
  margin: 0px;
}
#box-product .product-images-wrapper img.extra-image {
  width: 96px;
  margin: 5px 5px 0px 0px;
}

@media (max-width: 640px) {
  margin: 0px;
}

#box-product .sticker {
  position: absolute;
  top: 0;
  left: 0;
}

#box-product .price-wrapper {
  font-size: 22px;
}

#box-product .regular-price {
  font-size: 16px;
}

#box-product .campaign-price {
  color: #c00;
}

#box-product .tax {
  color: #999;
}

#box-product .stock-available .value {
  color: #090;
}

#box-product .stock-partly-available .value {
  color: #f90;
}

#box-product .stock-unavailable .value {
  color: #c00;
}

#box-product .tabs {
  clear: left;
  white-space: normal;
}

#box-product #tab-details table {
  max-width: 100%;
}
#box-product #tab-details table td, #box-product #tab-details table th {
  padding: 5px 10px;
}
#box-product #tab-details table tr td:first-child {
  width: 100px;
  white-space: nowrap;
}
#box-product #tab-details table tr th {
  text-align: left;
  font-weight: bold;
}
#box-product #tab-details table tr.odd {
  background-color: #fcfcfc;
}
#box-product #tab-details table tr.even {
  background-color: #f5f5f5;
}

#box-product .information {
  display: inline-block;
  white-space: nowrap;
  /*min-width: 200px;*/
}