@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700,500);

html, body {
  background-color: #fff;
  color: #333;
}

html {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 10px;
  
  font: 14px 'Maven Pro', sans-serif;
}

img.zoomable {
  cursor: url(../cursors/magnify.cur), pointer;
}

a:link, a:visited{
  color: rgb(0, 136, 204);
  text-decoration: none;
}
a:hover, a:active{
  color: rgb(0, 136, 204);
  text-decoration: underline;
}

h1{
  font-size: 1.75em;
  font-weight: normal;
}
h2{
  font-size: 1.4em;
  font-weight: normal;
}
h3{
  font-size: 1.15em;
  font-weight: normal;
}

span.required {
  color: #f00;
}

#page {
  min-width: 590px;
  max-width: 980px;
  
  padding: 10px;
  margin: auto;
}

#header-wrapper {
  margin-bottom: 10px;
}
#header {
  position: relative;
  height: 120px;
}

#logotype-wrapper {
  margin: 5px;
}

#logotype-wrapper {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
}

#languages-wrapper {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}
#currencies-wrapper {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 35px 10px;
}
#search-wrapper {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
}
#site-menu-wrapper {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 10px;
}

#navigation {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
}
#cart-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  margin: 10px;
}
#cart {
  display: inline-block;
  white-space: nowrap;
}
#cart button {
  margin: -1px 0 0 0;
  background: -moz-linear-gradient(rgb(55, 170, 234), rgb(17, 126, 210)) repeat scroll 0px 0px rgb(73, 165, 213);
  background-color: #49A5D5;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#37AAEA', endColorstr='#117ED2');
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#37AAEA), to(#117ED2)) repeat scroll 0 0 #408EDB;
  
  border: 1px solid rgb(76, 136, 188);
  
  color: rgb(255,255,255);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.6);
}

#site-menu {
}
#site-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#site-menu ul li{
  display: inline-block;
  /*white-space: nowrap;*/
}
#site-menu ul li a {
  display: block;
  padding: 0 5px;
  text-decoration: none;
  text-align: center;
  color: #333;
}

#top-menu {
  /* see separate file */
}

#column-left-wrapper {
  margin-right: 10px;
}

#main {
  margin: 10px 0px;
}

#sidebar {
  margin-right: 10px;
  
	width: 210px;
  padding: 10px;
  
  background-color: rgba(255, 255, 255, 1);
}
/*
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 900px) {
  #sidebar {
    display: none;
  }
  body {
    margin: 10px;
  }
}
*/

#content {
  /*margin-left: 270px;*/
  min-height: 400px;
  /*padding: 20px;*/
  /*background-color: rgba(255, 255, 255, 1);*/
}

#breadcrumbs {
  margin-bottom: 10px;
}

#breadcrumbs, #breadcrumbs a {
  color: rgb(136, 136, 136);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

#footer {
  padding: 0px 10px;
}

#footer table {

}
#footer table td {
  padding: 10px;
}

#footer * {
  color: rgb(136, 136, 136);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}
#footer strong {
  color: rgb(102, 102, 102);
}

#footer ul {
  padding: 0;
}
#footer ul li {
  list-style: none;
}
#footer ul li ul {
  padding: 0 0 0 15px;
}
/*
#footer .information ul {
  padding: 0;
}
#footer .information ul li {
  list-style: none;
}*/

#footer h1 {
  font-size: 1.2em;
}

#copyright {
  font-size: 0.75em;
  text-align: left;
}

#scroll-up{
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 50px;
  right: 100px;
  display: none;
  text-indent: -9999px;
  background: url('../images/scroll_up.png') no-repeat;
}

ul.navigation-vertical {
  margin: 0;
  padding: 0;
}
ul.navigation-vertical li {
  margin: 0;
  padding: 2px;
  list-style: none;
}
ul.navigation-vertical ul {
  margin-left: 18px;
  padding: 0;
  border:1px #000;
}

ul.navigation-horizontal {
  margin: 0;
  padding: 0;
}
ul.navigation-horizontal li {
  display: inline-block;
  margin: 0;
  padding: 2px;
  list-style: none;
}