html, body {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  background: #f0f0f0;
}

#header-wrapper {
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
}
#header {
  position: relative;
  height: 75px;
}

#page-wrapper {
  margin: 0px;
  padding: 10px;
  padding-top: 90px;
  background: #f9f9f9;
  border-bottom: 1px solid #e5e5e5;
}
#page {
}

#logotype-wrapper {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0px;
}

#region-wrapper {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 25px;
  width: 400px;
  margin: 0px -200px;
}
#region {
  font-size: 0.95em;
  color: #777;
  display: table;
  border-collapse: collapse;
  margin: 0px auto;
  border: 1px #ccc solid;
  background: #eee;
  padding: 0px;
}
#region > div {
  display: inline-block;
  padding: 5px 5px;
  vertical-align: middle;
}
#region > div:first-child {
  padding-left: 10px;
}
#region > div:last-child {
  padding-right: 5px;
}
#region .language {
  line-height: 1em;
}
#region .currency {
  padding: 0px;
  cursor: default;
}
#region .currency span {
  padding: 1px 5px;
  border: 1px solid #d1d1d1;
  background: #fff;
}
#region .country {
  cursor: default;
}
#region .change {
  border-left: 1px #ccc solid;
  
  cursor: default;
  background: #fff;
}
@media (max-width: 640px) { /* WVGA 480x800 and lower */
  #region-wrapper {
    display: none;
  }
}

#cart-wrapper {
  position: absolute;
  bottom: 15px;
  right: 20px;
  display: inline-block;
}
#cart {
  position: relative;
  white-space: nowrap;
}
#cart > a img {
  float: left;
  vertical-align: bottom;
  margin: -10px 5px 0px 0px;
  width: 48px;
  height: 48px;
}
#cart > a.content {
  display: inline-block;
  text-align: left;
  color: inherit;
  white-space: nowrap;
  vertical-align: middle;
}
@media (max-width: 640px) { /* WVGA 480x800 and lower */
  #cart > a.content {
    display: none;
  }
}

#site-menu-wrapper {
  position: relative;
  left: 0px;
  bottom: 0px;
  margin-bottom: 20px;
}
#site-menu {
  /* see site_menu.css */
}
@media (max-width: 640px) {
  #site-menu-wrapper {
    display: none;
  }
}

#site-links {
  font-size: 11px;
}
#site-links li {
  border-left: 1px solid #ccc;
  padding: 0px 5px;
}
#site-links li:first-child {
  border: none;
  padding-left: 0px;
}
#site-links li:last-child {
  padding-right: 0px;
}

#main-wrapper {
  margin-bottom: 20px;
  min-height: 400px;
  width: 100%;
}

#main .middle {
}
#main .middle > .left, #main .middle  > .content {
  display: table-cell;
  vertical-align: top;
  /*border: 1px #f00 solid;*/
}
#main .middle  > .content {
  width: 100%;
}
#main .middle  > .left > * {
  margin-right: 20px;
}

@media (max-width: 640px) {
  #main .middle > .left {
    display: block;
    vertical-align: top;
    margin-right: 0px;
  }
  #main .middle > .left > * {
    display: block;
    width: auto;
    max-width: 100%;
    margin-right: 0px;
  }
  #main .middle  > .left > *:last-child {
    margin-bottom: 20px;
  }
  #main .middle > .content {
    display: block;
    vertical-align: top;
  }
}

#breadcrumbs-wrapper {
  overflow: hidden;
}
#breadcrumbs {
  padding: 0px 20px;
  display: inline-block;
  float: left;
}

#footer-wrapper {
  margin: 20px 0px;
}
#footer {
  line-height: 1.7;
}
#footer table {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  border-collapse: separate;
  margin: 5px 0px;
  padding-top: 15px;
}
#footer table td {
  padding: 5px 20px;
  vertical-align: top;
  width: 20%;
}
#footer table td:first-child{
  border-left: none;
}
#footer table td:last-child {
  border-right: none;
}
#footer * {
  color: #777;
}
#footer a:hover {
  color: rgb(0, 136, 204);
}
#footer strong {
  color: rgb(102, 102, 102);
}
#footer h4 {
  font: 1.5em 'Open Sans', sans-serif;
  font-weight: normal;
  color: #333;
  margin: 0px 0px 0.75em 0px;
}
#footer ul.list-vertical li {
  padding: 0px;
}

#footer .contact p {
  margin: 0;
}

@media (max-width: 640px) {
  #footer tr > .categories {
    display: none;
  }
  #footer tr > .manufacturers {
    display: none;
  }
  #footer tr > .account {
    display: none;
  }
}

#copyright p {
  padding: 0px 20px;
  font-size: 0.9em;
  color: #777;
  text-align: center;
}

#scroll-up{
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 5%;
  right: 5%;
  display: none;
  text-indent: -9999px;
  background: url('../images/scroll_up.png') no-repeat;
}

aside.column-left {
  width: 200px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 1);
}
aside.column-left .box:last-child {
  margin-bottom: 0px;
}
@media (max-width: 640px) {
  #main .left aside:not(:first-child) {
    display: none;
  }
}

#cookies-acceptance-wrapper {
  border: 1px #ddd solid;
  margin-bottom: 20px;
}
#cookies-acceptance {
  text-align: center;
  padding: 5px 0px;
}