html, body {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  background: #f0f0f0;
}

#header-wrapper {
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
}
#header {
  position: relative;
  height: 75px;
}

#page-wrapper {
  margin: 0px;
  padding: 10px;
  padding-top: 90px;
  background: #f9f9f9;
  border-bottom: 1px solid #e5e5e5;
}
#page {
}

#logotype-wrapper {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0px;
}

#site-links-wrapper {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 0px;
}
#site-links a {
  color: #777;
}
#site-links a:hover {
  color: rgb(0, 136, 204);
  text-decoration: none;
}

#region-wrapper {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 25px;
  width: 400px;
  margin: 0px -200px;
}
#region {
  font-size: 0.95em;
}
#region table {
  border-collapse: collapse;
  margin: 0px auto;
}
#region table tr td {
  padding: 5px 5px;
}
#region table tr td {
  border: 1px #ccc solid;
  text-align: left;
}
#region table tr td:first-child {
  background: #eee;
  vertical-align: middle;
}
#region .language {
  vertical-align: middle;
  margin-left: 4px;
  display: inline;
  line-height: 1em;
}
#region .currency {
  margin-left: 5px;
  display: inline;
  color: #777;
  border: 1px solid #d1d1d1;
  padding: 0px 4px;
  background-color: #fff;
  cursor: default;
}
#region .country {
  display: inline;
  color: #777;
  padding: 0px 4px;
  cursor: default;
}
@media (max-width: 640px) { /* WVGA 480x800 and lower */
  #region-wrapper {
    display: none;
  }
}

#cart-wrapper {
  position: absolute;
  bottom: 10px;
  right: 0px;
  display: inline-block;
}
#cart {
  position: relative;
  white-space: nowrap;
}
#cart > a.image {
  float: left;
  vertical-align: bottom;
  margin-right: 5px;
  width: 32px;
  height: 32px;
}
#cart > a.content {
  display: inline-block;
  text-align: left;
  color: inherit;
  white-space: nowrap;
  vertical-align: middle;
}

#site-menu-wrapper {
  position: relative;
  left: 0px;
  bottom: 0px;
  margin-bottom: 20px;
}
#site-menu {
  /* see site_menu.css */
}

#site-links {
  font-size: 11px;
}
#site-links li {
  border-left: 1px solid #ccc;
  padding: 0px 5px;
}
#site-links li:first-child {
  border: none;
  padding-left: 0px;
}
#site-links li:last-child {
  padding-right: 0px;
}

#main-wrapper {
  margin-bottom: 20px;
  min-height: 400px;
}
#main tr > .top > *:first-child {
  margin-bottom: 20px;
}
#main tr > .left > * {
  margin-right: 20px;
}
#main tr > .content {
  width: 100%;
}
#main tr > .right > *:first-child {
  margin-right: 20px;
}
#main tr > .bottom > *:first-child {
  margin-top: 20px;
}

@media (max-width: 640px) {
  #main tr > .left {
    display: none;
  }
  #main tr > .right {
    display: none;
  }
}

#breadcrumbs-wrapper {
  width: 50%;
  overflow: hidden;
}
#breadcrumbs {
  padding: 0px 20px;
  display: inline-block;
  float: left;
}

#footer-wrapper {
  margin: 20px 0px;
}
#footer {
  line-height: 1.7;
}
#footer table {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  border-collapse: separate;
  margin: 5px 0px;
  padding-top: 15px;
}
#footer table td {
  padding: 5px 20px;
  vertical-align: top;
  width: 20%;
}
#footer table td:first-child{
  border-left: none;
}
#footer table td:last-child {
  border-right: none;
}
#footer * {
  color: #777;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}
#footer a:hover {
  color: rgb(0, 136, 204);
}
#footer strong {
  color: rgb(102, 102, 102);
}
#footer h4 {
  font: 1.5em 'Open Sans', sans-serif;
  font-weight: normal;
  color: #333;
  margin: 0px 0px 0.75em 0px;
}
#footer ul.list-vertical li {
  padding: 0px;
}

#footer .contact p {
  margin: 0;
}

@media (max-width: 640px) {
  #footer tr > .categories {
    display: none;
  }
  #footer tr > .manufacturers {
    display: none;
  }
  #footer tr > .account {
    display: none;
  }
}

#copyright p {
  padding: 0px 20px;
  font-size: 0.9em;
  color: #777;
  text-align: center;
}

#scroll-up{
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 50px;
  right: 100px;
  display: none;
  text-indent: -9999px;
  background: url('../images/scroll_up.png') no-repeat;
}

#cookies-acceptance-wrapper {
  border: 1px #ddd solid;
  margin-bottom: 20px;
}
#cookies-acceptance {
  text-align: center;
  padding: 5px 0px;
}